{{#if (eq @visibleTab @id)}}
  <div class="sidebar-content">
    <div class="sidebar-pane active">
      <h3>{{@title}}</h3>
      <div class="sidebar-pane-content">
        {{yield}}
      </div>
    </div>
  </div>
{{/if}}