{% from "notifications/events-table.jinja" import render_events_table with context %}
{% from "macros/datetime.jinja" import timeago_script with context %}

{% extends "base-page.jinja" %}
{% set active_page = "notifications" %}


{% block title %}{% trans %}Notifications{% endtrans %}{% endblock %}


{% block scripts -%}
{{ super() }}
{{ timeago_script() }}
{%- endblock %}


{% block content -%}
{% if events|count != 0 -%}
  {{ pager() }}
  {{ render_events_table(events) }}
  {{ pager() }}
{%- else -%}

  {% trans %}There are no more notifications.{% endtrans %}

{%- endif %}
{%- endblock %}

{% macro pager() -%}
<div class="row">
  <div class="col-xs-4">
    {% if prev_page is number -%}
      <a href="{{ url_for('.index', **(request.args|add_to_dict(page=prev_page))) }}" class="btn btn-default"> &larr; {% trans %}Newer{% endtrans %}</a>
    {%- else -%}
      &nbsp;
    {%- endif %}
  </div>

  <div class="col-xs-4" style="text-align:center">
    <a href="{{ url_for('.clear', **request.args) }}" title="{{ _('Mark all as read') }}" class="btn btn-default"><i class="icon-eye-open"></i> <span class="hidden-xs">{{ _('Mark all as read') }}</span></a>
  </div>

  <div class="col-xs-4" style="text-align:right">
    {% if next_page is number -%}
      <a href="{{ url_for('.index', **(request.args|add_to_dict(page=next_page))) }}" class="btn btn-default">{% trans %}Older{% endtrans %} &rarr;</a>
    {%- else -%}
      &nbsp;
    {%- endif %}
  </div>
</div>
{%- endmacro %}
