.olFullscreen {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #fff;
}

.ol-viewport .plane_marker {
  position: absolute;
  min-height: 1em;
}

.olFullscreen .ol-scale-line,
.olFullscreen .ol-attribution {
  bottom: 172px;
  margin-bottom: 10px;
}

.ol-control,
.ol-control:hover {
  z-index: 1001;
  padding: 0px;
  background: none;
  box-shadow: 0 0 8px rgba(50,50,50,0.3);
}

.ol-scale-line,
.ol-control button {
  background: white;
  background: rgba(255,255,255,0.7);
  border: 1px solid #bbb;
  border-radius: 4px;
  color: #000;
}

.ol-control button:hover {
  background: white;
}

.ol-scale-line-inner {
  color: #000;
  border-color: #000;
}

.ol-zoom {
  border: 1px solid #bbb;
}

.ol-zoom .ol-zoom-in {
  border: 0px;
  border-bottom: 1px solid #bbb;
  border-radius: 4px 4px 0px 0px;
  margin: 0px;
}

.ol-zoom .ol-zoom-out {
  border: 0px;
  border-radius: 0px 0px 4px 4px;
  margin: 0px;
}

.ol-attribution:not(.ol-collapsed) {
  background: white;
}

.map-overlay {
  background-color: white;
  opacity: 0.95;
  border-radius: 3px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.map-bottom-panel {
  position: absolute;
  bottom: 10px;
  left: 7px;
  right: 7px;
  z-index: 2000;
}

@media (max-width: 767px) {
  .map-bottom-panel {
    bottom: 0;
    left: 0;
    right: 0;
  }
}
