.olFullscreen {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #fff;
}

.olFullscreen .ol-viewport .ol-attribution {
  bottom: 125pt !important;
}

.olFullscreen .ol-viewport .ol-scale-line {
  bottom: 125pt !important;
}

.olMap .plane_marker {
  position: absolute;
  min-height: 1em;
}
