{% extends "base-page-FLASK.jinja" %}
{% set active_page = "about" %}

{% block title %}{% trans %}About{% endtrans %}{% endblock %}

{%- block content %}
<div id="getting_started">
  <p>
    <h3><b>{% trans %}Welcome to SkyLines, the internet platform for sharing flights!{% endtrans %}</b></h3>
  </p>
  <p>
    <b>{% trans %}The major goals of the Skylines project are:{% endtrans %}</b>
    <ul>
      <li>{% trans %}To provide a free platform for sharing and analysing flights{% endtrans %}</li>
      <li>{% trans %}Skylines is based on free software{% endtrans %} (<a href="http://git.xcsoar.org/cgit/master/skylines.git/tree/COPYING" target="_blank">{% trans %}License{% endtrans %}</a>)</li>
      <li>{% trans %}The stored flights are available for everybody without any limitations.{% endtrans %}</li>
      <li>{% trans %}Skylines is a non-commercial project, there are no ads on the webpage, its free of charge.{% endtrans %}</li>
      <li>{% trans url='/tracking/' %}Skylines has <a href="{{ url }}">Live Tracking</a>, let your friends participate on your adventures.{% endtrans %}</li>
      <li>{% trans %}Skylines has also some social network aspects with comments, notifications, friends and followers.{% endtrans %}</li>
      <li>{% trans welt2000='<a href="http://www.segelflug.de/vereine/welt2000/" target="_blank">WELT2000</a>' %}Airport and Waypoint data is provided by the {{ welt2000 }} project.{% endtrans %} (<a href="http://opendatacommons.org/licenses/odbl/1.0/" target="_blank">{% trans %}License{% endtrans %}</a>)</li>
    </ul>
  </p>

  <p>
    {% trans %}Current status{% endtrans %}: <span class="label label-warning"><i class="icon-wrench"></i> {% trans %}under development{% endtrans %}</span>
  </p>

  <p>
    {% trans xcsoar='<a href="http://www.xcsoar.org/" target="_blank">XCSoar</a>' -%}
    SkyLines was brought to you by the {{ xcsoar }} project.
    {%- endtrans %}
    {%- trans %}It is free software;{% endtrans %}
    <a href="http://git.xcsoar.org/cgit/master/skylines.git/" target="_blank">{% trans %}the source code is available here{% endtrans %}</a>.
  </p>

  <p>
    {% trans url='http://www.xcsoar.org/develop/new_ticket.html' -%}
    If you think that something is missing or you think that you have found a bug please follow the instructions <a href="{{ url }}" target="_blank">here</a> to write a feature request or bug report.
    {%- endtrans %}
  </p>
</div>
{%- endblock %}
