<?python
page = 'about'
title = 'About'
?>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master/page.html" />

  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" py:if="False"/>
  </head>

  <body>
    <div id="getting_started">
      <p><h3>
        <b>Welcome to SkyLines, the internet platform for sharing
        flights!</b></h3>
      </p>

      <p>
        <b>The major goals of the Skylines-Project are:</b>
        <ul>
          <li>To provide a free platform for sharing and analysing flights</li>
          <li>Skylines is based on free software (<a href="http://git.xcsoar.org/cgit/max/skylines.git/tree/COPYING" target="_blank">License</a>).</li>
          <li>The stored flights are available for everybody without any limitations.</li>
          <li>Skylines is a non-commercial project, there are no ads on the webpage, its free of charge.</li>
          <li>Skylines has <a href="http://skylines.xcsoar.org/tracking/">Live Tracking</a>, let your friends parcitipate on your adventures.</li>
          <li>Skylines has also some social network aspects with comments, notifications, friends and followers.</li>
          <li>Airport and Waypoint data is provided by the <a href="http://www.segelflug.de/vereine/welt2000/" target="_blank">WELT2000</a> project (<a href="http://opendatacommons.org/licenses/odbl/1.0/" target="_blank">License</a>)</li>
        </ul>
      </p>

      <p>
        Current status: <span class="label label-warning"><i class="icon-wrench"></i> under development</span>
      </p>

      <p>
        SkyLines was brought to you by the <a
        href="http://www.xcsoar.org/" target="_blank">XCSoar project</a>.  It is free
        software; <a
        href="http://git.xcsoar.org/cgit/max/skylines.git/" target="_blank">the source
        code is available here</a>.
      </p>

      <p>
        If you think that something is missing or you think that you have found a bug please follow the instructions <a href="http://www.xcsoar.org/develop/new_ticket.html" target="_blank">here</a> to write a feature request or bug report.
      </p>
    </div>
  </body>
</html>
