{% extends "base.jinja" %}
{% from 'topbar.jinja' import topbar with context %}
{% from 'macros/flash.jinja' import insert_flash_message with context %}

{% block body -%}
{{ topbar(active_page) }}

<div class="container-fullscreen">
    {% block content %}{% endblock %}
</div>

{{ insert_flash_message(True) }}
{%- endblock %}
