<!doctype html>
<html>
<head>
    {%- block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{% filter striptags %}{% block title %}{% endblock %}{% if self.title() %} - {% endif %}SkyLines{% endfilter %}</title>

    <link rel='shortcut icon' href='/favicon.ico' type='image/x-icon' />
    <link rel='shortcut' href='/favicon.png' type='image/png' />

    {% block styles -%}
    {%- assets 'all_css' %}
    <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}"/>
    {%- endassets %}
    {%- endblock %}

    <!--[if lte IE 8]>
    {% assets 'respond_js' -%}<script type="text/javascript" src="{{ ASSET_URL }}"></script>{%- endassets %}
    <![endif]-->

    {%- endblock %}
</head>
<body{% block body_attributes %}{% endblock %}>
{%- block body %}{% endblock %}

{% block scripts -%}
{%- assets 'all_js' %}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{%- endassets %}
{%- endblock %}
</body>
</html>
