<!doctype html>
<html>
<head>
    {%- block head %}
    <meta charset="UTF-8">
    <title>{% filter striptags %}{% block title %}{% endblock %}{% if self.title() %} - {% endif %}SkyLines{% endfilter %}</title>

    <link rel='shortcut icon' href='/favicon.ico' type='image/x-icon' />
    <link rel='shortcut' href='/favicon.png' type='image/png' />

    {% block styles -%}
    {%- for url in g.assets['css-all'].urls() %}
    <link rel="stylesheet" type="text/css" href="{{ url }}"/>
    {%- endfor %}
    {%- endblock %}

    {%- endblock %}
</head>
<body{% block body_attributes %}{% endblock %}>
{%- block body %}{% endblock %}

{% block scripts -%}
{%- for url in g.assets['js-all'].urls() %}
<script type="text/javascript" src="{{ url }}"></script>
{%- endfor %}

<script>
$(function() {
    $('.dropdown-menu').find('form').click(function (e) {
        e.stopPropagation();
    });
});
</script>
{%- endblock %}
</body>
</html>
