{% extends "base-page.jinja" %}
{% set active_page = "imprint" %}

{% block title %}{% trans %}Imprint{% endtrans %}{% endblock %}

{% block content -%}
{{ config.get('skylines.imprint', 'Please set the skylines.imprint variable in the environment INI file.') }}
{%- endblock %}
