<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:py="http://genshi.edgewall.org/"
    xmlns:xi="http://www.w3.org/2001/XInclude">

<xi:include href="master/page.html" />

<head>
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" py:if="False"/>
<title>Login Form</title>
</head>

<body>
  <div class="row">
    <div class="well span8 offset2" id="loginform">
      <form action="${tg.url('/login_handler', params=dict(came_from=came_from.encode('utf-8'), __logins=login_counter.encode('utf-8')))}" method="post" accept-charset="UTF-8" class="loginfields">
        <div class="control-group">
          <label class="control-label" for="loginusername">Username:</label>
          <div class="controls">
            <input type="text" id="loginusername" name="login" />
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="loginpassword">Password:</label>
          <div class="controls">
            <input type="password" id="loginpassword" name="password" />
          </div>
        </div>
        <div class="actions">
          <input type="submit" id="submit" value="Login" class="btn btn-primary" />
        </div>
      </form>
    </div>

    <center>
      <a href="/users/new" class="btn">Register</a>
    </center>
  </div>
</body>
</html>
