{% from "macros/flags-FLASK.jinja" import insert_flag with context %}

{% set navigation_bar = [
    ('/tracking/', 'tracking', _('Live')),
    ('/flights/', 'flights', _('Flights')),
    ('/ranking/', 'ranking', _('Ranking')),
    ('/statistics/', 'statistics', _('Statistics'))
] -%}

{% macro topbar(active_page) -%}
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            {{ _topbar_content(active_page) }}
        </div>
    </div>
</div>
{%- endmacro %}

{% macro _topbar_content(active_page) -%}
<a href="/about"><img src="/images/logo.png" class="logo" /></a>
<a class="brand" href="/about">
    <span class="skylines-blue">Sky</span><span class="skylines-white">Lines</span>
</a>

<ul class="nav">
    {% for href, id, caption in navigation_bar -%}
    <li{% if active_page == id %} class="active"{% endif %}><a href="{{ href }}">{{ caption }}</a></li>
    {%- endfor %}
</ul>

<form action="/search" class="navbar-search pull-left">
  <input type="text" name="text" value="{{ (search_text or '')|e }}" class="search-query" placeholder="{{ _('Search') }}" style="width: 150px">
</form>

<ul class="nav pull-right">
    <li{% if active_page == 'upload' %} class="active"{% endif %}>
        <a href="/flights/upload/"><i class="icon-upload-alt icon-large"></i></a>
    </li>

    {% if request.identity -%}
    {{ _notification_item(active_page) }}
    {{ _user_dropdown(active_page) }}
    {%-  else %}
    {{ _login_dropdown(active_page) }}
    {%- endif %}

    {{ _language_dropdown() }}
</ul>
{%- endmacro %}

{% macro _login_dropdown(active_page) -%}
<li class="dropdown {% if active_page == 'login' %}active{% endif %}">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <i class="icon-signin"></i> {% trans %}Login{% endtrans %} <i class="icon-caret-down"></i>
    </a>
    <div class="dropdown-menu">
        {{ _login_form() }}
    </div>
</li>
{%- endmacro %}

{% macro _login_form() -%}
<form action="{{ url_for('login', next=request.url) }}" method="post" accept-charset="UTF-8">
    <div class="control-group">
        <label class="control-label" for="username">{% trans %}Email Address{% endtrans %}:</label>
        <div class="controls">
            <input type="text" id="username" name="login"/>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="password">{% trans %}Password{% endtrans %}:</label>
        <div class="controls">
            <input type="password" id="password" name="password" />
        </div>
    </div>
    <div class="actions clearfix">
        <label id="remember" class="checkbox pull-left">
            <input type="checkbox" name="remember" value="31536000"/> {% trans %}Remember me{% endtrans %}
        </label>
        <input type="submit" value="Login" class="btn btn-primary pull-right" />
    </div>
    <hr/>
    <a href="/users/recover">{% trans %}Forgot password?{% endtrans %}</a>
    <a href="/users/new">{% trans %}Don't have an account?{% endtrans %}</a>
</form>
{%- endmacro %}

{%- macro _notification_item(active_page) -%}
{%- with notifications = request.identity['notifications'] %}
<li{% if active_page == 'notifications' %} class="active"{% endif %}>
    <a href="/notifications/" title="{{ _('Notifications') }}">
        <span class="badge{% if notifications != 0 %} badge-warning{% endif %}">{{ notifications }}</span>
    </a>
</li>
{%- endwith %}
{%- endmacro %}

{%- macro _user_dropdown(active_page) -%}
{%- with user=request.identity['user'] %}
<li class="dropdown {% if active_page == 'settings' %}active{% endif %}">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
      {{ user|e }} <i class="icon-caret-down"></i>
  </a>
  <ul class="dropdown-menu">
      <li><a href="/users/{{ user.id }}/"><i class="icon-user"></i> {{ user|e }}</a></li>
      {%- if user.club %}
      <li><a href="/clubs/{{ user.club.id }}/"><i class="icon-group"></i> {{ user.club|e }}</a></li>
      {%- endif %}
      <li class="divider"></li>
      <li><a href="/flights/pilot/{{ user.id }}"><i class="icon-plane"></i> {% trans %}Flights{% endtrans %}</a></li>
      <li><a href="/statistics/pilot/{{ user.id }}"><i class="icon-tasks"></i> {% trans %}Statistics{% endtrans %}</a></li>
      <li class="divider"></li>
      <li><a href="{{ url_for('logout', next=request.url) }}"><i class="icon-signout"></i> {% trans %}Logout{% endtrans %}</a></li>
  </ul>
</li>
{%- endwith %}
{%- endmacro %}

{%- macro _language_dropdown() -%}
<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        {{ insert_flag(h.language_to_country_code(g.active_locale|string)) }} <i class="icon-caret-down"></i>
    </a>
    <ul class="dropdown-menu">
      {% for locale in g.available_locales|sort(attribute='display_name') -%}
      {{ _language_item(locale) }}
      {%- endfor %}
      {#
      {% for lang in c.primary_languages -%}
      {{ _language_item(lang) }}
      {%- endfor %}
      <li class="divider"></li>
      {% for lang in c.secondary_languages -%}
      {{ _language_item(lang) }}
      {%- endfor %}
      #}
    </ul>
</li>
{%- endmacro %}

{% macro _language_item(lang) %}
<li><a href="/set_lang/{{ lang }}" title="{{ lang.english_name }}">{{ insert_flag(h.language_to_country_code(lang|string)) }} {{ lang.display_name|capitalize }}</a></li>
{%- endmacro %}
