{% from "macros/flags.jinja" import insert_flag with context %}
{% from "macros/form.jinja" import render_field %}

{% set navigation_bar = [
    ('/tracking/', 'tracking', _('Live'), 'icon-rss', ''),
    ('/flights/', 'flights', _('Flights'), 'icon-plane', ''),
    ('/ranking/', 'ranking', _('Ranking'), 'icon-reorder', ''),
    ('/statistics/', 'statistics', _('Statistics'), 'icon-bar-chart', ''),
    ('/search/', 'search', _('Search'), 'icon-search', 'hidden-lg'),
] -%}

{% macro topbar(active_page) -%}
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        {{ _topbar_content(active_page) }}
    </div>
</div>
{%- endmacro %}

{% macro _topbar_content(active_page) -%}
<div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="{{ url_for('index') }}">
        <img src="/images/logo.png" class="logo" /> <span class="skylines-blue">Sky</span><span class="skylines-white">Lines</span>
    </a>
</div>

<div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav">
        {% for href, id, caption, icon, css_class in navigation_bar -%}
        <li class="{% if active_page == id %}active{% endif %} {{ css_class }}">
          <a href="{{ href }}" title="{{ caption }}">
            <i class="{{ icon }} icon-large visible-sm"></i>
            <i class="{{ icon }} icon-fixed-width visible-xs"></i>
            <span class="hidden-sm">{{ caption }}</span>
          </a>
        </li>
        {%- endfor %}
    </ul>

    <form action="{{ url_for('search.index') }}" class="navbar-form navbar-left navbar-search visible-lg" role="search">
        <div class="form-group">
            <input type="text" name="text" value="{{ (search_text or '')|e }}" placeholder="{{ _('Search') }}" class="form-control" placeholder="Search">
        </div>
    </form>

    <ul class="nav navbar-nav navbar-right">
        <li{% if active_page == 'upload' %} class="active"{% endif %}>
            <a href="{{ url_for('upload.index') }}" title="{{ _('Upload flight') }}">
              <i class="icon-upload-alt icon-large hidden-xs"></i>
              <i class="icon-upload-alt icon-fixed-width visible-xs"></i>
              <span class="visible-xs">{{ _('Upload flight') }}</span>
            </a>
        </li>

        {% if g.current_user -%}
        {{ _notification_item(active_page) }}
        {{ _user_dropdown(active_page) }}
        {%- else %}
        {{ _login_dropdown(active_page) }}
        {%- endif %}

        {{ _language_dropdown() }}
    </ul>
</div>
{%- endmacro %}

{% macro _login_dropdown(active_page) -%}
<li class="dropdown {% if active_page == 'login' %}active{% endif %} visible-xs">
    <a href="{{ url_for('login', next=request.url) }}">
        <i class="icon-signin"></i> {% trans %}Login{% endtrans %}
    </a>
</li>

<li class="dropdown {% if active_page == 'login' %}active{% endif %} hidden-xs">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <i class="icon-signin"></i> {% trans %}Login{% endtrans %} <i class="icon-caret-down"></i>
    </a>
    <div class="dropdown-menu">
        {{ _login_form() }}
    </div>
</li>
{%- endmacro %}

{% macro _login_form() -%}
<form method="POST" action="{{ url_for('login', next=(request.values.get('next') or request.url)) }}" role="form" class="form-login">
    {{ g.login_form.hidden_tag() }}
    {{ render_field(g.login_form.email_address, hide_error_text=True) }}
    {{ render_field(g.login_form.password, hide_error_text=True) }}
    <div class="form-group checkbox clearfix">
        <label id="remember" class="pull-left">
            {{ g.login_form.remember_me()|safe }} {{ g.login_form.remember_me.label.text }}
        </label>
        <input class="btn btn-primary pull-right" value="{{ _('Login') }}" type="submit"/>
    </div>
    <hr/>
    <div>
        <a href="{{ url_for('users.recover') }}">{% trans %}Forgot password?{% endtrans %}</a>
    </div>
    <div>
        <a href="{{ url_for('users.new') }}">{% trans %}Don't have an account?{% endtrans %}</a>
    </div>
</form>
{%- endmacro %}

{%- macro _notification_item(active_page) -%}
{% with notifications=g.count_unread_notifications() -%}
<li{% if active_page == 'notifications' %} class="active"{% endif %}>
    <a href="{{ url_for('notifications.index') }}" title="{{ _('Notifications') }}">
        <span class="visible-xs">{{ _('Notifications') }}&nbsp;&nbsp;</span>
        <span class="badge{% if notifications != 0 %} badge-warning{% endif %}">{{ notifications }}</span>
    </a>
</li>
{%- endwith %}
{%- endmacro %}

{%- macro _user_dropdown(active_page) -%}
{%- with user=g.current_user %}
<li class="dropdown {% if active_page == 'settings' %}active{% endif %}">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
      {{ user|e }} <i class="icon-caret-down"></i>
  </a>
  <ul class="dropdown-menu">
      <li><a href="{{ url_for('user.index', user_id=user.id) }}"><i class="icon-user icon-fixed-width"></i> {{ user|e }}</a></li>
      {%- if user.club %}
      <li><a href="{{ url_for('club.index', club_id=user.club.id) }}"><i class="icon-group icon-fixed-width"></i> {{ user.club|e }}</a></li>
      {%- endif %}
      <li class="divider"></li>
      <li><a href="{{ url_for('flights.pilot', id=user.id) }}"><i class="icon-plane icon-fixed-width"></i> {% trans %}Flights{% endtrans %}</a></li>
      <li><a href="{{ url_for('statistics.index', page='pilot', id=user.id) }}"><i class="icon-bar-chart icon-fixed-width"></i> {% trans %}Statistics{% endtrans %}</a></li>
      <li class="divider"></li>
      <li><a href="{{ url_for('settings.profile') }}"><i class="icon-cog icon-fixed-width"></i> {% trans %}Settings{% endtrans %}</a></li>
      <li class="divider"></li>
      <li><a href="{{ url_for('logout', next=g.logout_next or request.url) }}"><i class="icon-signout icon-fixed-width"></i> {% trans %}Logout{% endtrans %}</a></li>
  </ul>
</li>
{%- endwith %}
{%- endmacro %}

{%- macro _language_dropdown() -%}
<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
      {{ insert_flag(h.language_to_country_code(g.active_locale|string)) }}
      <span class="visible-xs">{{ g.active_locale.display_name|capitalize }}</span>
      <i class="icon-caret-down"></i>
    </a>
    <ul class="dropdown-menu">
      {% for locale in g.primary_locales -%}
      {{ _language_item(locale) }}
      {%- endfor %}
      <li class="divider"></li>
      {% for locale in g.secondary_locales|sort(attribute='display_name') -%}
      {{ _language_item(locale) }}
      {%- endfor %}
    </ul>
</li>
{%- endmacro %}

{% macro _language_item(lang) %}
<li><a href="{{ url_for('set_lang', language=lang) }}" title="{{ lang.english_name }}">{{ insert_flag(h.language_to_country_code(lang|string)) }} {{ lang.display_name|capitalize }}</a></li>
{%- endmacro %}
