# Compiled python files
*.pyc

# Coverage files
.coverage
cover

# PyDev files
.settings/*
.project
.pydevproject

# Sublime text files
*.sublime-workspace
*.sublime-project

*.mo
*.egg-info
*.egg
build
dist

htdocs

webassets

# XCSoar tools
bin

# Vagrant
.vagrant
Cheffile.lock
tmp/
.cookbooks/
