# https://caddyserver.com configuration for the production server

skylines.aero {
    log /home/skylines/log/caddy

    root /home/skylines/src/skylines/frontend/static
    gzip

    header / Strict-Transport-Security "max-age=31536000;"

    rewrite {
        if {path} not_starts_with /api
        if {path} not_starts_with /files
        if {path} not_starts_with /client.php
        if {path} not_starts_with /track.php
        if {path} not_starts_with /widgets
        if {path} not_starts_with /mapproxy
        to {path} /

        # if {path} not_starts_with /svg
        # to maintenance.html
    }

    expires {
        match ^/assets/.*\.css$ 1y
        match ^/assets/.*\.js$ 1y
        match ^/fonts 1y
        match ^/mapproxy 7d
        match .* 0s
    }

    proxy /api http://localhost:9115 {
        transparent
    }

    proxy /files http://localhost:9115 {
        transparent
    }

    proxy /client.php http://localhost:9115 {
        transparent
    }

    proxy /track.php http://localhost:9115 {
        transparent
    }

    proxy /widgets http://localhost:9115 {
        transparent
    }

    proxy /mapproxy http://localhost:9109 {
        transparent
        without /mapproxy
    }
}

www.skylines.aero {
    redir https://skylines.aero{uri}
}

www02.skylines.aero {
    redir https://skylines.aero{uri}
}

tracking.skylines.aero {
    redir https://skylines.aero/tracking/
}

maps.skylines.aero {
    redir https://skylines.aero{uri}
}
