[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "2.7"

[scripts]
manage = "./manage.py"

[packages]
flask = "==1.0.*"
werkzeug = "*"
babel = "==2.6.0"
flask-caching = "==1.4.*"
flask-migrate = "*"
flask-script = "==0.6.7"
flask-sqlalchemy = "*"
sqlalchemy = "==1.2.*"
alembic = "*"
"psycopg2" = "==2.7.6.1"
"geoalchemy2" = "*"
shapely = "==1.6.4.post2"
"crc16" = "==0.1.1"
pytz = "*"
celery = {extras = ["redis"], version = "<3.2,>=3.1"}
xcsoar = "==0.6.4"
aerofiles = "==1.0.0"
"enum34" = "==1.1.6"
pyproj = "==1.9.5.1"
gevent = "==1.3.7"
webargs = "*"
marshmallow = "*"
flask-oauthlib = "*"
oauthlib = "*"
raven = {extras = ["flask"], version = "==6.9.0"}
uwsgi = "*"
mapproxy = "*"

[dev-packages]
fabric = "==1.14.0"
pytest = "==4.0.1"
pytest-cov = "==2.6.0"
pytest-voluptuous = "*"
mock = "==2.0.0"
faker = "==1.0.1"
"flake8" = "==3.6.0"
immobilus = "==1.4.2"
