[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "2.7"

[scripts]
manage = "./manage.py"

[packages]
aerofiles = "==1.0.0"
babel = "==2.7.0"
celery = { version = "==3.1.26.post2", extras = ["redis"] }
"crc16" = "==0.1.1"
"enum34" = "==1.1.6"
flask = "==1.0.3"
flask-caching = "==1.7.2"
flask-migrate = "==2.4.0"
flask-oauthlib = "==0.9.6"
flask-script = "==0.6.7"
flask-sqlalchemy = "==2.4.0"
"geoalchemy2" = "==0.6.3"
gevent = "==1.4.0"
gunicorn = "==19.9.0"
mapproxy = "==1.11.0"
"psycopg2" = "==2.8.2"
pyproj = "==1.9.6"
pytz = "==2019.1"
redis = "==2.10.6"
requests = "==2.22.0"
sentry-sdk = { version = "==0.12.3", extras = ["flask"] }
shapely = "==1.6.4.post2"
webargs = "==5.3.0"
xcsoar = "==0.7.0"

[dev-packages]
coverage = "==4.5.3"
fabric = "==1.14.0"
faker = "==2.0.2"
"flake8" = "==3.7.7"
immobilus = "==1.4.3"
mock = "==3.0.5"
pytest = "==4.4.1"
pytest-cov = "==2.6.1"
pytest-voluptuous = "==1.1.0"
