[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "2.7"

[scripts]
manage = "./manage.py"

[packages]
flask = "==1.0.*"
babel = "==2.7.0"
flask-caching = "==1.7.*"
flask-migrate = "*"
flask-script = "==0.6.7"
flask-sqlalchemy = "*"
"psycopg2" = "==2.8.2"
"geoalchemy2" = "*"
shapely = "==1.6.4.post2"
"crc16" = "==0.1.1"
pytz = "*"
celery = {extras = ["redis"],version = "<3.2,>=3.1"}
redis = "<3.0"
xcsoar = "==0.6.4"
aerofiles = "==1.0.0"
"enum34" = "==1.1.6"
pyproj = "==1.9.6"
gevent = "==1.4.0"
webargs = "*"
flask-oauthlib = "*"
requests-oauthlib = ">=0.6.2,<1.2.0"  # see https://github.com/lepture/flask-oauthlib/pull/388
sentry-sdk = {extras = ["flask"],version = "==0.12.3"}
mapproxy = "*"
gunicorn = "*"

[dev-packages]
fabric = "==1.14.0"
pytest = "==4.4.1"
pytest-cov = "==2.6.1"
pytest-voluptuous = "*"
mock = "==2.0.0"
faker = "==2.0.2"
"flake8" = "==3.7.7"
immobilus = "==1.4.3"
