WebTest==1.4.3
WebOb==1.1.1
TurboGears2==2.2.2
tg.devtools==2.2.2
Genshi==0.7
zope.sqlalchemy==0.7.2
repoze.tm2==1.0
sqlalchemy==0.8.0
repoze.what==1.0.9
repoze.who-friendlyform==1.0.8
repoze.what-pylons==1.0
Pylons==1.0
repoze.who==1.0.19
repoze.what-quickstart==1.0.9
repoze.what.plugins.sql==1.0.1
tw.forms==0.9.9
simplejson==3.1.0
skylinespolyencode==0.1.1
psycopg2==2.4.6
geoalchemy2==0.2dev
shapely==1.2.17
crc16==0.1.1
markdown==2.3
pytz
webassets==0.8
cssmin==0.1.4
jinja2==2.6
twisted==12.3
sprox==0.8.2
closure
