WebTest<2.0
WebOb==1.1.1
TurboGears2
tg.devtools
Genshi
zope.sqlalchemy>=0.4
repoze.tm2>=1.0a5
sqlalchemy<0.8
repoze.what>=1.0.8
repoze.who-friendlyform>=1.0.4
repoze.what-pylons>=1.0
Pylons==1.0
repoze.who==1.0.19
tgext.admin>=0.3.11
repoze.what-quickstart>=1.0.9
repoze.what.plugins.sql>=1.0.1
tw.forms
simplejson
skylinespolyencode
psycopg2
geoalchemy
crc16
markdown
pytz
webassets
pyyaml
cssmin
jinja2
twisted
