{% macro timeago_script() -%}
<script type="text/javascript">$(function() { $("abbr.timeago").timeago(); });</script>
{%- endmacro %}

{% macro insert_timeago(dt) -%}
<abbr class="timeago" title="{{ h.isoformat_utc(dt) }}" rel="tooltip">{{ h.format_datetime(dt) }} UTC</abbr>
{%- endmacro %}

{% macro insert_timeago_date(dt) -%}
<abbr class="timeago" title="{{ h.isoformat_utc(dt) }}" rel="tooltip">{{ h.format_date(dt) }}</abbr>
{%- endmacro %}
