{% macro insert_flag(country_code, style=None) -%}
<span class="flag-{{ country_code|lower }}" {% if style %}style="{{style}}" {% endif -%}
      title="{{h.country_name(country_code)}}" rel="tooltip"></span>
{%- endmacro %}
