{%- macro insert_flash_message(floating) %}
{% with messages = get_flashed_messages(with_categories=true) %}
{% for category, message in messages %}
    {% if category == 'error' -%}
    {% set alert_class='alert-error' %}
    {%- elif category == 'warning' -%}
    {% set alert_class='alert-warning' %}
    {%- elif category == 'success' -%}
    {% set alert_class='alert-success' %}
    {%- else -%}
    {% set alert_class='alert-info' %}
    {%- endif %}

    <div class="alert {{ alert_class }} {%- if floating %} alert-floating{% endif %} alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      {%- if category == 'error' %}<strong>{% trans %}Error!{% endtrans %}</strong>{% endif %}
      {%- if category == 'warning' %}<strong>{% trans %}Warning!{% endtrans %}</strong>{% endif %}
      {{ message|e }}
    </div>
{% endfor %}
{% endwith %}
{%- endmacro %}
