{% macro render_field(field) -%}
  <div class="form-group{% if field.errors %} has-error{% endif %}">
    {{ field.label }}
    {{ field(class_="form-control", **kwargs)|safe }}

    {% for error in field.errors %}
    <p class="help-block">{{ error }}</p>
    {% endfor %}
  </div>
{%- endmacro %}
