{% macro render_field(field) -%}
{% if field.widget.input_type == 'checkbox' -%}
  <div class="checkbox">
    <label>
        {{ field(**kwargs)|safe }}{{ field.label.text }}
    </label>
  </div>
{%- else -%}
  <div class="form-group{% if field.errors %} has-error{% endif %}">
    {{ field.label }}
    {{ field(class_="form-control", **kwargs)|safe }}

    {% for error in field.errors[:1] %}
    <p class="help-block">{{ error }}</p>
    {% endfor %}
  </div>
{%- endif %}
{%- endmacro %}
