{% macro user_link(user, attributes='') -%}
<a href="/users/{{ user.id }}"{{attributes}}>{{ user.name|e }}</a>
{%- endmacro %}

{% macro club_link(club, attributes='') -%}
<a href="/clubs/{{ club.id }}"{{attributes}}>{{ club.name|e }}</a>
{%- endmacro %}

{% macro airport_link(airport, attributes='') -%}
<a href="/flights/airport/{{ airport.id }}"{{attributes}}>{{ airport.name|e }}</a>
{%- endmacro %}
