{% macro pager(name) -%}
{% with page=tmpl_context.paginators[name] -%}
{% if page.page_count != 0 -%}
<div class="pagination pagination-condensed">
  <ul>
    <li class="prev{% if page.page == page.first_page %} disabled{% endif %}">
      <a href="{% if page.page == page.first_page %}#{% else %}?page={{ page.page - 1 }}{% endif %}">&larr; Previous</a>
    </li>

    {% if (page.page - 4 >= page.first_page) and (page.page == page.last_page) -%}
    <li><a href="?page={{ page.page - 4 }}">{{ page.page - 4 }}</a></li>
    {%- endif -%}

    {% if (page.page - 3 >= page.first_page) and (page.page >= page.last_page - 1) -%}
    <li><a href="?page={{ page.page - 3 }}">{{ page.page - 3 }}</a></li>
    {%- endif -%}

    {% if page.page - 2 >= page.first_page -%}
    <li><a href="?page={{ page.page - 2 }}">{{ page.page - 2 }}</a></li>
    {%- endif -%}

    {% if page.page - 1 >= page.first_page -%}
    <li><a href="?page={{ page.page - 1 }}">{{ page.page - 1 }}</a></li>
    {%- endif -%}

    <li class="active"><a href="?page={{ page.page }}">{{ page.page }}</a></li>

    {% if page.page + 1 <= page.last_page -%}
    <li><a href="?page={{ page.page + 1 }}">{{ page.page + 1 }}</a></li>
    {%- endif -%}

    {% if page.page + 2 <= page.last_page -%}
    <li><a href="?page={{ page.page + 2 }}">{{ page.page + 2 }}</a></li>
    {%- endif -%}

    {% if (page.page + 3 <= page.last_page) and (page.page <= page.first_page + 1) -%}
    <li><a href="?page={{ page.page + 3 }}">{{ page.page + 3 }}</a></li>
    {%- endif -%}

    {% if (page.page + 4 <= page.last_page) and (page.page == page.first_page) -%}
    <li><a href="?page={{ page.page + 4 }}">{{ page.page + 4 }}</a></li>
    {%- endif -%}

    <li class="next{% if page.page == page.last_page %} disabled{% endif %}">
      <a href="{% if page.page == page.last_page %}#{% else %}?page={{ page.page + 1 }}{% endif %}">Next &rarr;</a>
    </li>
  </ul>
</div>
{%- endif %}
{%- endwith %}
{%- endmacro %}


{% macro pager_script() -%}
<script>
$(function() {
   $(".pagination a").click(function() {
     if (this.href.indexOf('#', this.href.length - 1) === -1)
       $("#partial").load(this.href + (this.href.indexOf('?') != -1 ? "&" : "?") + "partial");
     return false;
   });
});
</script>
{%- endmacro %}
