{% extends "base-form.jinja" %}
{% set active_page = "upload" %}

{% from "macros/form.jinja" import render_field %}

{% block title %}{% trans %}Upload Flight{% endtrans %}{% endblock %}

{% block form -%}
<form method="POST" action="{{ url_for('upload.index') }}" role="form" enctype="multipart/form-data">
  {{ form.hidden_tag() }}
  {{ render_field(form.file, multiple=1) }}
  {{ render_field(form.pilot) }}
  <div class="form-group">
    <input class="form-control btn btn-primary" value="{{ _('Upload') }}" type="submit">
  </div>
</form>
{%- endblock %}
