<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master/page.html" />

  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" py:if="False"/>
    <title>Upload flight</title>
  </head>

<body>
  <div class="row">
    <div class="well span8 offset4">
      <form action="${tg.url('do')}" method="post" accept-charset="UTF-8" enctype="multipart/form-data">
        <fieldset>
          <legend>Upload flight</legend>
          <div class="clearfix">
            <label for="file">IGC or ZIP file:</label>
            <div class="input">
              <input type="file" id="file" name="file"></input>
            </div>
          </div>
        </fieldset>
        <div class="actions">
          <input type="submit" id="submit" value="Upload" class="btn primary" />
        </div>
      </form>
    </div>
  </div>
</body>
</html>
