{{flight-list-nav}}

<div class="pull-right">
  {{x-pager count=model.count page=page perPage=50}}
</div>

{{flight-list flights=model.flights showTimes=false sortColumn=column sortOrder=order}}

<div class="pull-right">
  {{x-pager count=model.count page=page perPage=50}}
</div>