<?python
from skylines.lib.formatter.units import format_distance
?>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="../snippets/tooltip.html" />

  <py:def function="render_distance_table(years, max_distance, sum_distance = None)">
    <table class="table table-condensed table-striped">
      <thead>
        <tr>
          <th>Year</th>
          <th colspan="2">Distance</th>
        </tr>
      </thead>
      <tbody>
        <tr py:for="year in years">
          <td class="span2">${int(year.year)}</td>
          <td class="span2">
            <span rel="tooltip" title="avg. ${format_distance(year.distance / year.flights)} per flight">
              ${format_distance(year.distance)}
            </span>
          </td>
          <td class="span8">
            <div class="progress progress-success">
              <div class="bar" style="width: ${year.distance * 100 / max_distance}%;"></div>
            </div>
          </td>
        </tr>
        <tr py:if="sum_distance">
          <td><strong>Total</strong></td>
          <td colspan="2"><strong>${format_distance(sum_distance)}</strong></td>
        </tr>
      </tbody>
    </table>
  </py:def>
</html>
