{% macro render_distance_table(years, max_distance, sum_distance = None) -%}
<table class="table table-condensed table-striped">
  <thead>
    <tr>
      <th>{% trans %}Year{% endtrans %}</th>
      <th colspan="2">{% trans %}Distance{% endtrans %}</th>
    </tr>
  </thead>
  <tbody>
    {% for year in years -%}
    <tr>
      <td class="col-xs-2">{{ year.year|int }}</td>
      <td class="col-xs-2">
        <span rel="tooltip" title="{{ _('avg. %(distance)s per flight', distance=h.format_distance(year.average_distance)) }}">
          {{ h.format_distance(year.distance) }}
        </span>
      </td>
      <td class="col-xs-8">
        {% with value=(year.distance * 100 / max_distance) -%}
        <div class="progress">
          <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{ value }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ value }}%;"></div>
        </div>
        {%- endwith %}
      </td>
    </tr>
    {%- endfor %}
    {% if sum_distance -%}
    <tr>
      <td><strong>{% trans %}Total{% endtrans %}</strong></td>
      <td colspan="2"><strong>{{ h.format_distance(sum_distance) }}</strong></td>
    </tr>
    {%- endif %}
  </tbody>
</table>
{%- endmacro %}
