<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <py:def function="render_duration_table(years, max_duration, sum_duration = None)">
    <table class="table table-condensed table-striped">
      <thead>
        <tr>
          <th>Year</th>
          <th colspan="2">Flight Time</th>
        </tr>
      </thead>
      <tbody>
        <tr py:for="year in years">
          <td class="span2">${int(year.year)}</td>
          <td class="span2">
            <span rel="tooltip" title="avg. ${h.format_timedelta(year.duration / year.flights)} Hours per flight">
              ${h.format_timedelta(year.duration)} Hours
            </span>
          </td>
          <td class="span8">
            <div class="progress progress-warning">
              <div class="bar" style="width: ${year.duration.total_seconds() * 100 / max_duration}%;"></div>
            </div>
          </td>
        </tr>
        <tr py:if="sum_duration">
          <td><strong>Total</strong></td>
          <td colspan="2"><strong>${h.format_timedelta(sum_duration)} Hours</strong></td>
        </tr>
      </tbody>
    </table>
  </py:def>
</html>
