<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <py:def function="render_pilots_table(years, max_pilots)">
    <table class="table table-condensed table-striped">
      <thead>
        <tr>
          <th>Year</th>
          <th colspan="2">Pilots</th>
        </tr>
      </thead>
      <tbody>
        <tr py:for="year in years">
          <td class="span2">${int(year.year)}</td>
          <td class="span2">${year.pilots}</td>
          <td class="span8">
            <div class="progress progress-info">
              <div class="bar" style="width: ${year.pilots * 100 / max_pilots}%;"></div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </py:def>
</html>
