<?python
from babel.numbers import format_number

page = 'statistics'
title = 'Statistics'

def format_timedelta(timedelta):
    seconds = timedelta.total_seconds()
    return '%d:%02d' % (seconds / 3600, seconds % 3600 / 60)
?>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master/page.html" />

  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" py:if="False"/>
    <title>Statistics</title>

    <script type="text/javascript" src="/static/bootstrap/js/bootstrap-tooltip.js"></script>
    <script type="text/javascript">
      $(function() {
        $("[rel=tooltip]").tooltip();
      });
    </script>
  </head>

  <body>
    <ul py:if="pilot or club or selected_club or selected_pilot" class="nav nav-pills">
      <li class="${'' if selected_pilot or selected_club else 'active'}"><a href="/statistics/">SkyLines</a></li>
      <li py:if="selected_club" class="active"><a href="/statistics/club/${selected_club.id}" py:content="selected_club">LV Aachen</a></li>
      <li py:if="club and (not selected_club or club != selected_club)"><a href="/statistics/club/${club.id}" py:content="club">LV Aachen</a></li>
      <li py:if="selected_pilot" class="active"><a href="/statistics/pilot/${selected_pilot.user_id}" py:content="selected_pilot">Tobias Bieniek</a></li>
      <li py:if="pilot and (not selected_pilot or pilot != selected_pilot)"><a href="/statistics/pilot/${pilot.user_id}" py:content="pilot">Tobias Bieniek</a></li>
    </ul>

    <h1>Flights</h1>
    <table class="table table-condensed table-striped">
      <thead>
        <tr>
          <th>Year</th>
          <th colspan="2">Flights</th>
        </tr>
      </thead>
      <tbody>
        <tr py:for="year in years">
          <td class="span2">${int(year.year)}</td>
          <td class="span2">${format_number(year.flights)}</td>
          <td class="span8">
            <div class="progress">
              <div class="bar" style="width: ${year.flights * 100 / max_flights}%;"></div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>

    <h1>Distance</h1>
    <table class="table table-condensed table-striped">
      <thead>
        <tr>
          <th>Year</th>
          <th colspan="2">Distance</th>
        </tr>
      </thead>
      <tbody>
        <tr py:for="year in years">
          <td class="span2">${int(year.year)}</td>
          <td class="span2">
            <span rel="tooltip" title="avg. ${format_number((year.distance / 1000) / year.flights)} km per flight">
              ${format_number(year.distance / 1000)} km
            </span>
          </td>
          <td class="span8">
            <div class="progress progress-success">
              <div class="bar" style="width: ${year.distance * 100 / max_distance}%;"></div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>

    <h1>Flight Time</h1>
    <table class="table table-condensed table-striped">
      <thead>
        <tr>
          <th>Year</th>
          <th colspan="2">Flight Time</th>
        </tr>
      </thead>
      <tbody>
        <tr py:for="year in years">
          <td class="span2">${int(year.year)}</td>
          <td class="span2">
            <span rel="tooltip" title="avg. ${format_timedelta(year.duration / year.flights)} Hours per flight">
              ${format_timedelta(year.duration)} Hours
            </span>
          </td>
          <td class="span8">
            <div class="progress progress-warning">
              <div class="bar" style="width: ${year.duration.total_seconds() * 100 / max_duration}%;"></div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>

    <py:if test="not selected_pilot">
    <h1>Pilots</h1>
    <table class="table table-condensed table-striped">
      <thead>
        <tr>
          <th>Year</th>
          <th colspan="2">Pilots</th>
        </tr>
      </thead>
      <tbody>
        <tr py:for="year in years">
          <td class="span2">${int(year.year)}</td>
          <td class="span2">${year.pilots}</td>
          <td class="span8">
            <div class="progress progress-info">
              <div class="bar" style="width: ${year.pilots * 100 / max_pilots}%;"></div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    </py:if>
  </body>
</html>
