<?python
page = 'statistics'
title = 'Statistics'

if selected_pilot:
  tagline = 'of'
  tagline_link = '/users/' + str(selected_pilot.user_id) + '/'
  tagline_link_text = selected_pilot

if selected_club:
  tagline = 'of'
  tagline_link = '/clubs/' + str(selected_club.id) + '/'
  tagline_link_text = selected_club

if airport:
  tagline = 'of ' + unicode(airport.name)
?>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master/page.html" />
  <xi:include href="statistics/flights-table.html" />
  <xi:include href="statistics/distance-table.html" />
  <xi:include href="statistics/duration-table.html" />
  <xi:include href="statistics/pilots-table.html" />

  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" py:if="False"/>
    <title>Statistics</title>
  </head>

  <body>
    <ul py:if="pilot or club or selected_club or selected_pilot" class="nav nav-pills">
      <li class="${None if selected_pilot or selected_club or airport else 'active'}"><a href="/statistics/">SkyLines</a></li>
      <li py:if="airport" class="active"><a href="/statistics/airport/${airport.id}" py:content="airport">Aachen</a></li>
      <li py:if="selected_club" class="active"><a href="/statistics/club/${selected_club.id}" py:content="selected_club">LV Aachen</a></li>
      <li py:if="club and (not selected_club or club != selected_club)"><a href="/statistics/club/${club.id}" py:content="club">LV Aachen</a></li>
      <li py:if="selected_pilot" class="active"><a href="/statistics/pilot/${selected_pilot.user_id}" py:content="selected_pilot">Tobias Bieniek</a></li>
      <li py:if="pilot and (not selected_pilot or pilot != selected_pilot)"><a href="/statistics/pilot/${pilot.user_id}" py:content="pilot">Tobias Bieniek</a></li>
    </ul>

    <h1>Flights</h1>
    ${render_flights_table(years, max_flights, sum_flights)}

    <h1>Distance</h1>
    ${render_distance_table(years, max_distance, sum_distance)}

    <h1>Flight Time</h1>
    ${render_duration_table(years, max_duration, sum_duration)}

    <py:if test="not selected_pilot">
    <h1>Pilots</h1>
    ${render_pilots_table(years, max_pilots)}
    </py:if>
  </body>
</html>
