<?python
page = 'statistics'
title = 'Statistics'
?>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master/page.html" />

  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" py:if="False"/>
    <title>Statistics</title>
  </head>

  <body>
    <div py:for="year in years">
      <h1>${int(year.year)}</h1>
      ${year.flights} Flights
      <div class="progress">
        <div class="bar" style="width: ${year.flights * 100 / max_flights}%;"></div>
      </div>
      ${year.distance / 1000} Kilometers
      <div class="progress progress-success">
        <div class="bar" style="width: ${year.distance * 100 / max_distance}%;"></div>
      </div>
      ${year.duration} Hours
      <div class="progress progress-warning">
        <div class="bar" style="width: ${year.duration.total_seconds() * 100 / max_duration}%;"></div>
      </div>
      ${year.pilots} Pilots
      <div class="progress progress-info">
        <div class="bar" style="width: ${year.pilots * 100 / max_pilots}%;"></div>
      </div>
    </div>
  </body>
</html>
