{{yield}}

<p class="footer">
  &copy; {{link-to (t "the-skylines-team") "about.team"}}
  -
  {{link-to (t "imprint") "about.imprint"}}
  -
  <a href="https://github.com/skylines-project/skylines/blob/master/PRIVACY.md" target="_blank"  rel="noopener">{{t "privacy-policy"}}</a>
</p>