<div class="container">
  <div class="content">
    {{yield}}
  </div>

  <p class="footer">
    &copy; <a href="/about/team">{{t "the-skylines-team"}}</a> -
    <a href="/about/imprint">{{t "imprint"}}</a>
  </p>
</div>