{{yield}}

<p class="footer">
  &copy; <LinkTo @route="about.team">{{t "the-skylines-team"}}</LinkTo>
  -
  <LinkTo @route="about.imprint">{{t "imprint"}}</LinkTo>
  -
  <a href="https://github.com/hess8/skylinesC/blob/master/PRIVACY.md" target="_blank"  rel="noopener">{{t "privacy-policy"}}</a>
</p>