<button type="button" class="CesiumSwitcher ol-unselectable" {{on "click" this.toggle}}>
  {{#if enabled}}
    <img src="../../images/2d.png">
  {{else}}
    <img src="../../images/3d.png">
  {{/if}}
</button>