<div class="input-group input-group-sm date" ...attributes {{didInsert this.setup}} {{willDestroy this.teardown}}>
  <input class="form-control">
  <span class="input-group-addon">{{fa-icon "clock-o"}}</span>
</div>