<h4>{{t "distance"}}</h4>
{{flight-leg-table legs=legs.classic selection=selection onSelect=onSelect}}

<h4>{{t "triangle"}}</h4>
{{flight-leg-table legs=legs.triangle selection=selection onSelect=onSelect}}
