<table class="table table-flight-details">
  <tbody>

  <tr>
    <th>{{t "club"}}</th>
      <td><LinkTo @route="club" @model={{groupflight.club.id}}>{{truncate groupflight.club.name 25}}</LinkTo></td>
  </tr>

  </tbody>
</table>