<div ...attributes>
  <form action="/search" class="navbar-form navbar-left navbar-search visible-lg" onsubmit={{action onSearch searchTextService.text}}>
    <div class="form-group">
      <Input @type="text" @name="text" @value={{searchTextService.text}} placeholder={{t "search.search"}} class="form-control" />
    </div>
  </form>
  
</div>