{{#active-link class=listClass}}
  {{#link-to target title=title}}
    {{fa-icon icon size="lg" class="visible-sm"}}
    {{fa-icon icon fixedWidth=true class="visible-xs"}}
    <span class="hidden-sm">{{title}}</span>
  {{/link-to}}
{{/active-link}}