{{#active-link class=listClass}}
  {{#link-to target title=title}}
    <i class="{{icon}} icon-large visible-sm"></i>
    <i class="{{icon}} icon-fixed-width visible-xs"></i>
    <span class="hidden-sm">{{title}}</span>
  {{/link-to}}
{{/active-link}}