<@nav.item class={{listClass}}>
  {{#nav.link-to target}}
    {{fa-icon icon size="lg" class="visible-sm-inline-block" title=title}}
    {{fa-icon icon fixedWidth=true class="visible-xs-inline-block"}}
    <span class="hidden-sm">{{title}}</span>
  {{/nav.link-to}}
</@nav.item>