<button type="button" class="PlayButton ol-unselectable" ...attributes {{on "click" @onToggle}}>
  {{#if @isRunning}}
    <img src="../../images/stop.png">
  {{else}}
    <img src="../../images/play.png">
  {{/if}}
</button>