<div class="row">
  <form action="/search" class="" role="search">
    <div class="col-sm-9">
      <div class="form-group">
        <input type="text" name="text" value={{searchText}} placeholder={{t "search.search"}} class="form-control">
      </div>
    </div>
    <div class="col-sm-3">
      <div class="form-group">
        <input type="submit" value="Search" class="form-control btn btn-primary">
      </div>
    </div>
  </form>
</div>

{{search-result-table searchText=searchText results=results}}