{% extends "settings/base.jinja" %}
{% set settings_page = "club" %}

{% from "macros/form.jinja" import render_field %}

{% block title %}{% trans %}Change Club{% endtrans %}{% endblock %}

{% block settings_content -%}
<div data-component="settings-panels/choose-club" data-attrs='{
  "clubs": {{ clubs|tojson }},
  "clubId": {{ g.user.club_id|tojson }}
}'>Loading...</div>

<div data-component="settings-panels/register-club"></div>
{%- endblock %}
