{% extends "settings/base.jinja" %}
{% set settings_page = "password" %}

{% from "macros/form.jinja" import render_field %}

{% block title %}{% trans %}Change Password{% endtrans %}{% endblock %}

{% block settings_content -%}
{% if g.current_user.is_manager() -%}
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">{{ _('Recover Password') }}</h3>
  </div>
  <div class="panel-body">
    <p>
      <a href="{{ url_for('settings.password_recover', user=g.user_id) }}" class="btn btn-primary form-control">{{ _('Recover Password') }}</a>
    </p>
  </div>
</div>
{%- endif %}

<div class="panel panel-default">
  <div class="panel-body">
    <form method="POST" action="{{ url_for('settings.password', user=g.user_id) }}" role="form">
      {{ form.hidden_tag() }}
      {{ render_field(form.current_password, disabled=g.current_user.is_manager()) }}
      {{ render_field(form.password) }}
      {{ render_field(form.verify_password) }}
      <div class="form-group">
        <input class="form-control btn btn-primary" value="{{ _('Change') }}" type="submit">
      </div>
    </form>
  </div>
</div>
{%- endblock %}
