{% extends "settings/base.jinja" %}
{% set settings_page = "profile" %}

{% block title %}{% trans %}Edit User{% endtrans %}{% endblock %}

{% block settings_content -%}
<div data-component="settings-panels/profile" data-attrs='{
  "email": {{ g.user.email_address|tojson }},
  "firstName": {{ g.user.first_name|tojson }},
  "lastName": {{ g.user.last_name|tojson }},
  "distanceUnitIndex": {{ g.user.distance_unit|tojson }},
  "speedUnitIndex": {{ g.user.speed_unit|tojson }},
  "liftUnitIndex": {{ g.user.lift_unit|tojson }},
  "altitudeUnitIndex": {{ g.user.altitude_unit|tojson }}
}'>Loading...<br/><br/></div>
{%- endblock %}
