{% extends "settings/base.jinja" %}
{% set settings_page = "tracking" %}

{% block title %}{{ _('Live Tracking Settings') }}{% endblock %}

{% block settings_content -%}
<div data-component="settings-panels/tracking-key" data-attrs='{"key": "{{ g.user.tracking_key_hex }}"}'>Loading...<br/><br/></div>

<div data-component="settings-panels/tracking" data-attrs='{
  "callsign": {{ g.user.tracking_callsign|tojson }},
  "delay": {{ g.user.tracking_delay|tojson }}
}'></div>
{%- endblock %}
