<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      py:strip="">

  <xi:include href="master.html" />

<py:match path="head" once="true">
  <head py:attrs="select('@*')">
    <meta py:replace="select('*')"/>
  </head>
</py:match>

<py:match path="body" once="true">
  <body py:attrs="select('@*')">
    ${topbar()}

    <div py:replace="select('*|text()')"/>
  </body>
</py:match>
</html>
