<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      py:strip="">

  <xi:include href="topbar.html" />

<py:match path="head" once="true">
  <head py:attrs="select('@*')">
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"
          py:attrs="dict(content='%s; charset=%s' % (response.content_type, response.charset))" />

    <?python
      html_title = ''

      if defined('title'):
        html_title = title
        if defined('tagline'):
          html_title = html_title + ' ' + tagline
        if defined('tagline_link_text'):
          html_title = html_title + ' ' + unicode(tagline_link_text)

        html_title = html_title + ' - '

      html_title = html_title + 'SkyLines'
    ?>
    <title py:content='html_title'>SkyLines</title>

    <link rel='shortcut icon' href='/favicon.ico' type='image/x-icon' />
    <link rel='shortcut' href='/favicon.png' type='image/png' />

    <link rel="stylesheet" href="/static/fontawesome/css/font-awesome.css" />

    <py:for each="url in g.assets['css-all'].urls()">
      <link rel="stylesheet" type="text/css" href="${url}"/>
    </py:for>

    <script type="text/javascript" src="/static/jquery/jquery.js"></script>
    <script type="text/javascript" src="/static/bootstrap/js/bootstrap-dropdown.js"></script>
    <meta py:replace="select('*')"/>

    <script>
      $(function() {
        $('.dropdown-menu').find('form').click(function (e) {
          e.stopPropagation();
        });
      });
    </script>
  </head>
</py:match>

<py:match path="body" once="true">
  <body py:attrs="select('@*')">
    <div py:replace="select('*|text()')"/>
  </body>
</py:match>
</html>
