<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      py:strip="">

  <xi:include href="topbar.html" />

<py:match path="head" once="true">
  <head py:attrs="select('@*')">
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"
          py:attrs="dict(content='%s; charset=%s' % (response.content_type, response.charset))" />

    <title py:if="False">SkyLines</title>

    <meta py:replace="select('*')"/>

    <link rel="stylesheet" href="${tg.url('/css/bootstrap.min.css')}" />
    <link rel="stylesheet" href="${tg.url('/static/fontawesome/css/font-awesome.css')}" />
    <link rel="stylesheet" href="${tg.url('/css/font-awesome.css')}" />
    <link rel="stylesheet" type="text/css" media="screen" href="${tg.url('/css/style.css')}" />
  </head>
</py:match>

<py:match path="body" once="true">
  <body py:attrs="select('@*')">
    <div py:replace="select('*|text()')"/>
  </body>
</py:match>
</html>
