<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      py:strip="">

  <xi:include href="master.html" />

<py:match path="head" once="true">
  <head py:attrs="select('@*')">
    <meta py:replace="select('*')"/>
    <title py:if="defined('title')">${title}</title>
  </head>
</py:match>

<py:match path="body" once="true">
  <body py:attrs="select('@*')">
    ${topbar()}

    <div class="container">

      <div class="content">
        <py:if test="defined('title')">
        <div class="page-header">
          <h1>
            <span py:replace="title"/>
            <py:if test="defined('tagline')">
            <small><span py:replace="tagline"/></small>
            </py:if>
          </h1>
        </div>
        </py:if>

        <div class="row">
          <div class="span12">
            <div py:replace="select('*|text()')"/>
          </div>
        </div>
      </div>

      <footer>
        <p>
          &copy; <a href="http://www.xcsoar.org/">The XCSoar Project</a> -
          <a href="${config.get('skylines.imprint_link')}">Imprint</a>
        </p>
      </footer>

   </div>
 
  </body>
</py:match>
</html>
