<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      py:strip="">

  <xi:include href="master.html" />
  <xi:include href="../snippets/flash.html" />

<py:match path="body" once="true">
  <body py:attrs="select('@*')">
    ${topbar()}

    <div class="container">

      <div class="content">
        <div py:if="defined('title')" class="page-header">
          <h1>
            <span py:replace="title"/>
            <small py:if="defined('tagline') or defined('tagline_link')">
              <span py:if="defined('tagline')" py:replace="tagline" />
              <a py:if="defined('tagline_link')" href="${tagline_link}" py:content="tagline_link_text" />
            </small>
          </h1>
        </div>

        <div class="row">
          <div class="span12">
            ${insert_flash_message(False)}
            <div py:replace="select('*|text()')"/>
          </div>
        </div>
      </div>

      <p class="footer">
        &copy; <a href="http://www.xcsoar.org/">The XCSoar Project</a> -
        <a href="${config.get('skylines.imprint_link')}">Imprint</a>
      </p>

   </div>
 
  </body>
</py:match>
</html>
