<html xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      py:strip="">

<py:def function="topbar">
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <img src="/images/logo.png" class="logo" />
        <a class="brand" href="/">
          <span class="skylines-blue">Sky</span><span class="skylines-white">Lines</span>
        </a>
        <ul class="nav">
          <li class="${('', 'active')[defined('page') and page=='about']}"><a href="${tg.url('/about')}">About</a></li>
          <li class="${('', 'active')[defined('page') and page=='flights']}"><a href="${tg.url('/flights/')}">Flights</a></li>
          <li class="${('', 'active')[defined('page') and page=='upload']}"><a href="${tg.url('/flights/upload/')}">Upload</a></li>
        </ul>
        <py:if test="tg.auth_stack_enabled">
        <ul class="nav pull-right">
          <li py:if="not request.identity" id="login"><a href="${tg.url('/login')}">Login</a></li>
          <li py:if="not request.identity" id="register"><a href="${tg.url('/users/new')}">Register</a></li>
          <li py:if="request.identity" class="${('', 'active')[defined('page') and page=='settings']} dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              ${request.identity['user'].display_name} <i class="icon-caret-down"></i>
            </a>
            <ul class="dropdown-menu">
              <li><a href="${tg.url('/settings/')}"><i class="icon-user"></i> Settings</a></li>
              <li><a href="${tg.url('/logout_handler')}"><i class="icon-signout"></i> Logout</a></li>
            </ul>
          </li>
        </ul>
        </py:if>
      </div>
    </div>
  </div>
</py:def>

</html>
