<?python
from skylines.model.notification import count_unread_notifications
?>

<html xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      py:strip="">

<py:def function="topbar">
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a href="/">
          <img src="/images/logo.png" class="logo" />
        </a>
        <a class="brand" href="/">
          <span class="skylines-blue">Sky</span><span class="skylines-white">Lines</span>
        </a>
        <ul class="nav">
          <li class="${(None, 'active')[defined('page') and page=='about']}"><a href="${tg.url('/about')}">About</a></li>
          <li class="${(None, 'active')[defined('page') and page=='tracking']}"><a href="${tg.url('/tracking/')}">Live</a></li>
          <li class="${(None, 'active')[defined('page') and page=='flights']}"><a href="${tg.url('/flights/')}">Flights</a></li>
          <li class="${(None, 'active')[defined('page') and page=='ranking']}"><a href="${tg.url('/ranking/')}">Ranking</a></li>
          <li class="${(None, 'active')[defined('page') and page=='statistics']}"><a href="${tg.url('/statistics/')}">Statistics</a></li>
        </ul>
        <py:if test="tg.auth_stack_enabled">
        <ul class="nav pull-right">
          <li class="${(None, 'active')[defined('page') and page=='upload']}">
            <a href="${tg.url('/flights/upload/')}"><i class="icon-upload-alt"></i> Upload</a>
          </li>

          <li py:if="not request.identity" class="${(None, 'active')[defined('page') and page=='login']}">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="icon-signin"></i> Login <i class="icon-caret-down"></i>
            </a>
            <div class="dropdown-menu">
              <form action="${tg.url('/login_handler', params=dict(came_from=request.url.encode('utf-8')))}" method="post" accept-charset="UTF-8">
                <div class="control-group">
                  <label class="control-label" for="username">Email Address:</label>
                  <div class="controls">
                    <input type="text" id="username" name="login"/>
                  </div>
                </div>
                <div class="control-group">
                  <label class="control-label" for="password">Password:</label>
                  <div class="controls">
                    <input type="password" id="password" name="password" />
                  </div>
                </div>
                <div class="actions clearfix">
                  <label id="remember" class="checkbox pull-left">
                    <input type="checkbox" name="remember" value="31536000"/>
                    Remember me
                  </label>
                  <input type="submit" value="Login" class="btn btn-primary pull-right" />
                </div>
                <hr/>
                <a href="${tg.url('/users/recover')}">Forgot password?</a>
                <a href="${tg.url('/users/new')}">Don't have an account?</a>
              </form>
            </div>
          </li>

          <li py:if="request.identity"
              py:with="notifications=count_unread_notifications(request.identity['user'])"
              class="${(None, 'active')[defined('page') and page=='notifications']}">
            <a href="/notifications/">
              <span py:if="notifications == 0" class="badge" py:content="notifications">0</span>
              <span py:if="notifications != 0" class="badge badge-warning" py:content="notifications">5</span>
            </a>
          </li>

          <li py:if="request.identity" class="${(None, 'active')[defined('page') and page=='settings']} dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              ${request.identity['user'].display_name} <i class="icon-caret-down"></i>
            </a>
            <ul class="dropdown-menu">
              <li><a href="/users/${request.identity['user'].id}/"><i class="icon-user"></i> ${request.identity['user'].display_name}</a></li>
              <li py:if="request.identity['user'].club"><a href="/clubs/${request.identity['user'].club.id}/"><i class="icon-group"></i> ${request.identity['user'].club.name}</a></li>
              <li class="divider"></li>
              <li><a href="/flights/pilot/${request.identity['user'].id}"><i class="icon-plane"></i> Flights</a></li>
              <li><a href="/statistics/pilot/${request.identity['user'].id}"><i class="icon-tasks"></i> Statistics</a></li>
              <li class="divider"></li>
              <li><a href="${tg.url('/logout_handler')}"><i class="icon-signout"></i> Logout</a></li>
            </ul>
          </li>
        </ul>
        </py:if>
      </div>
    </div>
  </div>
</py:def>

</html>
