{% extends "base.jinja" %}
{% from "macros/form.jinja" import render_pure_field %}
{% macro render_flight_details(name, flight, status, prefix, trace, form) -%}
<table width="100%">
  <tbody>
    <tr>
      <td class="hidden-xs">
        {% if status == h.UploadStatus.SUCCESS -%}
        {{ form.hidden_tag() }}
        {{ render_pure_field(form.model_id) }}
        {%- endif %}
      </td>
      <td class="hidden-xs">
        {% if status == h.UploadStatus.SUCCESS -%}
        {{ render_pure_field(form.registration) }}
        {%- endif %}
      </td>
      <td class="hidden-xs">
        {% if status == h.UploadStatus.SUCCESS -%}
        {{ render_pure_field(form.competition_id) }}
        {%- endif %}
      </td>
      <td>
        {% if status == h.UploadStatus.SUCCESS -%}
        <span class="label label-success"><i class="icon-ok"></i> {% trans %}Success{% endtrans %}</span>
        {% elif status %}

          {% if status == h.UploadStatus.DUPLICATE %}
            {% set status_text = _('Duplicate file') %}
          {% elif status == h.UploadStatus.MISSING_DATE %}
            {% set status_text = _('Date missing in IGC file') %}
          {% elif status == h.UploadStatus.PARSER_ERROR %}
            {% set status_text = _('Failed to parse file') %}
          {% elif status == h.UploadStatus.NO_FLIGHT %}
            {% set status_text = _('No flight found in file') %}
          {% else %}
            {% set status_text = _('Unknown') %}
          {% endif %}

          {% if flight %}
          <span class="label label-warning"><i class="icon-warning-sign"></i> {{ status_text }}</span>
          {% else %}
          <span class="label label-danger"><i class="icon-warning-sign"></i> {{ status_text }}</span>
          {% endif %}
        {% endif %}
      </td>
      <td>
        {% if flight -%}
        <a href="{{ url_for('flight.index', flight_id=flight.id) }}" class="btn btn-default btn-sm">Show</a>
        {%- endif %}
      </td>
    </tr>
  </tbody>
</table>
{% if trace %}
<div id="barogram-{{ prefix }}" style="width: 100%; height: 120pt;"></div>
{% endif %}
{%- endmacro %}


{% macro render_flight_script(name, flight, status, prefix, trace, form) -%}
{% if trace %}
<script type="text/javascript">
  $(function() {
    slUnits.init({{ h.json.dumps(h.get_setting_name('distance_unit')) }},
                 {{ h.json.dumps(h.get_setting_name('speed_unit')) }},
                 {{ h.json.dumps(h.get_setting_name('lift_unit')) }},
                 {{ h.json.dumps(h.get_setting_name('altitude_unit')) }});

    initBaro($("#barogram-{{ prefix }}"),
      {{ flight.id }},
      {{ h.json.dumps(trace.barogram_t) }},
      {{ h.json.dumps(trace.barogram_h) }},
      {{ h.json.dumps(trace.enl) }},
      {{ h.json.dumps(trace.elevations_h) }}
    );
  });
</script>
{% endif %}
{%- endmacro %}

