<BasePage>
  <div class="page-header">
    <h1>
      {{t "flights"}}

      {{#if loading}}
        <small>{{t "loading"}}</small>
      {{/if}}
    </h1>
  </div>

  <div class="alert alert-success" role="alert">Well done! You successfully read this important alert message.</div>

  <div class="row">
    <div class="col-md-12">
      {{outlet}}
    </div>
  </div>
</BasePage>