<BasePage>
  <div class="page-header">
    <h1>{{t "page-not-found.title"}}</h1>
  </div>

  <div class="row">
    <div class="col-md-12">
      <p class="lead">{{t "page-not-found.text"}}</p>
      <p><code>URL: /{{model.wildcard}}</code></p>
    </div>
  </div>
</BasePage>
