<table class="{{ request.values.get('table_class', '') }}">
    <tr>
        <th class="col-date">Date</th>
        <th class="col-pilot">Pilot</th>
        <th class="col-distance">Distance</th>
        <th class="col-airport">Airport</th>
        <th class="col-aircraft">Aircraft</th>
        <th class="col-link"></th>
    </tr>
    {% for flight in flights %}
    <tr>
        <td class="col-date" title="{{ flight.takeoff_time.strftime('%H:%M') }}-{{ flight.landing_time.strftime('%H:%M') }}">
            {{ flight.date_local.strftime('%d.%m.%Y') }}
        </td>
        <td class="col-pilot">
            {%- if flight.pilot -%}
                <a href="https://skylines.aero/users/{{ flight.pilot.id }}/">{{ flight.pilot.name|e }}</a>
            {%- elif flight.pilot_name -%}
                {{ flight.pilot_name|e }}
            {%- endif -%}

            {%- if (flight.pilot or flight.pilot_name) and (flight.co_pilot or flight.co_pilot_name) -%}<br/>{%- endif -%}

            {%- if flight.co_pilot -%}
                <a href="https://skylines.aero/users/{{ flight.co_pilot.id }}/">{{ flight.co_pilot.name|e }}</a>
            {%- elif flight.co_pilot_name -%}
                {{ flight.co_pilot_name|e }}
            {%- endif -%}

            {%- if not (flight.pilot or flight.pilot_name or flight.co_pilot or flight.co_pilot_name) -%}
                [{{ flight.igc_file.owner|e }}]
            {%- endif -%}
        </td>
        <td class="col-distance">
            {% if flight.olc_classic_distance -%}
                {{ (flight.olc_classic_distance / 1000)|round|int }} km
            {%- endif %}
        </td>
        <td class="col-airport">
            {% if flight.takeoff_airport -%}
                <a href="https://skylines.aero/flights/airport/{{ flight.takeoff_airport.id }}">{{ flight.takeoff_airport.name|e }}</a>
            {%- endif %}
        </td>
        <td class="col-aircraft" title="{{ flight.registration|e or flight.igc_file.registration|e }}">
            {% if flight.model -%}
            {{ flight.model|e }}
            {%- elif flight.igc_file.model %}
            [{{ flight.igc_file.model|e }}]
            {%- endif %}
        </td>
        <td class="col-link">
            <a href="https://skylines.aero/flights/{{ flight.id }}/">Details</a>
        </td>
    </tr>
    {% endfor %}
</table>
