{% from "macros/links.jinja" import user_link, airport_link %}

<table class="{{ request.values.get('table_class', '') }}">
    <tr>
        <th class="col-date">{{ _('Date') }}</th>
        <th class="col-pilot">{{ _('Pilot') }}</th>
        <th class="col-distance">{{ _('Distance') }}</th>
        <th class="col-airport">{{ _('Airport') }}</th>
        <th class="col-aircraft">{{ _('Aircraft') }}</th>
        <th class="col-link"></th>
    </tr>
    {% for flight in flights %}
    <tr>
        <td class="col-date" title="{{ flight.takeoff_time.strftime('%H:%M') }}-{{ flight.landing_time.strftime('%H:%M') }}">
            {{ h.format_date(flight.date_local) }}
        </td>
        <td class="col-pilot">
            {%- if flight.pilot -%}{{ user_link(flight.pilot, _external=True) }}
            {%- elif flight.pilot_name -%}{{ flight.pilot_name|e }}{%- endif -%}

            {%- if (flight.pilot or flight.pilot_name) and (flight.co_pilot or flight.co_pilot_name) -%}<br/>{%- endif -%}

            {%- if flight.co_pilot -%}{{ user_link(flight.co_pilot, _external=True) }}
            {%- elif flight.co_pilot_name -%}{{ flight.co_pilot_name|e }}{%- endif -%}

            {%- if not (flight.pilot or flight.pilot_name or flight.co_pilot or flight.co_pilot_name) -%}
            [{{ flight.igc_file.owner|e }}]
            {%- endif -%}
        </td>
        <td class="col-distance">
            {% if flight.olc_classic_distance -%}
            {{ h.format_distance(flight.olc_classic_distance) }}
            {%- endif %}
        </td>
        <td class="col-airport">
            {% if flight.takeoff_airport -%}
            {{ airport_link(flight.takeoff_airport, _external=True) }}
            {%- endif %}
        </td>
        <td class="col-aircraft" title="{{ flight.registration|e or flight.igc_file.registration|e }}">
            {% if flight.model -%}
            {{ flight.model|e }}
            {%- elif flight.igc_file.model %}
            [{{ flight.igc_file.model|e }}]
            {%- endif %}
        </td>
        <td class="col-link">
            <a href="{{ url_for('flight.index', _external=True, flight_id=flight.id) }}">{{ _('Details') }}</a>
        </td>
    </tr>
    {% endfor %}
</table>
