{% from "macros/links.jinja" import club_link %}

{% extends "base-page.jinja" %}
{# set active_page = "widgets" #}

{% block title %}{{ _('Widgets') }}{% endblock %}

{% block content -%}
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">{{ _('Latest Flights') }}</h3>
  </div>

  <div class="panel-body">
    <p><code>{{ url_for('widgets.flights_js', _external=True) }}</code></p>
    <p>{{ _('This widget shows the latest flights of you, your club or whatever other options you use in the URL.') }}</p>
    <p>{{ _('The example below shows the flights of %(club)s by using the %(option)s option.', club=club_link(club), option='<code>club=' + club.id|string + '</code>') }}</p>
  </div>

  <div class="panel-separator">
    <h4 class="panel-subtitle">{{ _('Preview') }}</h4>
  </div>

  <div class="panel-body">
    <div class="table-responsive" id="flights">{{ _('Loading...') }}</div>
  </div>

  <div class="panel-separator">
    <h4 class="panel-subtitle">{{ _('Code') }}</h4>
  </div>

  <div class="panel-body">
    <pre class="highlight">{{ h.pygmentize('<div id="flights">' + _('Loading...') + '</div>\n\n<script type="text/javascript">\nfunction onFlightsLoaded(html) {\n  document.getElementById("flights").innerHTML = html;\n}\n</script>\n<script src="' + url_for('widgets.flights_js', club=club.id, _external=True) + '"></script>') }}</pre>
  </div>

  <div class="panel-separator">
    <h4 class="panel-subtitle">{{ _('Options') }}</h4>
  </div>

  <div class="panel-body">
    <table class="table table-bordered">
      <tr>
        <th>{{ _('Option') }}</th>
        <th>{{ _('Default') }}</th>
        <th>{{ _('Description') }}</th>
      </tr>
      <tr>
        <td>callback</td>
        <td><code>'onFlightsLoaded'</code></td>
        <td>{{ _('Name of the callback function that is called once the data is available.') }}</td>
      </tr>
      <tr>
        <td>club</td>
        <td></td>
        <td>{{ _('Use this to only show flights of the club with the specified ID.') }}</td>
      </tr>
      <tr>
        <td>user</td>
        <td></td>
        <td>{{ _('Use this to only show flights of the user with the specified ID.') }}</td>
      </tr>
      <tr>
        <td>limit</td>
        <td><code>5</code></td>
        <td>{{ _('Limits the number of returned flights. (max. %(max)d)', max=30) }}</td>
      </tr>
    </table>
  </div>
</div>
{%- endblock %}


{% block styles -%}
{{ super() }}
<style type="text/css">{{ h.pygments_styles() }}</style>
{%- endblock %}


{% block scripts -%}
{{ super() }}

<script type="text/javascript">
  function onFlightsLoaded(html) {
    document.getElementById("flights").innerHTML = html;
  }
</script>

<script type="text/javascript" src="{{ url_for('widgets.flights_js', club=club.id, table_class='table table-condensed table-bordered') }}"></script>
{%- endblock %}
