<?python
title = 'Notifications'
page = 'notifications'
?>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="notifications/notifications-table.html" />
  <xi:include href="master/page.html" />

  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" py:if="False"/>
  </head>

  <body>
    <py:if test="len(notifications) != 0">
      ${render_notifications_table(notifications)}
      <a href="${tg.url('clear', params=params)}" class="btn"><i class="icon-eye-open"></i> Mark all as read</a>
    </py:if>
    <py:if test="len(notifications) == 0">
      You don't have any unread notifications.
    </py:if>
  </body>
</html>
