{% from "notifications/notifications-table.jinja" import render_notifications_table with context %}

{% extends "base-page.jinja" %}
{% set active_page = "notifications" %}


{% block title %}{% trans %}Notifications{% endtrans %}{% endblock %}


{% block head -%}
{{ super() }}
<script type="text/javascript">$(function() { $("abbr.timeago").timeago(); });</script>
{%- endblock %}


{% block content -%}
{% if notifications|count != 0 -%}
  {{ render_notifications_table(notifications) }}
  <a href="{{ tg.url('clear', params=params) }}" class="btn"><i class="icon-eye-open"></i> {% trans %}Mark all as read{% endtrans %}</a>
{%- else %}
  {% trans %}You don't have any unread notifications.{% endtrans %}
{%- endif %}
{%- endblock %}
