{% from "notifications/notifications-table.jinja" import render_events_table with context %}
{% from "macros/datetime.jinja" import timeago_script with context %}

{% extends "base-page.jinja" %}
{% set active_page = "notifications" %}


{% block title %}{% trans %}Notifications{% endtrans %}{% endblock %}


{% block scripts -%}
{{ super() }}
{{ timeago_script() }}
{%- endblock %}


{% block content -%}
{% if events|count != 0 -%}
  {{ render_events_table(events) }}
  <a href="{{ url_for('notifications.clear', **request.args) }}" class="btn"><i class="icon-eye-open"></i> {% trans %}Mark all as read{% endtrans %}</a>
{%- else %}
  {% trans %}There are no more notifications.{% endtrans %}
{%- endif %}
{%- endblock %}
