{% from "macros/datetime.jinja" import insert_timeago with context %}


{% macro render_events_table(events) -%}
<table id="notifications-table" class="table table-striped">
  <tbody>
    {% for event in events -%}
    {{ render_event_row(event) }}
    {%- endfor %}
  </tbody>
</table>
{%- endmacro %}


{% macro render_event_row(event) -%}
<tr>
  <td>
    {% if event.grouped -%}
    {{ render_event_icon(event.events[0]) }}
    {%- else %}
    {{ render_event_icon(event) }}
    {%- endif %}
  </td>
  <td>
    {{ render_event_text(event) }}
    <small>({{ insert_timeago(event.time) }})</small>
  </td>
  <td class="show">
    {% if event.link -%}
      {{ _render_show_button(event.link) }}
    {%- endif %}
  </td>
</tr>
{%- endmacro %}


{% macro render_event_icon(event) -%}
{% if event.type == types.FLIGHT_COMMENT -%}
  <i class="icon-comments-alt"></i>
{%- elif event.type == types.FLIGHT %}
  <i class="icon-plane"></i>
{%- elif event.type == types.FOLLOWER %}
  <i class="icon-user"></i>
{%- endif %}&nbsp;
{%- endmacro %}


{% macro render_event_text(event) -%}
{% if event.grouped -%}
  {% if event.type == types.FLIGHT -%}
    {{ render_flight_events_text(event.events) }}
  {%- else %}
    Error: Unknown event group
  {%- endif %}
{%- else %}
  {% if event.type == types.FLIGHT_COMMENT -%}
    {{ render_flight_comment_event_text(event) }}
  {%- elif event.type == types.FLIGHT %}
    {{ render_flight_event_text(event) }}
  {%- elif event.type == types.FOLLOWER %}
    {{ render_follower_event_text(event) }}
  {%- else %}
    Error: Unknown event
  {%- endif %}
{%- endif %}
{%- endmacro %}


{% macro render_flight_comment_event_text(event) -%}
{% trans pilot=event.actor|e, distance=h.format_distance(event.flight.olc_classic_distance), date=h.format_date(event.flight.date_local) -%}
<strong>{{ pilot }}</strong> commented on your <strong>{{ distance }}</strong> flight on the <strong>{{ date }}</strong>.
{%- endtrans %}
{%- endmacro %}


{% macro render_flight_event_text(event) -%}
{% trans pilot=event.actor|e, distance=h.format_distance(event.flight.olc_classic_distance), date=h.format_date(event.flight.date_local) -%}
<strong>{{ pilot }}</strong> uploaded a new <strong>{{ distance }}</strong> flight on the <strong>{{ date }}</strong>.
{%- endtrans %}
{%- endmacro %}


{% macro render_flight_events_text(events) -%}
{% trans pilot=events[0].actor|e, num_flights=events|count -%}
<strong>{{ pilot }}</strong> uploaded <strong>{{ num_flights }}</strong> new flights.
{%- endtrans %}
{%- endmacro %}


{% macro render_follower_event_text(event) -%}
{% trans pilot=event.actor|e -%}
<strong>{{ pilot }}</strong> is following you now.
{%- endtrans %}
{%- endmacro %}


{% macro _render_show_button(link) -%}
<a href="{{ link }}" class="btn btn-mini">Show</a>
{%- endmacro %}
