{% extends "base-page.jinja" %}
{% set active_page = "tracking" %}

{% block title %}{% trans %}Live Tracking{% endtrans %}{% endblock %}

{%- block content %}
<h3>{% trans %}What is it?{% endtrans %}</h3>
<p>
  {% trans %}SkyLines Live Tracking can be used to let others take part on your journeys while you're flying. It uses a very light-weight protocol that only transmits the necessary data and due to that it can also work in areas/altitudes where the reception isn't very good. To give you an example: A flight of 10 hours only uses about 340 KB of traffic when the positions are transmitted every 5 seconds!{% endtrans %}
</p>

<h3>{% trans %}Clients{% endtrans %}</h3>
<ul>
  <li><b>XCSoar:</b><br/>{% trans xcsoar_6_4='<a href="http://www.xcsoar.org/download/latest.html">XCSoar 6.4</a>' %}available starting with {{ xcsoar_6_4 }}{% endtrans %} (<a href="https://play.google.com/store/apps/details?id=org.xcsoar" target="_blank">Google Play</a>).
  {% trans %}Instructions are below.{% endtrans %}</li>
  <li><b>Gaggle:</b><br/>{% trans %}now available in the current version of Gaggle{% endtrans %}
  (<a href="https://play.google.com/store/apps/details?id=com.geeksville.gaggle" target="_blank">Google Play</a>)</li>
  <li>
    <b>{{ _('LiveTrack24 clients') }}:</b><br/>
    {{ _('You can also use all available applications that use the %(livetrack24)s protocol for sending your locations to SkyLines. Just use your Live Tracking Key as username, choose any password you want and configure %(server)s as the server.', livetrack24='<a href="http://www.livetrack24.com/docs/wiki/LiveTracking%20API">LiveTrack24</a>', server='<code>skylines.aero</code>') }}
  </li>
</ul>

<h3>{% trans %}Live Tracking Key{% endtrans %}</h3>
{% if g.current_user -%}
<p>
  {{ _('Your Live Tracking key is: %(key)s', key='<span class="label tracking-key">' + g.current_user.tracking_key_hex + '</span>') }}
</p>

<p>
  <a href="{{ url_for('settings.tracking') }}" class="btn btn-default btn-sm"><i class="icon-cog"></i> {{ _('Live Tracking Settings') }}</a>
</p>
{%- else %}
<p>{% trans url=url_for('login', next=request.url) %}You have to <a href="{{ url }}">login</a> to see you own personal Live Tracking key.{% endtrans %}</p>
{%- endif %}

<h3>XCSoar</h3>
<p>
  {% trans xcsoar='<a href="http://www.xcsoar.org" target="_blank">XCSoar</a>'%}In {{ xcsoar }}, open the <em>Setup System</em> dialog, click on <em>Setup</em> and then <em>Tracking</em>.  Turn SkyLines tracking on, and enter your Live Tracking key.{% endtrans %}
</p>
{%- endblock %}
