{% from "macros/flags.jinja" import insert_flag with context %}
{% from "macros/datetime.jinja" import insert_timeago, timeago_script with context %}
{% from "macros/links.jinja" import user_link %}

{% extends "base-page.jinja" %}
{% set active_page = "tracking" %}
{% set use_ember = true %}


{% block title %}{% trans %}Live Tracking{% endtrans %}{% endblock %}


{% block scripts -%}
{{ super() }}
  <script>
    slUnits.init({{ h.json.dumps(h.get_setting_name('distance_unit')) }},
        {{ h.json.dumps(h.get_setting_name('speed_unit')) }},
        {{ h.json.dumps(h.get_setting_name('lift_unit')) }},
        {{ h.json.dumps(h.get_setting_name('altitude_unit')) }});
  </script>
{%- endblock %}


{% block content -%}
{%- endblock %}
