{% from "macros/flags.jinja" import insert_flag with context %}
{% from "macros/links.jinja" import user_link %}

{% extends "base-fullscreen.jinja" %}
{% set active_page = "tracking" %}
{% set use_ember = true %}


{% block title -%}
{% if pilots|length == 1 -%}
{{ _('Live Tracking <small>of %(pilot)s</small>', pilot=user_link(pilots[0])) }}
{%- elif pilots|length == 2 -%}
{{ _('Live Tracking <small>of %(pilot)s and %(other_pilot)s</small>', pilot=user_link(pilots[0]), other_pilot=user_link(pilots[1])) }}
{%- else -%}
{{ _('Live Tracking <small>of %(pilot)s and %(num_pilots)d other pilots</small>', pilot=user_link(pilots[0]), num_pilots=(pilots|length - 1)) }}
{%- endif %}
{%- endblock %}


{%- block styles %}
{{ super() }}

{% if traces -%}
  {% assets 'openlayers_css' -%}
  <link href="{{ ASSET_URL }}" rel="stylesheet" type="text/css" />
  {%- endassets %}
{%- endif %}
{%- endblock %}


{%- block scripts %}
{{ super() }}

{% if traces -%}
  {% assets 'openlayers_js' -%}
  <script type="text/javascript" src="{{ ASSET_URL }}"></script>
  {%- endassets %}
{%- endif %}

{% if traces -%}
<script type="text/javascript">
  $(function() {
    var sidebar = $('#sidebar').sidebar();

    $("#barogram_panel").resize(function() {
      var height = $("#barogram_panel").height() + 10;
      sidebar.css('bottom', height);
      $(".ol-scale-line").css('bottom', height);
      $(".ol-attribution").css('bottom', height);
    });

    if (window.location.hash &&
        sidebar.find('li > a[href="#' + window.location.hash.substring(1) + '"]').length != 0) {
      sidebar.open(window.location.hash.substring(1));
    }

    var map = window.flightMap.get('map');

    var slFlightDisplay = require('skylines/utils/flight-display').default;
    var slFlightTracking = require('skylines/utils/flight-tracking').default;
    var slMapClickHandler = require('skylines/utils/map-click-handler').default;

    var flights = window.fixCalcService.get('flights');

    var flight_display = slFlightDisplay.create({
      fixCalc: window.fixCalcService,
      flightMap: window.flightMap,
      fix_table: window.fixTable,
      baro: window.barogram
    });
    var flight_tracking = slFlightTracking.create({
      flight_display: flight_display,
      flights: flights,
    });

    {% for pilot, trace in zip(pilots, traces) -%}
    {% if trace -%}
      window.fixCalcService.addFlight({ sfid: {{ pilot.id }},
                points: {{ trace.points|tojson }},
                barogram_t: {{ trace.barogram_t|tojson }},
                barogram_h: {{ trace.barogram_h|tojson }},
                enl: {{ trace.enl|tojson }},
                contests: undefined,
                elevations_t: {{ trace.barogram_t|tojson }},
                elevations_h: {{ trace.elevations|tojson }},
                geoid: {{ trace.geoid|tojson }},
                additional: {
                  competition_id: "{{ pilot.tracking_callsign or pilot.initials() }}",
                  color: "{{ pilot.color }}"
                }
    });
    {%- endif %}
    {%- endfor %}

    var getPadding = function() { return [20, 20, $("#barogram_panel").height() + 20, sidebar.width() + 20]; };
    var extent = flights.getBounds();
    map.getView().fit(extent, map.getSize(), {padding: getPadding()});

    // update flight track every 15 seconds
    setInterval(function() {
      flight_tracking.updateFlightsFromJSON();
    }, 15*1000);

    var map_click_handler = slMapClickHandler(map, flight_display, {
      flight_info: true,
      location_info: true,
      api_url: "{{ config.get('SKYLINES_API_URL') }}",
    });
  });
</script>
{%- endif %}
{%- endblock %}


{% block content -%}
{% if traces -%}
<div id="fullscreen-content" class="olFullscreen">
<div id="sidebar" class="sidebar">
<!-- Nav tabs -->
  <ul class="sidebar-tabs" role="tablist">
    <li class="active">
      <a href="#tab-overview" title="{{ _('Overview') }}" role="tab">
        <i class="icon-info icon-large"></i>
      </a>
    </li>
  </ul>
<!-- Tab panes -->
  <div class="sidebar-content">
    <div class="sidebar-pane active" id="tab-overview">
      <h3>{% trans %}Overview{% endtrans %}</h3>
      <div class="sidebar-pane-content">
        <div data-component='tracking-pilots-list' data-attrs='{
          "pilots": {{ pilots_json|tojson }}
        }'></div>
      </div>
    </div>
  </div>
</div>

<div data-component='flight-map' data-attrs='{
  "fullscreenElement": "#fullscreen-content",
  "bingAPIKey": "{{ config.get('SKYLINES_BING_API_KEY', 'null') }}",
  "mapboxAPIKey": "{{ config.get('SKYLINES_MAPBOX_API_KEY', 'null') }}",
  "mapTileURL": "{{ config.get('SKYLINES_MAP_TILE_URL') }}"
}' class="olFullscreen sidebar-map"></div>
<div id="barogram_panel" class="map-bottom-panel map-overlay">
  <div style="overflow: auto; max-height: 115px">
    <div data-component='fix-table'></div>
  </div>
  <div data-component='flight-barogram'></div>
</div>
</div>
{%- else -%}
<p style="margin:10pt;margin-top:40pt;">
  {% if pilots|length == 1 -%}
  {% trans %}There is no live track of this pilot currently.{% endtrans %}
  {%- else -%}
  {% trans %}There are no live tracks of these pilots currently.{% endtrans %}
  {%- endif %}
</p>
{%- endif %}
{%- endblock %}
