{% from "macros/flags.jinja" import insert_flag with context %}
{% from "macros/datetime.jinja" import insert_timeago with context %}
{% from "macros/links.jinja" import user_link %}
{% from 'tracking/details-table.jinja' import render_details_table with context %}

{% extends "base-fullscreen.jinja" %}
{% set active_page = "tracking" %}


{% block title -%}
{% if pilots|length == 1 -%}
{{ _('Live Tracking <small>of %(pilot)s</small>', pilot=user_link(pilots[0])) }}
{%- elif pilots|length == 2 -%}
{{ _('Live Tracking <small>of %(pilot)s and %(other_pilot)s</small>', pilot=user_link(pilots[0]), other_pilot=user_link(pilots[1])) }}
{%- else -%}
{{ _('Live Tracking <small>of %(pilot)s and %(num_pilots)d other pilots</small>', pilot=user_link(pilots[0]), num_pilots=(pilots|length - 1)) }}
{%- endif %}
{%- endblock %}


{%- block styles %}
{{ super() }}

{% if traces -%}
  {% assets 'openlayers_css' -%}
  <link href="{{ ASSET_URL }}" rel="stylesheet" type="text/css" />
  {%- endassets %}
{%- endif %}
{%- endblock %}


{%- block scripts %}
{{ super() }}

{% if traces -%}
  {% assets 'openlayers_js' -%}
  <script type="text/javascript" src="{{ ASSET_URL }}"></script>
  {%- endassets %}

  {% assets 'flot_js' -%}
  <script type="text/javascript" src="{{ ASSET_URL }}"></script>
  {%- endassets %}
{%- endif %}

{% assets 'flight_js' -%}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{%- endassets %}

{% assets 'tracking_js' -%}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{%- endassets %}

{% if traces -%}
<script type="text/javascript">
  $(function() {
    var sidebar = $('#sidebar').sidebar();

    $("#barogram_panel").resize(function() {
      var height = $("#barogram_panel").height() + 10;
      sidebar.css('bottom', height);
      $(".ol-scale-line").css('bottom', height);
      $(".ol-attribution").css('bottom', height);
    });

    if (window.location.hash &&
        sidebar.find('li > a[href="#' + window.location.hash.substring(1) + '"]').length != 0) {
      sidebar.open(window.location.hash.substring(1));
    }

    if (!isCanvasSupported()) {
      $("#map_canvas").html('<b>Your browser is too old to display this map.<br />' +
                            'Please update to a current version.</b>');
      return;
    }

    slUnits.init({{ h.json.dumps(h.get_setting_name('distance_unit')) }},
                 {{ h.json.dumps(h.get_setting_name('speed_unit')) }},
                 {{ h.json.dumps(h.get_setting_name('lift_unit')) }},
                 {{ h.json.dumps(h.get_setting_name('altitude_unit')) }});

    var sl_map =
      new slMap("map_canvas",
                "{{ config.get('SKYLINES_MAP_TILE_URL') }}",
                { {% if 'baselayer' in request.args %}'base_layer': '{{ request.args['baselayer'] }}',{% endif %}{% if 'overlays' in request.args %}'overlay_layers': '{{ request.args['overlays'] }}',{% endif %} });

    var map = sl_map.getMap();

    sl_map.addBingLayers("{{ config.get('SKYLINES_BING_API_KEY', 'null') }}");
    sl_map.addMapboxLayer("{{ config.get('SKYLINES_MAPBOX_API_KEY', 'null') }}");

    var flight_display = slFlightTracking(sl_map.getMap(), $("#fix-data"), $("#barogram"));

    {% for pilot, trace in zip(pilots, traces) -%}
    {% if trace -%}
    flight_display.addFlight({ sfid: {{ pilot.id }},
                points: {{ h.json.dumps(trace.points) }},
                barogram_t: {{ h.json.dumps(trace.barogram_t) }},
                barogram_h: {{ h.json.dumps(trace.barogram_h) }},
                enl: {{ h.json.dumps(trace.enl) }},
                contests: undefined,
                elevations_t: {{ h.json.dumps(trace.barogram_t) }},
                elevations_h: {{ h.json.dumps(trace.elevations) }},
                geoid: {{ h.json.dumps(trace.geoid) }},
                additional: {
                  competition_id: "{{ pilot.tracking_callsign or pilot.initials() }}",
                  color: "{{ pilot.color }}"
                }
    });
    {%- endif %}
    {%- endfor %}

    var getPadding = function() { return [20, 20, $("#barogram_panel").height() + 20, sidebar.width() + 20]; };
    var extent = flight_display.getFlights().getBounds();
    map.getView().fit(extent, map.getSize(), {padding: getPadding()});

    // update flight track every 15 seconds
    setInterval(function() {
      flight_display.updateFlightsFromJSON();
    }, 15*1000);

    var map_click_handler = slMapClickHandler(map, flight_display, {
      flight_info: true,
      location_info: true,
      api_url: "{{ config.get('SKYLINES_API_URL') }}",
    });

    var fullscreen_button = new FullscreenButton($("#fullscreen-content"));
    map.addControl(fullscreen_button);
  });
</script>
{%- endif %}
{%- endblock %}


{% block content -%}
{% if traces -%}
<div id="fullscreen-content" class="olFullscreen">
<div id="sidebar" class="sidebar">
<!-- Nav tabs -->
  <ul class="sidebar-tabs" role="tablist">
    <li class="active">
      <a href="#tab-overview" title="{{ _('Overview') }}" role="tab">
        <i class="icon-info icon-large"></i>
      </a>
    </li>
  </ul>
<!-- Tab panes -->
  <div class="sidebar-content">
    <div class="sidebar-pane active" id="tab-overview">
      <h3>{% trans %}Overview{% endtrans %}</h3>
      <div class="sidebar-pane-content">
        {{ render_details_table(pilots) }}
      </div>
    </div>
  </div>
</div>

<div id="map_canvas" class="olFullscreen sidebar-map"></div>
<div id="barogram_panel" class="map-bottom-panel map-overlay">
  <div style="overflow: auto; max-height: 115px">
    <table id="fix-data" class="table table-condensed"></table>
  </div>
  <div id="barogram" style="width:100%; height:133px;"></div>
</div>
</div>
{%- else -%}
<p style="margin:10pt;margin-top:40pt;">
  {% if pilots|length == 1 -%}
  {% trans %}There is no live track of this pilot currently.{% endtrans %}
  {%- else -%}
  {% trans %}There are no live tracks of these pilots currently.{% endtrans %}
  {%- endif %}
</p>
{%- endif %}
{%- endblock %}
