{% from "macros/flags.jinja" import insert_flag with context %}
{% from "macros/datetime.jinja" import insert_timeago with context %}
{% from "macros/links.jinja" import user_link, club_link %}

{% extends "base-page.jinja" %}
{% set active_page = "tracking" %}


{% block title -%}
{% if pilots|length == 1 -%}
{{ _('Live Tracking <small>of %(pilot)s</small>', pilot=user_link(pilots[0])) }}
{%- elif pilots|length == 2 -%}
{{ _('Live Tracking <small>of %(pilot)s and %(other_pilot)s</small>', pilot=user_link(pilots[0]), other_pilot=user_link(pilots[1])) }}
{%- else -%}
{{ _('Live Tracking <small>of %(pilot)s and %(num_pilots)d other pilots</small>', pilot=user_link(pilots[0]), num_pilots=(pilots|length - 1)) }}
{%- endif %}
{%- endblock %}


{%- block styles %}
{{ super() }}

{% if traces -%}
  {% assets 'openlayers_css' -%}
  <link href="{{ ASSET_URL }}" rel="stylesheet" type="text/css" />
  {%- endassets %}
{%- endif %}
{%- endblock %}


{%- block scripts %}
{{ super() }}

{% if traces -%}
  {% assets 'openlayers_js' -%}
  <script type="text/javascript" src="{{ ASSET_URL }}"></script>
  {%- endassets %}

  {% assets 'flot_js' -%}
  <script type="text/javascript" src="{{ ASSET_URL }}"></script>
  {%- endassets %}
{%- endif %}

{% assets 'flight_js' -%}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{%- endassets %}

{% assets 'tracking_js' -%}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{%- endassets %}

{% if traces -%}
<script type="text/javascript">
  $(function() {
    slUnits.init({{ h.json.dumps(h.get_setting_name('distance_unit')) }},
                 {{ h.json.dumps(h.get_setting_name('speed_unit')) }},
                 {{ h.json.dumps(h.get_setting_name('lift_unit')) }},
                 {{ h.json.dumps(h.get_setting_name('altitude_unit')) }});

    initOpenLayers("map_canvas",
                   "{{ config.get('SKYLINES_MAP_TILE_URL') }}",
                   { {% if 'baselayer' in request.args %}'base_layer': '{{ request.args['baselayer'] }}',{% endif %}{% if 'overlays' in request.args %}'overlay_layers': '{{ request.args['overlays'] }}',{% endif %} });
    initFlightLayer();
    initBaro($("#barogram"));

    // initiate tracking mode
    default_time = -1;
    setTime(default_time);

    {% for pilot, trace in zip(pilots, traces) -%}
    {% if trace -%}
    addFlight({{ pilot.id }},
      {{ h.json.dumps(trace.points) }},
      {{ h.json.dumps(trace.barogram_t) }},
      {{ h.json.dumps(trace.barogram_h) }},
      {{ h.json.dumps(trace.enl) }},
      undefined,
      {{ h.json.dumps(trace.barogram_t) }},
      {{ h.json.dumps(trace.elevations) }},
      {
        competition_id: "{{ pilot.tracking_callsign or pilot.initials() }}",
        color: "{{ pilot.color }}",
      }
    );
    {%- endif %}
    {%- endfor %}

    var view = map.getView();
    var extent = flights.getBounds();
    var buffer = Math.max(ol.extent.getWidth(extent), ol.extent.getHeight(extent));
    extent = ol.extent.buffer(extent, buffer * 0.02);
    view.fitExtent(extent, map.getSize());

    hoverMap();
    addBingLayers("{{ config.get('SKYLINES_BING_API_KEY', 'null') }}");
    addMapboxLayer("{{ config.get('SKYLINES_MAPBOX_API_KEY', 'null') }}");

    // update flight track every 15 seconds
    setInterval(function() {
      updateFlightsFromJSON();
    }, 15*1000);

    initInfoBox({flight_info: false, location_info: true});
  });
</script>
{%- endif %}
{%- endblock %}


{% block content -%}
<div class="row">
  <div class="col-sm-4">
    {% if pilots|length == 1 -%}
    <table class="table">
      <tbody>
        <tr>
          <th>{% trans %}Pilot{% endtrans %}</th>
          <td>{{ user_link(pilots[0]) }}</td>
        </tr>

        {% if pilots[0].club -%}
        <tr>
          <th>{% trans %}Club{% endtrans %}</th>
          <td>{{ club_link(pilots[0].club) }}</td>
        </tr>
        {%- endif %}

        {% if pilots[0].tracking_delay > 0 -%}
        <tr>
          <th><span rel="tooltip" title="{{ _('This pilot chose to delay the display of his live tracks.') }}">{% trans %}Delay{% endtrans %}</span></th>

          <td>
            {{ ngettext('%(num)u minute', '%(num)u minutes', pilots[0].tracking_delay) }}

            {%- if pilots[0].is_readable(g.current_user) -%}
            <span rel="tooltip" title="{{ _('The live tracking delay is ignored because of your account privileges.') }}">({% trans %}ignored{% endtrans %})</span>
            {%- endif %}
          </td>
        </tr>
        {%- endif %}
      </tbody>
    </table>
    {%- else -%}
    <table class="table">
      <tbody>
        {% for pilot in pilots -%}
        <tr>
          <td><span class="badge" style="background-color:{{ pilot.color }}">{{ pilot.tracking_callsign or pilot.initials() }}</span></td>
          <td>{{ user_link(pilot) }}</td>
          <td>{% if pilot.club_id %}{{ club_link(pilot.club) }}{% endif %}</td>
        </tr>
        {%- endfor %}
      </tbody>
    </table>
    {%- endif %}

    {% if traces -%}
    <p>
      <a href="{{ url_for('.map_', baselayer=request.args.get('baselayer'), overlays=request.args.get('overlays')) }}" class="btn btn-default">
        <i class="icon-fullscreen icon-large"></i> {% trans %}Full-screen map{% endtrans %}
      </a>
    </p>
    {%- endif %}
  </div>

  <div class="col-sm-8">
    {% if traces -%}
    <div id="map_canvas" style="width:100%; height:400pt;"></div>
    <div id="barogram" style="width:100%; height:120pt; margin-top: 5px"></div>
    <table id="fix-data" class="table table-condensed"></table>
    {%- else -%}
      {% if pilots|length == 1 -%}
      {% trans %}There is no live track of this pilot currently.{% endtrans %}
      {%- else -%}
      {% trans %}There are no live tracks of these pilots currently.{% endtrans %}
      {%- endif %}
    {%- endif %}
  </div>
</div>
{%- endblock %}
