{% extends "base-page.jinja" %}
{% set active_page = "settings" %}

{% block title %}{% trans %}Change Club{% endtrans %}{% endblock %}

{% block content -%}
<div class="row">
  <div class="col-md-6">
    <h2>{% trans %}Select Club{% endtrans %}</h2>
    <p>{% trans %}Select your primary club:{% endtrans %}</p>
    {{ select_form(dict(id=user.id, club=user.club_id)) }}
  </div>

  <div class="col-md-6">
    <h2>{% trans %}Register Club{% endtrans %}</h2>
    <p>{% trans %}If your club doesn't exist yet in Skylines, create it:{% endtrans %}</p>
    {{ create_form(action='create_club') }}
  </div>
</div>
{%- endblock %}
