<?python
from tg.i18n import ugettext as _

page = 'settings'
title = _('Change Club')
?>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master/page.html" />

  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" py:if="False"/>
    <title>Change Club</title>
  </head>

  <body>
    <h1>Select Club</h1>

    <p>
      Select your primary club:
    </p>

    ${select_form(dict(club=user.club_id), action='select_club')}

    <h2>Register Club</h2>

    <p>
      If your club doesn't exist yet in Skylines, create it:
    </p>

    ${create_form(action='create_club')}
  </body>
</html>
