{% from "macros/links.jinja" import user_link, club_link %}

{% extends "base-page.jinja" %}
{% set active_page = "settings" %}

{% block title %}{{ g.user|e }} <small> - {{ _('Followers') }}</small>{% endblock %}


{%- block content %}
{% if followers -%}
<ul class="row list-unstyled">
  {% for follower in followers -%}
  <li class="col-md-3 col-sm-4 col-xs-6">
    <div class="panel panel-default">
      <div class="panel-body follower-panel">
        <h4 class="media-heading">{{ user_link(follower) }}</h4>

        <p>{% if follower.club -%}{{ club_link(follower.club) }}{%- else -%}&nbsp;{%- endif %}</p>

        {% if g.current_user -%}
        {% if follower == g.current_user -%}
          <a class="btn btn-default disabled form-control">
            <i class="icon-ban-circle icon-fixed-width"></i>
            {{ _('This is you') }}
          </a>
        {%- elif follower.current_user_follows -%}
          <a href="{{ url_for('user.unfollow', user_id=follower.id) }}" class="btn btn-default form-control">
            <i class="icon-minus icon-fixed-width"></i>
            {{ _('Unfollow') }}
          </a>
        {%- else -%}
          <a href="{{ url_for('user.follow', user_id=follower.id) }}" class="btn btn-default form-control">
            <i class="icon-plus icon-fixed-width"></i>
            {{ _('Follow') }}
          </a>
        {%- endif %}
        {%- endif %}
      </div>
    </div>
  </li>
  {%- endfor %}
</ul>
{%- endif %}
{%- endblock %}
