{% extends "base-page.jinja" %}
{% set active_page = "login" %}

{% block title %}{% trans %}Register{% endtrans %}{% endblock %}

{% block content -%}
<div class="col-sm-8 col-sm-offset-2">
{{ form(action='new') }}
</div>
{%- endblock %}
