{% extends "base-form.jinja" %}
{% set active_page = "login" %}

{% from "macros/form.jinja" import render_field, render_two_fields %}

{% block title %}{% trans %}Register{% endtrans %}{% endblock %}

{% block form -%}
<form method="POST" action="{{ url_for('users.new') }}" role="form">
  {{ form.hidden_tag() }}
  {{ render_field(form.email_address) }}
  {{ render_two_fields(_('First and last name'), form.first_name, form.last_name) }}
  {{ render_field(form.password) }}
  {{ render_field(form.verify_password) }}
  <div class="form-group">
    <input class="form-control btn btn-primary" value="{{ _('Register') }}" type="submit">
  </div>
</form>
{%- endblock %}
