<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master/page.html" />

  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" py:if="False"/>
    <title>User ${user.user_name}</title>
  </head>

  <body>
    <div class="row">
      <div class="well span8 offset2">
        <table class="right">
          <tr py:if="user.is_readable()">
            <th>Login name</th>
            <td py:content="user.user_name">Foo</td>
          </tr>

          <tr py:if="user.is_readable()">
            <th>Email</th>
            <td py:content="user.email_address">Foo</td>
          </tr>

          <tr>
            <th>Display name</th>
            <td py:content="user.display_name">Foo</td>
          </tr>

          <tr py:if="user.club">
            <th>Club</th>
            <td>
              <a href="/clubs/${user.club_id}/" py:content="user.club">
                Foo
              </a>
            </td>
          </tr>
        </table>

        <p py:if="user.is_writable()">
          <a href="edit" class="btn">Edit</a>
        </p>
      </div>
    </div>
  </body>
</html>
