<?python
from operator import attrgetter
from tg.i18n import ungettext
from skylines.lib.formatter.units import format_distance, format_speed

title = user.display_name

def add_locations(locations):
  def jsonify(location):
    return '[' + str(location.longitude) + ',' + str(location.latitude) + ']'

  return ', '.join([jsonify(location) for location in locations])
?>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master/page.html" />
  <xi:include href="../headers/openlayers.html" py:if="takeoff_locations" />
  <xi:include href="../snippets/datetime.html" />

  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" py:if="False"/>

    <script type="text/javascript" src="/js/map.js"></script>

    <script type="text/javascript" py:if="takeoff_locations">
      /* <![CDATA[ */
      $(function() {
        initOpenLayers("map_canvas",
                     "${config.get('skylines.map.airspace_tile_url', '')}");

        $.getScript("http://maps.google.com/maps/api/js?v=3.7&sensor=false&callback=addGoogleLayer");
        addBingLayers("${config.get('skylines.bing.api_key', 'null')}");
        addReliefLayer();

        var vectorLayer = new OpenLayers.Layer.Vector("Overlay");
        map.addLayer(vectorLayer);

        var locations = [${add_locations(takeoff_locations)}];
        for (var i = 0; i < locations.length; ++i) {
          point = new OpenLayers.Geometry.Point(locations[i][0], locations[i][1]);
          point = point.transform(new OpenLayers.Projection("EPSG:4326"), map.getProjectionObject());
          vectorLayer.addFeatures(new OpenLayers.Feature.Vector(point, {},
            {
              externalGraphic: "/images/OpenLayers/marker-gold.png",
              graphicHeight: 21,
              graphicWidth: 16,
              graphicXOffset: -16/2,
              graphicYOffset: -21
            }
          ));
        }
        map.zoomToExtent(vectorLayer.getDataExtent().scale(1.1));
        var zoom = map.getZoom();
        if (zoom > 10)
          map.zoomTo(10);
      });
      /* ]]> */
    </script>
  </head>

  <body itemscope="" itemtype="http://schema.org/Person">
    <meta itemprop="url" content="/users/${user.id}" />
    <div class="row">
      <div class="well span8 offset2">
        <table class="right">
          <tr py:if="user.is_readable(request.identity)">
            <th>Email</th>
            <td py:content="user.email_address" itemprop="email">Foo</td>
          </tr>

          <tr>
            <th>Display name</th>
            <td py:content="user.display_name" itemprop="name">Foo</td>
          </tr>

          <tr py:if="user.is_readable(request.identity) and user.tracking_key_hex is not None">
            <th>Tracking key</th>
            <td>
              <span class="label label-info" py:content="user.tracking_key_hex">Tracking Key</span>
              <a href="/tracking/info" class="btn btn-mini">More Information</a>
              <py:if test="user.is_writable(request.identity)">
                <a href="tracking_register?came_from=." class="btn btn-mini">Generate new key</a>
              </py:if>
            </td>
          </tr>

          <tr py:if="user.is_readable(request.identity) and user.tracking_key_hex is not None">
            <th>Tracking delay</th>
            <td>
              <span py:if="user.tracking_delay == 0" py:strip="True">None</span>
              <span py:if="user.tracking_delay > 0" py:replace="ungettext('%u minute', '%u minutes', user.tracking_delay) % user.tracking_delay"/>
            </td>
          </tr>

          <tr py:if="user.club">
            <th>Club</th>
            <td itemprop="memberof" itemscope="" itemtype="http://schema.org/SportsTeam">
              <meta itemprop="url" content="/clubs/${user.club_id}" />
              <a href="/clubs/${user.club_id}/" py:content="user.club" itemprop="name">
                Foo
              </a>
              <a py:if="user.is_writable(request.identity)" href="change_club" class="btn btn-mini">Change</a>
            </td>
          </tr>

          <tr py:if="user.club is None and user.is_writable(request.identity)">
            <th>Club</th>
            <td>
              [Unspecified]
              <a py:if="user.is_writable(request.identity)" href="change_club" class="btn btn-mini">Change</a>
            </td>
          </tr>
        </table>

        <p style="margin-top: 10px">
          <a py:if="user.is_writable(request.identity)" href="/users/${user.id}/edit" class="btn">Edit</a>
          <a py:if="user.is_writable(request.identity)" href="change_password"
             class="btn">Change Password</a>
          <a py:if="request.identity and 'manage' in
                    request.identity['permissions']"
             href="recover_password" class="btn">Recover Password</a>

          <span py:if="request.identity"
                py:with="current=request.identity['user']" py:strip="True">
            <span py:if="current!=user" py:with="follows=current.follows(user)" py:strip="True">
              <a py:if="follows"
                 href="/users/${user.id}/unfollow"
                 class="btn">Unfollow</a>
              <a py:if="not follows"
                 href="/users/${user.id}/follow"
                 class="btn">Follow</a>
            </span>
          </span>

          <a href="/flights/pilot/${user.id}/" class="btn"><i class="icon-plane"></i> Flights</a>
          <a href="/statistics/pilot/${user.id}/" class="btn"><i class="icon-tasks"></i> Statistics</a>
        </p>
      </div>

      <div class="span12" py:if="user.following">
        <h2>Following</h2>
        <ul class="row-fluid">
          <li class="span3" py:for="following in sorted(user.following, key=attrgetter('destination.display_name'))">
            <a href="/users/${following.destination_id}/"
               py:content="following.destination">
              Following Name
            </a>
          </li>
        </ul>
      </div>

      <div class="span12" py:if="user.followers">
        <h2>Followers</h2>
        <ul class="row-fluid">
          <li class="span3" py:for="follower in  sorted(user.followers, key=attrgetter('source.display_name'))">
            <a href="/users/${follower.source_id}/"
               py:content="follower.source">
              Follower Name
            </a>
          </li>
        </ul>
      </div>

      <div class="span4 offset2" py:if="distance_flights">
        <h2>Distance Flights</h2>
        <table class="table">
          <thead>
            <tr>
              <th>Distance</th>
              <th>Date</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr py:for="distance_flight in distance_flights">
              <td py:content="format_distance(distance_flight[0])">300 km</td>
              <td>
                <py:if test="distance_flight[1]">
                  ${insert_timeago_date(distance_flight[1].landing_time)}
                </py:if>
              </td>
              <td>
                <a py:if="distance_flight[1]"
                   href="/flights/${distance_flight[1].id}/" class="btn btn-mini">Show</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="span4" py:if="defined('last_year_statistics') and last_year_statistics.flights > 0">
        <h2>Last 12 Months</h2>
        <table class="table">
          <thead>
            <tr>
              <th colspan="2">&nbsp;</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><strong>Flights</strong></td>
              <td>${h.format_number(last_year_statistics.flights)}</td>
            </tr>
            <tr>
              <td><strong>Distance</strong></td>
              <td>
                <span rel="tooltip" title="avg. ${format_distance(last_year_statistics.distance / last_year_statistics.flights)} per flight">
                  ${format_distance(last_year_statistics.distance)}
                </span>
              </td>
            </tr>
            <tr>
              <td><strong>Flight Time</strong></td>
              <td>
                <span rel="tooltip" title="avg. ${h.format_timedelta(last_year_statistics.duration / last_year_statistics.flights)} Hours per flight">
                  ${h.format_timedelta(last_year_statistics.duration)} Hours
                </span>
              </td>
            </tr>
            <tr>
              <td><strong>Average Speed</strong></td>
              <td>${format_speed(last_year_statistics.speed)}</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="span12" py:if="takeoff_locations">
        <h2>Takeoff Locations</h2>
        <div id="map_canvas" style="width:100%; height:400pt;"></div>
      </div>
    </div>
  </body>
</html>
