.form-login {
  min-width: 300px;
  padding: 0 20px;
  margin-bottom: inherit;


  > div, > button {
    margin: 15px 0;
  }

  hr {
    margin: 8px 0;
  }

  a {
    padding-left: 0;
    padding-right: 0;
  }
}
