{% extends "base-page.jinja" %}
{% set active_page = "competitions" %}

{% set header_tabs = [
    ('/competitions/%d'|format(competition.id), 'details', _('Details')),
    ('/competitions/%d/participants'|format(competition.id), 'participants', _('Participants')),
] %}

{% block title %}{{ competition.name }}{% endblock %}

{% block content %}{{ content }}{% endblock %}
