{% extends "base-page.jinja" %}
{% set active_page = "settings" %}
{% set use_ember = True %}

{% block title %}{{ g.user|e }} <small> - {{ _('Followers') }}</small>{% endblock %}


{%- block content %}
<div data-component="follower-list" data-attrs='{"followers": {{ followers|tojson }}}'></div>
{%- endblock %}
