{% extends "base-page.jinja" %}
{% set active_page = "settings" %}
{% set use_ember = True %}

{%- block ember_application %}
<div data-component="follower-page" data-attrs='{"user": {{ user|tojson }}, "followers": {{ followers|tojson }}}'></div>
{%- endblock %}
