{% macro render_field(field, hide_error_text=False, disabled=False, class='') -%}
{% if field.widget.input_type == 'checkbox' -%}
  <div class="checkbox{% if field.errors %} has-error{% endif %} {{ class }}">
    <label>
        {{ field(**kwargs)|safe }}{{ field.label.text }}
    </label>

    {% if field.errors -%}
    <p class="help-block">{{ field.errors[0] }}</p>
    {%- endif %}
  </div>
{%- else -%}
  <div class="form-group{% if field.errors %} has-error{% endif %} {{ class }}" id="form-group-{{ field.id }}">
    {{ field.label }}

    {% if hide_error_text -%}
      {{ field(class_="form-control", title=field.errors[0], **kwargs)|safe }}
    {%- else -%}
      {% if disabled -%}
      {{ field(class_="form-control", disabled='true', **kwargs)|safe }}
      {%- else -%}
      {{ field(class_="form-control", **kwargs)|safe }}
      {%- endif %}

      {% if field.errors -%}
      <p class="help-block">{{ field.errors[0] }}</p>
      {%- endif %}
    {%- endif %}
  </div>
{%- endif %}
{%- endmacro %}


{% macro render_pure_field(field, hide_error_text=False, disabled=False) -%}
<div class="form-group{% if field.errors %} has-error{% endif %}" id="form-group-{{ field.id }}">
  {% if hide_error_text -%}
    {{ field(class_="form-control", title=field.errors[0], **kwargs)|safe }}
  {%- else -%}
    {% if disabled -%}
    {{ field(class_="form-control", disabled='true', **kwargs)|safe }}
    {%- else -%}
    {{ field(class_="form-control", **kwargs)|safe }}
    {%- endif %}

    {% if field.errors -%}
    <p class="help-block">{{ field.errors[0] }}</p>
    {%- endif %}
  {%- endif %}
</div>
{%- endmacro %}


{% macro render_two_fields(label, field1, field2) -%}
  <div class="form-group{% if field1.errors or field2.errors %} has-error{% endif %}">
    <label for="{{ field1.name }}">{{ label }}</label>

    <div class="row">
      <div class="col-sm-6">
      {{ field1(class_="form-control", **kwargs)|safe }}
      </div>
      <div class="col-sm-6">
      {{ field2(class_="form-control", **kwargs)|safe }}
      </div>
    </div>

    {% if field1.errors -%}
    <p class="help-block">{{ field1.errors[0] }}</p>
    {%- endif %}
    {% if field2.errors -%}
    <p class="help-block">{{ field2.errors[0] }}</p>
    {%- endif %}
  </div>
{%- endmacro %}
