{% macro pager(name, kw={}) -%}
{% with page=g.paginators[name] -%}
{% if page.page_count != 0 -%}
<ul class="pagination pagination-condensed">
  <li class="prev{% if page.page == page.first_page %} disabled{% endif %}">
    <a href="{{ h.url('', page=h.max(page.first_page, page.page - 1), **kw) }}">&laquo;</a>
  </li>

  {% if (page.page - 4 >= page.first_page) and (page.page == page.last_page) -%}
  <li><a href="{{ h.url('', page=(page.page - 4), **kw) }}">{{ page.page - 4 }}</a></li>
  {%- endif -%}

  {% if (page.page - 3 >= page.first_page) and (page.page >= page.last_page - 1) -%}
  <li><a href="{{ h.url('', page=(page.page - 3), **kw) }}">{{ page.page - 3 }}</a></li>
  {%- endif -%}

  {% if page.page - 2 >= page.first_page -%}
  <li><a href="{{ h.url('', page=(page.page - 2), **kw) }}">{{ page.page - 2 }}</a></li>
  {%- endif -%}

  {% if page.page - 1 >= page.first_page -%}
  <li><a href="{{ h.url('', page=(page.page - 1), **kw) }}">{{ page.page - 1 }}</a></li>
  {%- endif -%}

  <li class="active"><a href="{{ h.url('', page=(page.page), **kw) }}">{{ page.page }}</a></li>

  {% if page.page + 1 <= page.last_page -%}
  <li><a href="{{ h.url('', page=(page.page + 1), **kw) }}">{{ page.page + 1 }}</a></li>
  {%- endif -%}

  {% if page.page + 2 <= page.last_page -%}
  <li><a href="{{ h.url('', page=(page.page + 2), **kw) }}">{{ page.page + 2 }}</a></li>
  {%- endif -%}

  {% if (page.page + 3 <= page.last_page) and (page.page <= page.first_page + 1) -%}
  <li><a href="{{ h.url('', page=(page.page + 3), **kw) }}">{{ page.page + 3 }}</a></li>
  {%- endif -%}

  {% if (page.page + 4 <= page.last_page) and (page.page == page.first_page) -%}
  <li><a href="{{ h.url('', page=(page.page + 4), **kw) }}">{{ page.page + 4 }}</a></li>
  {%- endif -%}

  <li class="next{% if page.page == page.last_page %} disabled{% endif %}">
    <a href="{{ h.url('', page=h.min(page.last_page, page.page + 1), **kw) }}">&raquo;</a>
  </li>
</ul>
{%- endif %}
{%- endwith %}
{%- endmacro %}


{% macro pager_script() -%}
<script>
$(function() {
   $(".pagination a").click(function() {
     if (this.href.indexOf('#', this.href.length - 1) === -1)
       $("#partial").load(this.href + (this.href.indexOf('?') != -1 ? "&" : "?") + "partial");
     return false;
   });
});
</script>
{%- endmacro %}


{% macro pager_shortcut_script(name, kw={}) -%}
{% with page=g.paginators[name] -%}
<script>
$(function() {
   $(window).keydown(function(e) {
     if ($(document.activeElement).closest('input').length != 0)
       return;

     var href = null;
     if (e.key == "Right" || e.keyCode == 39) {
       href = "{{ h.url('', page='PAGENUM', **kw) }}";
       href = href.replace('PAGENUM', $('#page-position').data('page-next'));
     } else if (e.key == "Left" || e.keyCode == 37) {
       href = "{{ h.url('', page='PAGENUM', **kw) }}";
       href = href.replace('PAGENUM', $('#page-position').data('page-prev'));
     }

     if (href && href.indexOf('#', href.length - 1) === -1) {
       $("#partial").load(href + (href.indexOf('?') != -1 ? "&" : "?") + "partial");
       return false;
     }
   });
});
</script>
{%- endwith %}
{%- endmacro %}


{% macro pager_status(name) -%}
{% with page=g.paginators[name] -%}
{% if page.count %}
{% trans start=page.offset + 1, end=page.back_offset, total=page.count %}
Showing {{ start }} to {{ end }} of {{ total }} entries.
{% endtrans %}
{% else %}
{% trans -%}No entries in table.{%- endtrans %}
{% endif %}
{%- endwith %}
{%- endmacro %}
