[Unit]
Description=MapProxy uWSGI Server
After=network.target

[Service]
SyslogIdentifier=mapproxy
WorkingDirectory=/home/skylines/src
ExecStart=/usr/local/bin/pipenv run gunicorn -b 127.0.0.1:9109 -w 10 --no-sendfile wsgi_mapproxy
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
PrivateTmp=true
Restart=on-failure

[Install]
WantedBy=default.target
