{% macro render_pilots_table(years, max_pilots, sum_pilots=None) -%}
<table class="table table-condensed table-striped">
  <thead>
    <tr>
      <th>{% trans %}Year{% endtrans %}</th>
      <th colspan="2">{% trans %}Pilots{% endtrans %}</th>
    </tr>
  </thead>
  <tbody>
    {% for year in years -%}
    <tr>
      <td class="col-xs-2">{{ year.year|int }}</td>
      <td class="col-xs-2">{{ year.pilots|int }}</td>
      <td class="col-xs-8">
        {% with value=(year.pilots * 100 / max_pilots) -%}
        <div class="progress">
          <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="{{ value }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ value }}%;"></div>
        </div>
        {%- endwith %}
      </td>
    </tr>
    {%- endfor %}
    {% if sum_pilots != None -%}
    <tr>
      <td><strong>{% trans %}Total{% endtrans %}</strong></td>
      <td colspan="2"><strong>{{ h.format_number(sum_pilots) }}</strong></td>
    </tr>
    {%- endif %}
  </tbody>
</table>
{%- endmacro %}
