{% from 'macros/links.jinja' import user_link, club_link %}


{% extends "base-page.jinja" %}
{% set active_page = "statistics" %}
{% set use_ember = true %}


{% block title -%}
{% if selected_pilot -%}
  {% trans pilot=user_link(selected_pilot) -%}
    Statistics <small>of {{ pilot }}</small>
  {%- endtrans %}

{%- elif selected_club %}
  {% trans club=club_link(selected_club) -%}
    Statistics <small>of {{ club }}</small>
  {%- endtrans %}

{%- elif airport %}
  {% trans airport=airport.name|e -%}
    Statistics <small>from {{ airport }}</small>
  {%- endtrans %}

{%- else %}
  {% trans %}Statistics{% endtrans -%}

{%- endif %}
{%- endblock %}


{%- block content %}
<div data-component="stats-page" data-attrs='{
  "name": {{ name|tojson }},
  {% if pilot %}"pilot": {{ pilot.id|tojson }},{% endif %}
  {% if club %}"club": {{ club.id|tojson }},{% endif %}
  {% if airport %}"airport": {{ airport.id|tojson }},{% endif %}
  "sumPilots": {{ sum_pilots|tojson }},
  "years": {{ years|tojson }}
}'><br>Loading...</div>
{%- endblock %}

{% block scripts -%}
{{ super() }}
<script>
slUnits.init({{ h.json.dumps(h.get_setting_name('distance_unit')) }},
    {{ h.json.dumps(h.get_setting_name('speed_unit')) }},
    {{ h.json.dumps(h.get_setting_name('lift_unit')) }},
    {{ h.json.dumps(h.get_setting_name('altitude_unit')) }});
</script>
{%- endblock %}
