{% from 'statistics/flights-table.jinja' import render_flights_table with context %}
{% from 'statistics/distance-table.jinja' import render_distance_table with context %}
{% from 'statistics/duration-table.jinja' import render_duration_table with context %}
{% from 'statistics/pilots-table.jinja' import render_pilots_table with context %}
{% from 'macros/links.jinja' import user_link, club_link %}


{% extends "base-page.jinja" %}
{% set active_page = "statistics" %}


{% block title -%}
{% if selected_pilot -%}
  {% trans pilot=user_link(selected_pilot) -%}
    Statistics <small>of {{ pilot }}</small>
  {%- endtrans %}

{%- elif selected_club %}
  {% trans club=club_link(selected_club) -%}
    Statistics <small>of {{ club }}</small>
  {%- endtrans %}

{%- elif airport %}
  {% trans airport=airport.name|e -%}
    Statistics <small>from {{ airport }}</small>
  {%- endtrans %}

{%- else %}
  {% trans %}Statistics{% endtrans -%}

{%- endif %}
{%- endblock %}


{%- block content %}
{% if pilot or club or airport or g.current_user -%}
<ul class="nav nav-pills">
  <li{% if not (pilot or club or airport) %} class="active"{% endif %}><a href="{{ url_for('.index') }}">SkyLines</a></li>

  {% if airport -%}
  <li class="active"><a href="{{ url_for('.index', page='airport', id=airport.id) }}">{{ airport|e }}</a></li>
  {%- endif %}

  {% if club -%}
  <li class="active"><a href="{{ url_for('.index', page='club', id=club.id) }}">{{ club|e }}</a></li>
  {%- endif %}

  {% with my_club=g.current_user and g.current_user.club  -%}
  {% if my_club and club != my_club -%}
  <li><a href="{{ url_for('.index', page='club', id=my_club.id) }}">{{ my_club|e }}</a></li>
  {%- endif %}
  {%- endwith %}

  {% if pilot -%}
  <li class="active"><a href="{{ url_for('.index', page='pilot', id=pilot.id) }}">{{ pilot|e }}</a></li>
  {%- endif %}

  {% with my_pilot=g.current_user -%}
  {% if my_pilot and pilot != my_pilot -%}
  <li><a href="{{ url_for('.index', page='pilot', id=my_pilot.id) }}">{{ my_pilot|e }}</a></li>
  {%- endif %}
  {%- endwith %}
</ul>
{%- endif %}

<h2>{% trans %}Flights{% endtrans %}</h2>
{{ render_flights_table(years, max_flights, sum_flights) }}

<h2>{% trans %}Distance{% endtrans %}</h2>
{{ render_distance_table(years, max_distance, sum_distance) }}

<h2>{% trans %}Flight Time{% endtrans %}</h2>
{{ render_duration_table(years, max_duration, sum_duration) }}

{% if not pilot -%}
<h2>{% trans %}Pilots{% endtrans %}</h2>
{{ render_pilots_table(years, max_pilots, sum_pilots) }}
{%- endif %}
{%- endblock %}
