{% if user.club_id -%}
<p>
{% trans %}Pilot missing in the list?{% endtrans %}
<a href="{{ url_for('club.create_pilot', club_id=user.club_id) }}">{% trans %}Create new pilot{% endtrans %}</a>
</p>
{%- endif %}
