<?python
from skylines.lib.units import format_distance, format_speed
?>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      py:strip="">
      
  <py:match path="head" once="true">
    <head py:attrs="select('@*')">
      ${select('*')}
  
      <script type="text/javascript" src="/static/jquery/jquery.timeago.js"></script>
      <script type="text/javascript" src="/static/bootstrap/js/bootstrap-popover.js"></script>
    
      <script type="text/javascript">
        /* <![CDATA[ */
        $(function() {
          $("abbr.timeago").timeago();
          $("a.share").popover({
            trigger: 'manual',
            content: '<input value="' + getShareUrl('${request.url}') + '" type="text" style="width: 95%;">',
            title: 'Spread the word'
          }).click(function(e) {
            e.preventDefault();
            $(this).popover('toggle');
          });
        });
        /* ]]> */
      </script>
    </head>
  </py:match>

  <table py:def="render_details_table(flight)" class="table" itemscope="" itemtype="http://schema.org/SportsEvent">
    <meta itemprop="url" content="/flights/${flight.id}" />
    <tbody>
      <tr py:if="flight.takeoff_time">
        <th>Date</th>
        <td>
          <span py:content="h.format_date(flight.takeoff_time)">
            2012-05-21
          </span>
          <a href="#" class="btn btn-mini pull-right share">
            <i class="icon-share-alt icon-small"></i> Share
          </a>
        </td>
      </tr>
      <tr py:if="flight.takeoff_time">
        <meta itemprop="startDate" content="${flight.takeoff_time.isoformat()}" />
        <th>Take-off</th>
        <td>
          <py:if test="flight.takeoff_airport is not None">
            <span class="flag-${flight.takeoff_airport.country_code.lower()}" style="float:right;margin:3px"></span>
            <a py:content="flight.takeoff_airport.name" href="/flights/airport/${flight.takeoff_airport_id}">Airport</a>
            <br />
            at
          </py:if>
          <span py:replace="h.format_time(flight.takeoff_time)">10:00</span>
        </td>
      </tr>
      <tr py:if="flight.landing_time">
        <meta itemprop="endDate" content="${flight.landing_time.isoformat()}" />
        <th>Landing</th>
        <td>
          <py:if test="flight.landing_airport is not None">
            <span class="flag-${flight.landing_airport.country_code.lower()}" style="float:right;margin:3px"></span>
            <a py:content="flight.landing_airport.name" href="/flights/airport/${flight.landing_airport_id}">Airport</a>
            <br />
            at
          </py:if>
          <span py:replace="h.format_time(flight.landing_time)">10:00</span>
        </td>
      </tr>
      <tr py:if="flight.duration">
        <th>Duration</th>
        <td py:content="str(flight.duration) + ' hours'">
          01:23:34 hours
        </td>
      </tr>
      <tr>
        <th>Aircraft</th>
        <td>
          <a py:if="flight.is_writable()" href="change_aircraft" class="btn btn-mini" style="float: right;">
            <i class="icon-pencil icon-small"></i> Change
          </a>

          <span py:if="flight.model_id is not None" py:replace="flight.model"/>
          <py:if test="flight.model_id is None and
                       flight.igc_file.model is not None">
            [${flight.igc_file.model}]
          </py:if>
          <py:if test="flight.model_id is None and
                       flight.igc_file.model is None">
            Unknown
          </py:if>

          <py:if test="flight.registration is not None">
            (${flight.registration})
          </py:if>
          <py:if test="flight.registration is None and
                       flight.igc_file.registration is not None">
            (${flight.igc_file.registration})
          </py:if>
        </td>
      </tr>
      <tr>
        <th>Score</th>
        <td>
          ${flight.olc_plus_score} pt
          <span py:if="flight.olc_classic_distance is not None">
            (${format_distance(flight.olc_classic_distance)},
          </span>
          <span py:if="flight.olc_triangle_distance is not None">
            triangle ${format_distance(flight.olc_triangle_distance)})
          </span>
        </td>
      </tr>
      <tr py:if="flight.speed">
        <th>Speed</th>
        <td>
          ${format_speed(flight.speed)}
        </td>
      </tr>
      <tr>
        <th>Pilot</th>
        <td>
          <a py:if="flight.is_writable()" href="change_pilot" class="btn btn-mini" style="float: right;"><i class="icon-pencil icon-small"></i> Change</a>
          <span py:if="flight.pilot" itemprop="performer" itemscope="" itemtype="http://schema.org/Person">
            <meta itemprop="url" content="/users/${flight.pilot_id}" />
            <a py:content="flight.pilot" href="/users/${flight.pilot_id}/" itemprop="name">Pilot Name</a>
          </span>
          <br py:if="flight.pilot and flight.co_pilot" />
          <span py:if="flight.co_pilot" itemprop="performer" itemscope="" itemtype="http://schema.org/Person">
            <meta itemprop="url" content="/users/${flight.co_pilot_id}" />
            <a py:content="flight.co_pilot" href="/users/${flight.co_pilot_id}/" itemprop="name">Co-Pilot Name</a>
          </span>
          <span py:if="not flight.pilot and not flight.co_pilot" py:strip="True">
            [unspecified]
          </span>
        </td>
      </tr>
      <tr py:if="flight.club">
        <th>Club</th>
        <td itemprop="performer" itemscope="" itemtype="http://schema.org/SportsTeam">
          <meta itemprop="url" content="/clubs/${flight.club_id}" />
          <a py:content="flight.club" href="/clubs/${flight.club_id}/" itemprop="name">
            Club Name
          </a>
        </td>
      </tr>
      <tr>
        <th>Uploaded</th>
        <td>
          <abbr class="timeago" title="${flight.time_created.isoformat()}" py:content="h.format_datetime(flight.time_created)" rel="tooltip">4 days ago</abbr><br/>
          by <span py:replace="flight.igc_file.owner">Turbo</span>
        </td>
      </tr>
      <tr>
        <th>Download</th>
        <td>
          <a href="${flight.igc_file.get_download_uri()}" py:content="flight.igc_file.filename">FOO.IGC</a>
        </td>
      </tr>
      <tr py:if="flight.may_delete()">
        <th>Actions</th>
        <td>
          <a href="delete" class="btn btn-mini"><i class="icon-remove icon-small"></i> Delete</a>
        </td>
      </tr>
    </tbody>
  </table>
</html>
