<?python
from tg.i18n import ugettext as _
from skylines.lib.units import format_distance, format_speed
?>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:i18n="http://genshi.edgewall.org/i18n"
      py:strip="">

  <xi:include href="../headers/bootstrap/popover.html" />
  <xi:include href="../headers/bootstrap/modal.html" />
  <xi:include href="../snippets/flags.html" />
  <xi:include href="../snippets/datetime.html" />

  <py:match path="head" once="true">
    <head py:attrs="select('@*')">
      ${select('*')}
    
      <script type="text/javascript">
        /* <![CDATA[ */
        $(function() {
          $("a.share").popover({
            trigger: 'manual',
            content: '<input value="' + getShareUrl('${request.url}') + '" type="text" style="width: 95%;">',
            title: '${_("Spread the word")}'
          }).click(function(e) {
            e.preventDefault();
            $(this).popover('toggle');
          });
        });
        /* ]]> */
      </script>
    </head>
  </py:match>

  <table py:def="render_details_table(flight)" class="table" itemscope="" itemtype="http://schema.org/SportsEvent">
    <meta itemprop="url" content="/flights/${flight.id}" />
    <tbody>
      <tr py:if="flight.date_local">
        <th>Date</th>
        <td>
          <span py:content="h.format_date(flight.date_local)">
            2012-05-21
          </span>
          <a href="#" class="btn btn-mini pull-right share">
            <i class="icon-share-alt icon-small"></i> Share
          </a>
        </td>
      </tr>
      <tr py:if="flight.takeoff_time">
        <meta itemprop="startDate" content="${h.isoformat_utc(flight.takeoff_time)}" />
        <th>Take-off</th>
        <td>
          <py:if test="flight.takeoff_airport is not None">
            ${insert_flag(flight.takeoff_airport.country_code, 'float:right;margin:3px')}
            <a py:content="flight.takeoff_airport.name" href="/flights/airport/${flight.takeoff_airport_id}">Airport</a>
            <br />
            at
          </py:if>
          <span py:replace="h.format_time(flight.takeoff_time)">10:00</span>
        </td>
      </tr>
      <tr py:if="flight.landing_time">
        <meta itemprop="endDate" content="${h.isoformat_utc(flight.landing_time)}" />
        <th>Landing</th>
        <td>
          <py:if test="flight.landing_airport is not None">
            ${insert_flag(flight.landing_airport.country_code, 'float:right;margin:3px')}
            <a py:content="flight.landing_airport.name" href="/flights/airport/${flight.landing_airport_id}">Airport</a>
            <br />
            at
          </py:if>
          <span py:replace="h.format_time(flight.landing_time)">10:00</span>
        </td>
      </tr>
      <tr py:if="flight.duration">
        <th>Duration</th>
        <td py:content="str(flight.duration) + ' hours'">
          01:23:34 hours
        </td>
      </tr>
      <tr>
        <th>Aircraft</th>
        <td>
          <a py:if="flight.is_writable()" href="change_aircraft" class="btn btn-mini" style="float: right;">
            <i class="icon-pencil icon-small"></i> Change
          </a>

          <span py:if="flight.model_id is not None" py:replace="flight.model"/>
          <py:if test="flight.model_id is None and
                       flight.igc_file.model is not None">
            [${flight.igc_file.model}]
          </py:if>
          <py:if test="flight.model_id is None and
                       flight.igc_file.model is None">
            Unknown
          </py:if>

          <small><br/>
          <py:if test="flight.registration is not None">
            ${flight.registration}
          </py:if>
          <py:if test="flight.registration is None and
                       flight.igc_file.registration is not None">
            ${flight.igc_file.registration}
          </py:if>

          <py:if test="flight.competition_id is not None">
            &ndash; ${flight.competition_id}
          </py:if>
         <py:if test="flight.competition_id is None and 
                      flight.igc_file.competition_id is not None">
            &ndash; ${flight.igc_file.competition_id}
          </py:if>

          </small>
        </td>
      </tr>
      <tr>
        <th>Score</th>
        <td>
          ${flight.index_score} pt
          <small><br/>
          <span py:if="flight.olc_classic_distance is not None" title="OLC Distance">
            <span style="COLOR:#ff2c73">&#x294A;</span> ${format_distance(flight.olc_classic_distance)}<py:if test="flight.olc_triangle_distance is not None">,</py:if>
          </span>
          <span py:if="flight.olc_triangle_distance is not None" title="FAI Triangle Distance">
            <span style="COLOR:#9f14ff">&#x25B2;</span> ${format_distance(flight.olc_triangle_distance)}
          </span>
          </small>
        </td>
      </tr>
      <tr py:if="flight.speed">
        <th>Speed</th>
        <td>
          ${format_speed(flight.speed)}
        </td>
      </tr>
      <tr>
        <th>Pilot</th>
        <td>
          <a py:if="flight.is_writable()" href="change_pilot" class="btn btn-mini" style="float: right;"><i class="icon-pencil icon-small"></i> Change</a>
          <span py:if="flight.pilot" itemprop="performer" itemscope="" itemtype="http://schema.org/Person">
            <meta itemprop="url" content="/users/${flight.pilot_id}" />
            <a py:content="flight.pilot" href="/users/${flight.pilot_id}/" itemprop="name">Pilot Name</a>
          </span>
          <br py:if="flight.pilot and flight.co_pilot" />
          <span py:if="flight.co_pilot" itemprop="performer" itemscope="" itemtype="http://schema.org/Person">
            <meta itemprop="url" content="/users/${flight.co_pilot_id}" />
            <a py:content="flight.co_pilot" href="/users/${flight.co_pilot_id}/" itemprop="name">Co-Pilot Name</a>
          </span>
          <span py:if="not flight.pilot and not flight.co_pilot" py:strip="True">
            [unspecified]
          </span>
        </td>
      </tr>
      <tr py:if="flight.club">
        <th>Club</th>
        <td itemprop="performer" itemscope="" itemtype="http://schema.org/SportsTeam">
          <meta itemprop="url" content="/clubs/${flight.club_id}" />
          <a py:content="flight.club" href="/clubs/${flight.club_id}/" itemprop="name">
            Club Name
          </a>
        </td>
      </tr>
      <tr>
        <th>Uploaded</th>
        <td i18n:msg="datetime,user" i18n:comment="e.g. 'Uploaded: 18.01.2011 by PilotA'">
          ${insert_timeago(flight.time_created)}<br/> by <span py:replace="flight.igc_file.owner">Turbo</span>
        </td>
      </tr>
      <tr>
        <th>Download</th>
        <td>
          <a href="${flight.igc_file.get_download_uri()}" py:content="h.truncate(flight.igc_file.filename, 25)">FOO.IGC</a>
        </td>
      </tr>
      <tr py:if="flight.may_delete()">
        <th>Actions</th>
        <td>
          <a data-toggle="modal" data-target="#modal" href="delete?embedded" class="btn btn-mini"><i class="icon-remove icon-small"></i> Delete</a>
          <div class="modal" id="modal" tabindex="-1" role="dialog" aria-hidden="true" style="display:none">
            <div class="modal-body">
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</html>
