<?python
from sets import Set
?>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      py:strip="">

  <xi:include href="../snippets/flags.html" />
  <xi:include href="../snippets/tooltip.html" />

  <table py:def="render_flights_table(flights, omitted_columns = Set())" id="flight-table" class="table table-striped table-condensed">
    <thead>
      <tr>
        <th py:if="'date' not in omitted_columns" class="date">Date</th>
        <th py:if="'score' not in omitted_columns" class="numeric score">Score</th>
        <th py:if="'pilot' not in omitted_columns" class="pilot">Pilot</th>
        <th py:if="'distance' not in omitted_columns" class="numeric distance">Distance</th>
        <th py:if="'takeoff_airport' not in omitted_columns" class="airport">Airport</th>
        <th py:if="'club' not in omitted_columns" class="club">Club</th>
        <th py:if="'aircraft' not in omitted_columns" class="aircraft">Aircraft</th>
        <th py:if="'times' not in omitted_columns" class="times">Time</th>
        <th py:if="'link' not in omitted_columns" class="show"></th>
        <th py:if="'num_comments' not in omitted_columns" class="num_comments"><i class="icon-comments-alt"></i></th>
      </tr>
    </thead>
    <tbody>
      <tr py:for="flight, num_comments in flights">
        <td py:if="'date' not in omitted_columns">
          <span py:if="flight.date_local" title="${flight.date_local.strftime('%d.%m.%Y')}" py:content="h.format_date(flight.date_local)">
            2012-05-21
          </span>
        </td>
        <td py:if="'score' not in omitted_columns" py:content="flight.olc_plus_score">
          500
        </td>
        <td py:if="'pilot' not in omitted_columns">
          <a py:if="flight.pilot" py:content="flight.pilot" href="/users/${flight.pilot_id}">
            Pilot Name
          </a>
          <br py:if="flight.pilot and flight.co_pilot"/>
          <a py:if="flight.co_pilot" py:content="flight.co_pilot" href="/users/${flight.co_pilot_id}">
            Co-Pilot Name
          </a>
          <span py:if="not flight.pilot and not flight.co_pilot" py:strip="True">
            [${flight.igc_file.owner}]
          </span>
        </td>
        <td py:if="'distance' not in omitted_columns">
          <span py:if="flight.olc_classic_distance is not None"
                py:replace="h.format_distance(flight.olc_classic_distance)">
            500 km
          </span>
        </td>
        <td py:if="'takeoff_airport' not in omitted_columns">
          <py:if test="flight.takeoff_airport is not None">
            ${insert_flag(flight.takeoff_airport.country_code)}
            <a py:content="flight.takeoff_airport.name" href="/flights/airport/${flight.takeoff_airport_id}">Airport</a>
          </py:if>
        </td>
        <td py:if="'club' not in omitted_columns">
          <a py:if="flight.club" py:content="h.truncate(flight.club.name, 25)" href="/clubs/${flight.club_id}">
            Club Name
          </a>
        </td>
        <td py:if="'aircraft' not in omitted_columns">
          <span rel="tooltip" title="${flight.registration or flight.igc_file.registration or 'Unknown'}">
            <py:if test="flight.model" py:replace="flight.model">
              Aircraft model
            </py:if>
            <py:if test="flight.model is None and flight.igc_file.model is not None">
              [${flight.igc_file.model}]
            </py:if>
          </span>
        </td>
        <td py:if="'times' not in omitted_columns">
          <py:if test="flight.takeoff_time and flight.landing_time">
            <span py:replace="flight.takeoff_time.strftime('%H:%M')">10:00</span>-<span py:replace="flight.landing_time.strftime('%H:%M')">15:00</span>
          </py:if>
        </td>
        <td py:if="'link' not in omitted_columns">
          <a href="/flights/${flight.id}/" class="btn btn-mini">Show</a>
          <a class="pin no-link" style="visibility: hidden" rel="tooltip-pin">${flight.id}</a>
        </td>
        <td py:if="'num_comments' not in omitted_columns">
          <span py:content="num_comments" py:if="num_comments > 0" class="label" title="${num_comments} comments">5</span>
        </td>
      </tr>
    </tbody>
  </table>
</html>
