<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master/page.html" />

  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" py:if="False"/>
    <title>Flight list</title>
  </head>

  <?python from babel.dates import format_date ?>

  <body>
    <p>
      <a href="/flights/">All Flights</a>
      <a href="/flights/my">My Flights</a>
      <a href="/flights/my_club">My Club's Flights</a>
      <a href="/flights/unassigned">Unassigned Flights</a>
    </p>

      <div id="getting_started">
        <table class="list">
          <thead>
            <tr>
              <th>Date</th>
              <th>Score</th>
              <th>Pilot</th>
              <th>Distance</th>
              <th>Club</th>
              <th>Time</th>
              <th>Show</th>
            </tr>
          </thead>
          <tbody>
            <tr py:for="flight in flights">
              <td py:content="format_date(flight.takeoff_time)">
                2012-05-21
              </td>
              <td py:content="flight.olc_plus_score">
                500
              </td>
              <td>
                <a py:if="flight.pilot" py:content="flight.pilot" href="/flights/pilot/${flight.pilot_id}">
                  Pilot Name
                </a>
                <br py:if="flight.pilot and flight.co_pilot"/>
                <a py:if="flight.co_pilot" py:content="flight.co_pilot" href="/flights/pilot/${flight.co_pilot_id}">
                  Co-Pilot Name
                </a>
                <span py:if="not flight.pilot and not flight.co_pilot" py:strip="True">
                  [${flight.owner}]
                </span>
              </td>
              <td>
                <span py:if="flight.olc_classic_distance is not None">
                  <span py:content="flight.olc_classic_distance / 1000">500</span> km
                </span>
              </td>
              <td>
                <a py:if="flight.club" py:content="flight.club" href="/flights/club/${flight.club_id}">
                  Club Name
                </a>
              </td>
              <td>
                <span py:replace="flight.takeoff_time.strftime('%H:%M')">10:00</span>-<span py:replace="flight.landing_time.strftime('%H:%M')">15:00</span>
              </td>
              <td>
                <a href="/flights/id/${flight.id}/">
                  Show
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="clearingdiv" />
  </body>
</html>
