<?python
from sets import Set
from babel.dates import format_date

page = 'flights'
title = 'Flights'

if date:
  tagline = 'on ' + format_date(date)

if pilot:
  tagline = 'of ' + unicode(pilot)

if club:
  tagline = 'of ' + unicode(club)
?>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="flights/flights-table.html" />
  <xi:include href="master/page.html" />

  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" py:if="False"/>
    <script src="/static/jquery/jquery.dataTables.js" type="text/javascript" language="javascript" />
    <script src="/static/jquery/jquery.dataTables.ext.js" type="text/javascript" language="javascript" />

    <script src="/static/jquery/bootstrap-datepicker.js" type="text/javascript" language="javascript" />

    <script src="/static/jquery/jquery.cookie.js" type="text/javascript" language="javascript" />
    <script src="/js/general.js" type="text/javascript" language="javascript" />

    <link href="/css/dataTables.bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="/css/datepicker.css" rel="stylesheet" type="text/css" />

    <script type="text/javascript" charset="utf-8">
    /* <![CDATA[ */
      $(document).ready(function() {
        var pinnedFlights = getPinnedFlights();

        $('#flight-table').dataTable({
          "bProcessing": true,
          "sPaginationType": "bootstrap",
          "iDisplayLength": ${repr(int(config.get('skylines.lists.display_length', 50)))},
          "iDeferLoading": ${flights_count},
          "bServerSide": (${flights_count} > ${repr(int(config.get('skylines.lists.server_side', 250)))})?true:false,
          "sAjaxSource": (${flights_count} > ${repr(int(config.get('skylines.lists.server_side', 250)))})?"${request.url}?json=true":null,
          "sDom": "<'row'<'span6'i><'span6'p>>rt<'row'<'span6'i><'span6'p>>",
          "aaSorting": [[ 0, "desc" ]],
          "aoColumnDefs": [
            { "bSortable": false, "aTargets": [-1] },
            { "sType": "date-eu", "aTargets": ["date"] },
            { "sType": "numeric-comma-formatted", "aTargets": ["numeric"] }
          ],
          "fnCreatedRow": function(nRow, aData, iDataIndex) {
            $(nRow).find(".pin").each(function() {
              var sfid = parseInt($(this).text());
              $(this).tooltip();
              if ($.inArray(sfid, pinnedFlights) >= 0) {
                $(this).html("<i class='icon-star'></i>");
                $(this).css("visibility", "visible");
                $(this).addClass("pinned");
              } else {
                $(this).html("<i class='icon-star-empty'></i>");
              }

              $(this).find("i").click(function() {
                if ($(this).parent(".pin").hasClass("pinned")) {
                  unpinFlight(sfid);
                  $(this).addClass("icon-star-empty");
                  $(this).removeClass("icon-star");
                  $(this).parent(".pin").removeClass("pinned");
                } else {
                  pinFlight(sfid);
                  $(this).addClass("icon-star");
                  $(this).removeClass("icon-star-empty");
                  $(this).parent(".pin").addClass("pinned");
                }
              });
            });

            jQuery(nRow).hover(function(e) {
              if (e.type == "mouseenter") {
                $(this).find(".pin").each(function() {
                  $(this).css("visibility", "visible");
                });
              } else if (e.type == "mouseleave") {
                $(this).find(".pin").each(function() {
                  if (!$(this).hasClass("pinned"))
                    $(this).css("visibility", "hidden");
                });
              }
            });
          }
        });

        var datepicker = $('#datepicker').datepicker({
          format: 'dd.mm.yyyy',
          autoclose: true,
          weekStart: 1
        });
        datepicker.on('changeDate', function(e) {
          var url = "/flights/date/" + e.date.getFullYear() + "-" +
            pad(e.date.getMonth()+1, 2) + "-" + pad(e.date.getDate(), 2);
          window.location.href = url;
        });
      });
    /* ]]> */
    </script>
  </head>

  <body>
    <xi:include href="flights/nav.html" />

    <?python
      omitted_columns = Set()
      if date:
        omitted_columns.add('date')
      if club or pilot:
        omitted_columns.add('club')
    ?>
    ${render_flights_table(flights, omitted_columns)}
  </body>
</html>
