{% from "macros/links.jinja" import user_link %}

{% macro flight_title(flight) -%}
{% if flight.pilot and flight.co_pilot -%}
  {{ _('%(distance)s on %(date)s <small>by %(pilot)s and %(co_pilot)s</small>',
       distance=h.format_distance(flight.olc_classic_distance),
       date=h.format_date(flight.date_local),
       pilot=user_link(flight.pilot),
       co_pilot=user_link(flight.co_pilot))|replace('<small>', '<br class="visible-xs visible-sm"/><small>') }}

{%- elif flight.pilot -%}
  {{ _('%(distance)s on %(date)s <small>by %(pilot)s</small>',
       distance=h.format_distance(flight.olc_classic_distance),
       date=h.format_date(flight.date_local),
       pilot=user_link(flight.pilot))|replace('<small>', '<br class="visible-xs visible-sm"/><small>') }}

{%- else -%}
  {{ _('%(distance)s on %(date)s',
       distance=h.format_distance(flight.olc_classic_distance),
       date=h.format_date(flight.date_local)) }}

{%- endif %}
{%- endmacro %}
