{% extends "base-fullscreen.jinja" %}
{% set active_page = "flights" %}


{% from 'flights/meta-tags.jinja' import flight_meta_tags with context %}
{% from 'flights/macros.jinja' import flight_title with context %}


{% block title -%}{{ flight_title(flight) }}{%- endblock %}


{%- block head %}
{{ super() }}
{{ flight_meta_tags(flight) }}
{%- endblock %}


{%- block styles %}
{{ super() }}

{% assets 'openlayers_css' -%}
<link href="{{ ASSET_URL }}" rel="stylesheet" type="text/css" />
{%- endassets %}

{%- if request.identity and request.identity['user'].eye_candy -%}
<link href="/css/eye_candy/OpenLayers.css" rel="stylesheet" type="text/css" />
{%- endif %}

<style>body { height: 100%; margin: 0; padding: 0 }</style>
{%- endblock %}


{%- block scripts %}
{{ super() }}

{% assets 'openlayers_js' -%}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{%- endassets %}

{% assets 'flot_js' -%}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{%- endassets %}

{% assets 'flight_js' -%}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{%- endassets %}

<script type="text/javascript">
  $(function() {
    slUnits.init({{ h.json.dumps(h.get_setting_name('distance_unit')) }},
                 {{ h.json.dumps(h.get_setting_name('speed_unit')) }},
                 {{ h.json.dumps(h.get_setting_name('lift_unit')) }},
                 {{ h.json.dumps(h.get_setting_name('altitude_unit')) }});

    initOpenLayers("map_canvas",
                   "{{ config.get('SKYLINES_MAP_TILE_URL', '') }}");
    initFlightLayer();
    initBaro($("#barogram"));

    addFlight({{ flight.id }},
      {{ h.json.dumps(trace.encoded.points) }},
      {{ h.json.dumps(trace.encoded.levels) }},
      {{ trace.num_levels }},
      {{ h.json.dumps(trace.barogram_t) }},
      {{ h.json.dumps(trace.barogram_h) }},
      {{ h.json.dumps(trace.enl) }},
      {{ h.json.dumps(trace.zoom_levels) }},
      {{ h.json.dumps(trace.contests) }},
      {{ h.json.dumps(trace.elevations_t) }},
      {{ h.json.dumps(trace.elevations_h) }},
      { registration: {{ '"' ~ flight.registration|e ~ '"' if flight.registration else 'null' }},
        competition_id: {{ '"' ~ flight.competition_id|e ~ '"' if flight.competition_id else 'null' }} }
    );

    {% if other_flights -%}
    {% for flight, trace in other_flights if trace -%}
    addFlight({{ flight.id }},
      {{ h.json.dumps(trace.encoded.points) }},
      {{ h.json.dumps(trace.encoded.levels) }},
      {{ trace.num_levels }},
      {{ h.json.dumps(trace.barogram_t) }},
      {{ h.json.dumps(trace.barogram_h) }},
      {{ h.json.dumps(trace.enl) }},
      {{ h.json.dumps(trace.zoom_levels) }},
      {{ h.json.dumps(trace.contests) }},
      {{ h.json.dumps(trace.elevations_t) }},
      {{ h.json.dumps(trace.elevations_h) }},
      { registration: {{ '"' ~ flight.registration|e ~ '"' if flight.registration else 'null' }},
        competition_id: {{ '"' ~ flight.competition_id|e ~ '"' if flight.competition_id else 'null' }} }
    );
    {%- endfor %}
    {%- endif %}

    var factor = $("#barogram")[0].offsetHeight / map.getSize().h;
    var zoomExtent = flights.getBounds().clone().scale(1.02);
    zoomExtent.bottom -= zoomExtent.getHeight() * factor * 3/2;

    map.zoomToExtent(zoomExtent);

    hoverMap();

    var pinnedFlights = getPinnedFlights();
    for (i in pinnedFlights)
      if (pinnedFlights[i] != {{ flight.id }})
        addFlightFromJSON("/flights/" + pinnedFlights[i] + "/json");

    pinButton($("#pinned"), {{ flight.id }});

    $.getScript("http://maps.google.com/maps/api/js?v=3.7&sensor=false&callback=addGoogleLayer");
    addBingLayers("{{ config.get('skylines.bing.api_key', 'null') }}");
    addReliefLayer();

    initInfoBox({flight_info: true, location_info: true});
  });
</script>
{%- endblock %}


{%- block content %}
<div id="map_canvas" class="olFullscreen" style="position: absolute; top: 40px; bottom: 0; width:100%;"></div>
<div style="position: absolute; bottom: 0; width:100%; background-color: white; opacity: 0.8;">
    <div style="overflow: auto; max-height: 115px">
        <table id="fix-data" class="table table-condensed"></table>
    </div>
    <div id="barogram" style="width:100%; height:100pt;"></div>
</div>
{%- endblock %}
