<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master/fullscreen.html" />

<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" py:if="False"/>

  <link href="/css/OpenLayers.css" rel="stylesheet" type="text/css" />

  <script type="text/javascript" src="/js/OpenLayers/OpenLayers.js"></script>
  <script type="text/javascript" src="/js/jQuery/jquery.js"></script>

  <script type="text/javascript" src="/js/flight.js"></script>

  <script type="text/javascript" src="/js/g.raphael/raphael-min.js"></script>
  <script type="text/javascript" src="/js/g.raphael/g.raphael.js"></script>
  <script type="text/javascript" src="/js/g.raphael/g.line.js"></script>

  <script type="text/javascript">
<?python from simplejson import dumps ?>
    /* <![CDATA[ */

    var barogram;
    var map;
    var plane;

    var barogram_t = OpenLayers.Util.decodeGoogle(${dumps(barogram_t)});
    var barogram_h = OpenLayers.Util.decodeGoogle(${dumps(barogram_h)});
    var lonlat = OpenLayers.Util.decodeGooglePolyline(${dumps(encoded.points)});
    var lod = OpenLayers.Util.decodeGoogleLoD(${dumps(encoded.levels)}, ${fixes.numLevels});

    function initialize() {
      map = initOpenLayers();

      var points = new Array();
      for (var i = 0, len = lonlat.length; i < len; i++) {
        points.push(new OpenLayers.Geometry.Point(lonlat[i].lon, lonlat[i].lat).
          transform(new OpenLayers.Projection("EPSG:4326"), map.getProjectionObject()) );
      }

      var flight = new OpenLayers.Geometry.ProgressiveLineString(points, lod, ${dumps(zoom_levels)});
      flight.clip = 1.1;
      map.getLayersByName("Flight")[0].addFeatures(new OpenLayers.Feature.Vector(flight, { color: '#ff0000' }));

      plane = new OpenLayers.Feature.Vector(
        new OpenLayers.Geometry.Point(lonlat[0].lon, lonlat[0].lat).
          transform(new OpenLayers.Projection("EPSG:4326"), map.getProjectionObject()),
        { rotation: 0 }
      );

      map.zoomToExtent(flight.bounds);

      barogram = render_barogram($("#barogram"));
      scaleBarogram(barogram, flight, $("#barogram"));
    }
    /* ]]> */
  </script>

  <style>
    body { height: 100%; margin: 0; padding: 0 }
    #content { height: 100%; }
  </style>

  <title>View Flight</title>
</head>

<body onload="initialize();">
  <div id="map_canvas" style="position: absolute; top: 40px; bottom: 100pt; width:100%;"></div>
  <div id="barogram" style="position: absolute; bottom: 0; width:100%; height:100pt; background-color: white;"></div>
</body>
</html>
