<?python
page = 'flights'
?>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="flights/meta-tags.html" />
  <?python
    title, tagline = h.format_flight_title(flight)
  ?>

  <xi:include href="master/fullscreen.html" />
  <xi:include href="../headers/openlayers.html" />
  <xi:include href="../headers/raphael.html" />
  <xi:include href="../headers/jquery/cookie.html" />
  <xi:include href="../snippets/tooltip.html" />

<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" py:if="False"/>
  ${flight_meta_tags(flight)}

  <script type="text/javascript" src="/js/general.js"></script>
  <script type="text/javascript" src="/js/map.js"></script>
  <script type="text/javascript" src="/js/flight.js"></script>

  <script type="text/javascript">
    /* <![CDATA[ */
    $(function() {
      initOpenLayers("map_canvas",
                     "${config.get('skylines.map.airspace_tile_url', '')}");
      initFlightLayer();

      addFlight(${flight.id},
        ${h.json.dumps(trace.encoded.points)},
        ${h.json.dumps(trace.encoded.levels)},
        ${trace.fixes.numLevels},
        ${h.json.dumps(trace.barogram_t)},
        ${h.json.dumps(trace.barogram_h)},
        ${h.json.dumps(trace.enl)},
        ${h.json.dumps(trace.zoom_levels)},
        ${h.json.dumps(trace.contests)}
      );

      /* ]]> */
      <py:if test="defined('other_flights')">
        <py:for each="flight, trace in other_flights">
          addFlight(${flight.id},
            ${h.json.dumps(trace.encoded.points)},
            ${h.json.dumps(trace.encoded.levels)},
            ${trace.fixes.numLevels},
            ${h.json.dumps(trace.barogram_t)},
            ${h.json.dumps(trace.barogram_h)},
            ${h.json.dumps(trace.enl)},
            ${h.json.dumps(trace.zoom_levels)},
            ${h.json.dumps(trace.contests)}
          );
        </py:for>
      </py:if>
      /* <![CDATA[ */

      var factor = $("#barogram")[0].offsetHeight / map.getSize().h;
      var zoomExtent = getAllFlightsBounds().clone().scale(1.1);
      zoomExtent.bottom -= zoomExtent.getHeight() * factor * 3/2;

      map.zoomToExtent(zoomExtent);

      render_barogram($("#barogram"));
      scaleBarogram();

      hoverMap();

      var pinnedFlights = getPinnedFlights();
      for (i in pinnedFlights)
        if (pinnedFlights[i] != ${flight.id})
          addFlightFromJSON("/flights/" + pinnedFlights[i] + "/json");

      $.getScript("http://maps.google.com/maps/api/js?v=3.7&sensor=false&callback=addGoogleLayer");
      addBingLayers("${config.get('skylines.bing.api_key', 'null')}");
      addReliefLayer();
    });
    /* ]]> */
  </script>

  <style>
    body { height: 100%; margin: 0; padding: 0 }
  </style>
</head>

<body>
  <div id="map_canvas" class="olFullscreen" style="position: absolute; top: 40px; bottom: 0; width:100%;"></div>
  <div id="barogram" style="position: absolute; bottom: 0; width:100%; height:100pt; background-color: white; opacity: 0.8;"></div>
</body>
</html>
