<?python
from simplejson import dumps

page = 'flights'
?>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master/fullscreen.html" />

<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" py:if="False"/>

  <link href="/css/OpenLayers.css" rel="stylesheet" type="text/css" />

  <script type="text/javascript" src="/js/OpenLayers/OpenLayers.js"></script>
  <script type="text/javascript" src="/static/jquery/jquery.js"></script>
  <script type="text/javascript" src="/static/jquery/jquery.cookie.js"></script>

  <script type="text/javascript" src="/js/general.js"></script>
  <script type="text/javascript" src="/js/flight.js"></script>

  <script type="text/javascript" src="/js/g.raphael/raphael-min.js"></script>
  <script type="text/javascript" src="/js/g.raphael/g.raphael.js"></script>
  <script type="text/javascript" src="/js/g.raphael/g.line.js"></script>

  <script type="text/javascript">
    /* <![CDATA[ */
    function initialize() {
      initOpenLayers();

      addFlight(${flight.id},
        ${dumps(trace.encoded.points)},
        ${dumps(trace.encoded.levels)},
        ${trace.fixes.numLevels},
        ${dumps(trace.barogram_t)},
        ${dumps(trace.barogram_h)},
        ${dumps(trace.zoom_levels)}
      );

      var factor = $("#barogram")[0].offsetHeight / map.getSize().h;
      var zoomExtent = getAllFlightsBounds().clone().scale(1.1);
      zoomExtent.bottom -= zoomExtent.getHeight() * factor * 3/2;

      map.zoomToExtent(zoomExtent);

      render_barogram($("#barogram"));
      scaleBarogram();

      hoverMap();

      var pinnedFlights = getPinnedFlights();
      for (i in pinnedFlights)
        if (pinnedFlights[i] != ${flight.id})
          addFlightFromJSON("/flights/id/" + pinnedFlights[i] + "/json");
    }
    /* ]]> */
  </script>

  <style>
    body { height: 100%; margin: 0; padding: 0 }
  </style>

  <title>View Flight</title>
</head>

<body onload="initialize();">
  <div id="map_canvas" style="position: absolute; top: 40px; bottom: 0; width:100%;"></div>
  <div id="barogram" style="position: absolute; bottom: 0; width:100%; height:100pt; background-color: white; opacity: 0.8;"></div>
</body>
</html>
