<?python
from datetime import date as sys_date, timedelta

my_pilot = request.identity['user'] if request.identity else None
my_club = request.identity['user'].club if request.identity else None
?>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ul xmlns="http://www.w3.org/1999/xhtml"
    xmlns:py="http://genshi.edgewall.org/"
    class="nav nav-pills">
  <li class="${(None, 'active')[defined('tab') and tab == 'all']}">
    <a href="/flights/all">All Flights</a>
  </li>

  <li py:if="date">
    <a href="/flights/date/${(date - timedelta(days=1)).strftime('%Y-%m-%d')}">
      &nbsp;<i class="icon-arrow-left"></i>&nbsp;
    </a>
  </li>
  <li class="${(None, 'active')[defined('tab') and tab == 'date' or tab == 'today']}">
    <a href="/flights/today">
      <span class="date"><py:choose>
        <py:when test="defined('date') and date != None and date != sys_date.today()">${h.format_date(date)}</py:when>
        <py:otherwise>Today</py:otherwise>
      </py:choose></span>
      &nbsp;<span id="datepicker" data-date="${'' if date is None else date.isoformat()}" data-date-format="yyyy-mm-dd"><i class="icon-th"></i></span>
    </a>
  </li>
  <li py:if="date">
    <a href="/flights/date/${(date + timedelta(days=1)).strftime('%Y-%m-%d')}">
      &nbsp;<i class="icon-arrow-right"></i>&nbsp;
    </a>
  </li>

  <li py:if="airport" class="active">
    <a href="/flights/airport/${airport.id}" py:content="airport.name">Airport</a>
  </li>

  <li py:if="club" class="active">
    <a href="/flights/club/${club.id}" py:content="club">LV Aachen</a>
  </li>
  <li py:if="my_club and (not club or my_club != club)">
    <a href="/flights/club/${my_club.id}" py:content="my_club">LV Aachen</a>
  </li>

  <li py:if="pilot" class="active">
    <a href="/flights/pilot/${pilot.id}" py:content="pilot">Tobias Bieniek</a>
  </li>
  <li py:if="my_pilot and (not pilot or my_pilot != pilot)">
    <a href="/flights/pilot/${my_pilot.id}" py:content="my_pilot">Tobias Bieniek</a>
  </li>

  <li py:if="request.identity" class="${(None, 'active')[defined('tab') and tab == 'unassigned']}">
    <a href="/flights/unassigned">Unassigned Flights</a>
  </li>

  <li id="pinned-flights-link" style="display: none;" class="${(None, 'active')[defined('tab') and tab == 'pinned']}">
    <a href="/flights/pinned">Pinned Flights</a>
    <script type="text/javascript">
    /* <![CDATA[ */
      showPinnedFlightsLink();
    /* ]]> */
    </script>
  </li>
</ul>
