<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master/page.html" />

<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" py:if="False"/>

  <link href="/css/OpenLayers.css" rel="stylesheet" type="text/css" />

  <script type="text/javascript" src="/js/OpenLayers/OpenLayers.js"></script>
  <script type="text/javascript" src="/js/jQuery/jquery.js"></script>
  <script type="text/javascript" src="/js/jQuery/jquery.cookie.js"></script>

  <script type="text/javascript" src="/js/general.js"></script>
  <script type="text/javascript" src="/js/flight.js"></script>

  <script type="text/javascript" src="/js/g.raphael/raphael-min.js"></script>
  <script type="text/javascript" src="/js/g.raphael/g.raphael.js"></script>
  <script type="text/javascript" src="/js/g.raphael/g.line.js"></script>
  <script type="text/javascript">
<?python from simplejson import dumps ?>
    /* <![CDATA[ */
    function initialize() {
      initOpenLayers();

      addFlight(${flight.id},
        ${dumps(trace.encoded.points)},
        ${dumps(trace.encoded.levels)},
        ${trace.fixes.numLevels},
        ${dumps(trace.barogram_t)},
        ${dumps(trace.barogram_h)},
        ${dumps(trace.zoom_levels)}
      );

      map.zoomToExtent(getAllFlightsBounds().scale(1.1));

      render_barogram($("#barogram"));
      scaleBarogram();

      hoverMap();

      var pinnedFlights = getPinnedFlights();
      for (i in pinnedFlights) {
        if (pinnedFlights[i] != ${flight.id}) addFlightFromJSON("/flights/id/" + pinnedFlights[i] + "/json");
      }

      pinButton($("#pinned"), ${flight.id});
    }
    /* ]]> */
  </script>

  <title>View Flight</title>
</head>

  <?python from babel.dates import format_date, format_time, format_datetime ?>

  <body onload="initialize();">
    <div class="row">
      <div class="span4">
        <table class="table">
          <tbody>
            <tr>
              <th>Date</th>
              <td>
                <span py:if="flight.takeoff_time" py:replace="format_date(flight.takeoff_time)">
                  2012-05-21
                </span>
              </td>
            </tr>
            <tr>
              <th>Take-off</th>
              <td>
                <span py:if="flight.takeoff_time" py:replace="format_time(flight.takeoff_time)">
                  10:00
                </span>
              </td>
            </tr>
            <tr>
              <th>Landing</th>
              <td>
                <span py:if="flight.landing_time" py:replace="format_time(flight.landing_time)">
                  15:00
                </span>
              </td>
            </tr>
            <tr>
              <th>Score</th>
              <td>
                ${flight.olc_plus_score} pt
                <span py:if="flight.olc_classic_distance is not None">
                  (${flight.olc_classic_distance/1000} km,
                </span>
                <span py:if="flight.olc_triangle_distance is not None">
                  triangle ${flight.olc_triangle_distance/1000} km)
                </span>
              </td>
            </tr>
            <tr>
              <th>Pilot</th>
              <td>
                <a py:if="flight.pilot" py:content="flight.pilot" href="/flights/pilot/${flight.pilot_id}">
                  Pilot Name
                </a>
                <br py:if="flight.pilot and flight.co_pilot"/>
                <a py:if="flight.co_pilot" py:content="flight.co_pilot" href="/flights/pilot/${flight.co_pilot_id}">
                  Co-Pilot Name
                </a>
                <span py:if="not flight.pilot and not flight.co_pilot" py:strip="True">
                  [unspecified]
                </span>
                <a py:if="flight.is_writable()" href="change_pilot" class="btn btn-mini">Change</a>
              </td>
            </tr>
            <tr>
              <th>Club</th>
              <td>
                <a py:if="flight.club" py:content="flight.club" href="/flights/club/${flight.club_id}">
                  Club Name
                </a>
              </td>
            </tr>
            <tr>
              <th>Uploaded</th>
              <td>
                ${format_datetime(flight.time_created)} by ${flight.owner}
              </td>
            </tr>
            <tr>
              <th>Download</th>
              <td>
                <a href="${flight.get_download_uri()}" py:content="flight.filename">FOO.IGC</a>
              </td>
            </tr>
            <tr py:if="flight.may_delete()">
              <th>Actions</th>
              <td>
                <a href="delete" class="btn btn-mini">Delete</a>
              </td>
            </tr>
          </tbody>
        </table>

        <p>
          <a href="map" class="btn"><i class="icon-fullscreen"></i> Full-screen map</a>
          <span id="pinned"></span>
        </p>
      </div>
      <div class="span8">
        <div id="map_canvas" style="width:100%; height:400pt;"></div>
        <div id="barogram" style="width:100%; height:120pt;position:relative;"></div>
      </div>
    </div>
  </body>
</html>
