<?python
page = 'flights'
?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="flights/meta-tags.html" />
  <xi:include href="flights/details-table.html" />
  <xi:include href="flights/phases-table.html" />
  <?python
    title, tagline = h.format_flight_title(flight)
  ?>

  <xi:include href="master/page.html" />

<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" py:if="False"/>
  ${flight_meta_tags(flight)}

  <link href="/css/OpenLayers.css" rel="stylesheet" type="text/css" />
  <link py:if="request.identity and request.identity['user'].eye_candy"
        href="/css/eye_candy/OpenLayers.css" rel="stylesheet" type="text/css" />
  <link href="/css/SimpleLayerSwitcher.css" rel="stylesheet" type="text/css" />

  <script type="text/javascript" src="/js/OpenLayers/OpenLayers.js"></script>
  <script type="text/javascript" src="/js/OpenLayers/SimpleLayerSwitcher.js"></script>
  <script type="text/javascript" src="/static/jquery/jquery.cookie.js"></script>
  <script type="text/javascript" src="/static/bootstrap/js/bootstrap-collapse.js"></script>

  <script type="text/javascript" src="/js/general.js"></script>
  <script type="text/javascript" src="/js/map.js"></script>
  <script type="text/javascript" src="/js/flight.js"></script>

  <script type="text/javascript" src="/js/g.raphael/raphael-min.js"></script>
  <script type="text/javascript" src="/js/g.raphael/g.raphael.js"></script>
  <script type="text/javascript" src="/js/g.raphael/g.line.js"></script>
  <script py:if="trace" type="text/javascript">
    /* <![CDATA[ */
    function initialize() {
      initOpenLayers("map_canvas");
      initFlightLayer();

      addFlight(${flight.id},
        ${h.json.dumps(trace.encoded.points)},
        ${h.json.dumps(trace.encoded.levels)},
        ${trace.fixes.numLevels},
        ${h.json.dumps(trace.barogram_t)},
        ${h.json.dumps(trace.barogram_h)},
        ${h.json.dumps(trace.enl)},
        ${h.json.dumps(trace.zoom_levels)},
        ${h.json.dumps(trace.contests)}
      );

      /* ]]> */
      <py:if test="defined('other_flights')">
        <py:for each="flight, trace in other_flights">
          addFlight(${flight.id},
            ${h.json.dumps(trace.encoded.points)},
            ${h.json.dumps(trace.encoded.levels)},
            ${trace.fixes.numLevels},
            ${h.json.dumps(trace.barogram_t)},
            ${h.json.dumps(trace.barogram_h)},
            ${h.json.dumps(trace.enl)},
            ${h.json.dumps(trace.zoom_levels)},
            ${h.json.dumps(trace.contests)}
          );
        </py:for>
      </py:if>
      /* <![CDATA[ */

      map.zoomToExtent(getAllFlightsBounds().scale(1.1));

      render_barogram($("#barogram"));
      scaleBarogram();

      hoverMap();

      var pinnedFlights = getPinnedFlights();
      for (i in pinnedFlights)
        if (pinnedFlights[i] != ${flight.id})
          addFlightFromJSON("/flights/" + pinnedFlights[i] + "/json");

      pinButton($("#pinned"), ${flight.id});

      $.getScript("http://maps.google.com/maps/api/js?v=3.7&sensor=false&callback=addGoogleLayer");
      addBingLayers("${config.get('skylines.bing.api_key', 'null')}");
      addReliefLayer();

      $('#detailed-stats').on('shown', function () {
        $('html, body').animate({scrollTop: $("#detailed-stats").offset().top-100}, 200);
      })
    }
    /* ]]> */
  </script>

  <title>View Flight</title>
</head>

  <body onload="initialize();">
    <div class="row">
      <div class="span4">
        ${render_details_table(flight)}

        <p>
          <a py:if="trace" href="map" class="btn">
            <i class="icon-fullscreen icon-large"></i> Full-screen map
          </a>

          <span id="pinned" rel="tooltip" title="Activate this to show the flight on top of other flights on the map"></span>
        </p>
        <p>
          <a class='btn' data-toggle="collapse" data-target="#detailed-stats"
            py:if="flight.has_phases">
              <i class='icon-info-sign icon-large'></i>
              Detailed statistics</a>
        </p>

        <h3><i class="icon-comments-alt"></i> Comments</h3>
        <table class="table">
          <tr py:for="comment in flight.comments">
            <td>
              <span py:if="comment.user" style="float:left">
                <a href="/users/${comment.user.id}" py:content="comment.user">Turbo</a>:&nbsp;
              </span>
              <span py:replace="Markup(h.markdown.convert(comment.text))">Nice flight!!</span>
            </td>
          </tr>
          <tr py:if="len(flight.comments) == 0">
            <td><em>No comments yet.</em></td>
          </tr>
          <tr py:if="request.identity">
            <td>
              <form action="add_comment" method="POST">
                <textarea style="width: 100%" name="text"></textarea><br/>
                <input type="submit" value="Add comment" class="btn btn-primary"/>
              </form>
            </td>
          </tr>
        </table>
      </div>
      <div py:if="trace" class="span8">
        <div id="map_canvas" style="width:100%; height:400pt;"></div>
        <div id="barogram" style="width:100%; height:120pt;position:relative;"></div>
      </div>
      <div py:if="not trace" class="span8">
          An error occurred while decoding this flight.
      </div>
  </div>

  <div id="detailed-stats" class="collapse out">
    <hr />
    <div class="row">
      <div class="span5">
        <h3>Circling performance <small>(summary)</small></h3>
        ${render_circling_performance(flight)}

      </div>
      <div class="span7">
        <h3>Cruise performance <small>(summary)</small></h3>
        ${render_cruise_performance(flight)}
      </div>
      <div class="span12">
        <h3>Phases</h3>
        ${render_phases(flight)}
      </div>
    </div>
  </div>
</body>
</html>
