<?python
from simplejson import dumps

page = 'flights'
?>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="flights/meta-tags.html" />
  <xi:include href="flights/details-table.html" />
  <?python
    if flight:
        title, tagline = flight_title(flight)
    elif defined('flights'):
        title, tagline = flight_title(flights[0][0])
  ?>

  <xi:include href="master/page.html" />

<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" py:if="False"/>
  <span py:if="flight" py:replace="flight_meta_tags(flight)"/>
  <span py:if="defined('flights')" py:replace="flight_meta_tags(flights[0][0])"/>

  <link href="/css/OpenLayers.css" rel="stylesheet" type="text/css" />
  <link href="/css/SimpleLayerSwitcher.css" rel="stylesheet" type="text/css" />

  <script type="text/javascript" src="/js/OpenLayers/OpenLayers.js"></script>
  <script type="text/javascript" src="/js/OpenLayers/SimpleLayerSwitcher.js"></script>
  <script type="text/javascript" src="/static/jquery/jquery.cookie.js"></script>

  <script type="text/javascript" src="/js/general.js"></script>
  <script type="text/javascript" src="/js/map.js"></script>
  <script type="text/javascript" src="/js/flight.js"></script>

  <script type="text/javascript" src="/js/g.raphael/raphael-min.js"></script>
  <script type="text/javascript" src="/js/g.raphael/g.raphael.js"></script>
  <script type="text/javascript" src="/js/g.raphael/g.line.js"></script>
  <script py:if="trace" type="text/javascript">
    /* <![CDATA[ */
    function initialize() {
      initOpenLayers("map_canvas");
      initFlightLayer();

      addFlight(${flight.id},
        ${dumps(trace.encoded.points)},
        ${dumps(trace.encoded.levels)},
        ${trace.fixes.numLevels},
        ${dumps(trace.barogram_t)},
        ${dumps(trace.barogram_h)},
        ${dumps(trace.zoom_levels)}
      );

      map.zoomToExtent(getAllFlightsBounds().scale(1.1));

      render_barogram($("#barogram"));
      scaleBarogram();

      hoverMap();

      var pinnedFlights = getPinnedFlights();
      for (i in pinnedFlights)
        if (pinnedFlights[i] != ${flight.id})
          addFlightFromJSON("/flights/" + pinnedFlights[i] + "/json");

      pinButton($("#pinned"), ${flight.id});

      $.getScript("http://maps.google.com/maps/api/js?v=3.7&sensor=false&callback=addGoogleLayer");
      addBingLayers("${config.get('skylines.bing.api_key', 'null')}");
    }
    /* ]]> */
  </script>

  <script py:if="defined('flights')" type="text/javascript">
    /* <![CDATA[ */
    function initialize() {
      initOpenLayers("map_canvas");
      initFlightLayer();
    /* ]]> */

    <span py:for="flight, trace in flights" py:strip="True">
      addFlight(${flight.id},
        ${dumps(trace.encoded.points)},
        ${dumps(trace.encoded.levels)},
        ${trace.fixes.numLevels},
        ${dumps(trace.barogram_t)},
        ${dumps(trace.barogram_h)},
        ${dumps(trace.zoom_levels)}
      );
    </span>

    /* <![CDATA[ */
      map.zoomToExtent(getAllFlightsBounds().scale(1.1));

      render_barogram($("#barogram"));
      scaleBarogram();

      hoverMap();

      $.getScript("http://maps.google.com/maps/api/js?v=3.7&sensor=false&callback=addGoogleLayer");
      addBingLayers("${config.get('skylines.bing.api_key', 'null')}");
    }
    /* ]]> */
  </script>

  <title>View Flight</title>
</head>

  <body onload="initialize();">
    <div class="row">
      <div class="span4">
        <span py:if="flight" py:replace="render_details_table(flight)"/>
        <span py:if="defined('flights')" py:strip="True">
          <span py:for="flight, trace in flights"
                py:replace="render_details_table(flight)"/>
        </span>

        <p>
          <a py:if="trace" href="map" class="btn">
            <i class="icon-fullscreen icon-large"></i> Full-screen map
          </a>
          <span id="pinned" rel="tooltip" title="Activate this to show the flight on top of other flights on the map"></span>
        </p>
      </div>
      <div py:if="trace or defined('flights')" class="span8">
        <div id="map_canvas" style="width:100%; height:400pt;"></div>
        <div id="barogram" style="width:100%; height:120pt;position:relative;"></div>
      </div>
      <div py:if="not trace and not defined('flights')" class="span8">
        An error occurred while decoding this flight.
      </div>
    </div>
  </body>
</html>
