{% from "macros/links.jinja" import club_link %}

{% extends "base-page.jinja" %}

{% block title %}{% trans %}Clubs{% endtrans %}{% endblock %}

{%- block content %}
<table class="table table-striped">
  <thead>
    <tr>
      <th>{% trans %}Name{% endtrans %}</th>
      <th>{% trans %}Actions{% endtrans %}</th>
    </tr>
  </thead>
  <tbody>
    {% for club in clubs -%}
    <tr>
      <td>{{ club_link(club) }}</td>
      <td>
        <a href="{{ url_for('flights.club', id=club.id) }}" class="btn btn-mini"><i class="icon-plane"></i> {% trans %}Flights{% endtrans %}</a>
        <a href="{{ url_for('statistics.index', page='club', id=club.id) }}" class="btn btn-mini"><i class="icon-tasks"></i> {% trans %}Statistics{% endtrans %}</a>
        <a href="{{ url_for('club.pilots', club_id=club.id) }}" class="btn btn-mini"><i class="icon-group"></i> {% trans %}Members{% endtrans %}</a>
      </td>
    </tr>
    {%- endfor %}
  </tbody>
</table>
{%- endblock %}
