<?python from babel.dates import format_date ?>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master/page.html" />

  <head>
    <title>Clubs</title>
  </head>

  <body>
    <div id="getting_started">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr py:for="club in clubs">
            <td>
              <a href="/flights/club/${club.id}" py:content="club.name">
                Name
              </a>
            </td>
            <td>
              <a href="/flights/club/${club.id}" class="btn btn-mini">Flights</a>
              <a href="id/${club.id}/" class="btn btn-mini">Info</a>
              <a href="id/${club.id}/pilots" class="btn btn-mini">Members</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
