<?python
title = 'Members'
tagline = 'of'
tagline_link = '/clubs/' + str(club.id) + '/'
tagline_link_text = club
?>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="users/users-table.html" />
  <xi:include href="master/page.html" />

  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" py:if="False"/>
  </head>

  <body itemscope="SportsTeam" itemtype="http://schema.org/SportsTeam">
    <meta itemprop="name" content="${club}" />
    <meta itemprop="url" content="/clubs/${club.id}" />
    ${render_users_table(users, False)}

    <p py:if="club.is_writable()">
      <a href="new_pilot" class="btn">Create Pilot</a>
    </p>
  </body>
</html>
