<?python
title = club.name
?>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master/page.html" />

  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" py:if="False"/>

    <script type="text/javascript" src="/static/jquery/jquery.timeago.js"></script>
    <script type="text/javascript">
      jQuery(document).ready(function() {
        jQuery("abbr.timeago").timeago();
      });
    </script>
  </head>

  <body>
    <div class="row">
      <div class="well span8 offset2">
        <table class="right">
          <tr>
            <th>Name</th>
            <td py:content="club.name">Foo</td>
          </tr>

          <tr py:if="club.website is not None">
            <th>Website</th>
            <td><a target="_blank" href="${club.website}" py:content="club.website"/></td>
          </tr>

          <tr>
            <th>Created</th>
            <td>
              ${insert_timeago(club.time_created)}
              <span py:if="club.owner" py:strip="True"> by <a href="/users/${club.owner_id}/">${club.owner}</a></span>
            </td>
          </tr>
        </table>

        <p>
          <a py:if="club.is_writable()" href="edit" class="btn">Edit</a>
          <a href="/flights/club/${club.id}" class="btn"><i class="icon-plane"></i> Flights</a>
          <a href="/statistics/club/${club.id}" class="btn"><i class="icon-tasks"></i> Statistics</a>
          <a href="pilots" class="btn"><i class="icon-group"></i> Members</a>
        </p>
      </div>
    </div>
  </body>
</html>
