{% from "macros/datetime.jinja" import insert_timeago, timeago_script with context %}
{% from "macros/links.jinja" import user_link %}


{% extends "base-page.jinja" %}


{% block title %}{{ club.name|e }}{% endblock %}


{% block scripts -%}
{{ super() }}
{{ timeago_script() }}
{%- endblock %}


{% block content -%}
<div class="row">
  <div class="well col-sm-8 col-sm-offset-2">
    <table class="right">
      <tr>
        <th>{% trans %}Name{% endtrans %}</th>
        <td>{{ club.name }}</td>
      </tr>

      {% if club.website -%}
      <tr>
        <th>{% trans %}Website{% endtrans %}</th>
        <td><a target="_blank" href="{{ club.website|e }}">{{ club.website|e }}</a></td>
      </tr>
      {%- endif %}

      <tr>
        <th>{% trans %}Created{% endtrans %}</th>
        <td>
          {% if club.owner -%}
            {{ _('%(time_ago)s by %(creator)s', time_ago=insert_timeago(club.time_created)|safe, creator=user_link(club.owner)) }}
          {%- else %}
            {{ insert_timeago(club.time_created) }}
          {%- endif %}
        </td>
      </tr>
    </table>

    <p>
      {% if club.is_writable(g.current_user) -%}
      <a href="{{ url_for('.edit') }}" class="btn btn-default">{% trans %}Edit{% endtrans %}</a>
      {%- endif %}

      <a href="{{ url_for('flights.club', id=club.id) }}" class="btn btn-default"><i class="icon-plane"></i> {% trans %}Flights{% endtrans %}</a>
      <a href="{{ url_for('statistics.index', page='club', id=club.id) }}" class="btn btn-default"><i class="icon-bar-chart"></i> {% trans %}Statistics{% endtrans %}</a>
      <a href="{{ url_for('club.pilots') }}" class="btn btn-default"><i class="icon-group"></i> {% trans %}Members{% endtrans %}</a>
    </p>
  </div>
</div>
{%- endblock %}
