<?python
title = club.name
?>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:i18n="http://genshi.edgewall.org/i18n">

  <xi:include href="../master/page.html" />
  <xi:include href="../snippets/datetime.html" />

  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" py:if="False"/>
  </head>

  <body>
    <div class="row">
      <div class="well span8 offset2">
        <table class="right">
          <tr>
            <th>Name</th>
            <td py:content="club.name">Foo</td>
          </tr>

          <tr py:if="club.website is not None">
            <th>Website</th>
            <td><a target="_blank" href="${club.website}" py:content="club.website"/></td>
          </tr>

          <tr>
            <th>Created</th>
            <td>
              <py:if test="not club.owner">
                ${insert_timeago(club.time_created)}
              </py:if>
              <py:if test="club.owner">
                <span i18n:msg="datetime,user" i18n:comment="e.g. 'Created: 18.01.2011 by PilotA'" py:strip="">
                ${insert_timeago(club.time_created)} by <a href="/users/${club.owner_id}/">${club.owner}</a>
                </span>
              </py:if>
            </td>
          </tr>
        </table>

        <p>
          <a py:if="club.is_writable(request.identity)" href="edit" class="btn">Edit</a>
          <a href="/flights/club/${club.id}" class="btn"><i class="icon-plane"></i> Flights</a>
          <a href="/statistics/club/${club.id}" class="btn"><i class="icon-tasks"></i> Statistics</a>
          <a href="pilots" class="btn"><i class="icon-group"></i> Members</a>
        </p>
      </div>
    </div>
  </body>
</html>
