<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master/page.html" />

  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" py:if="False"/>
    <title>Club ${club.name}</title>
  </head>

  <body>
    <div class="row">
      <div class="well span8 offset4">
        <table>
          <tr>
            <th>Name</th>
            <td py:content="club.name">Foo</td>
          </tr>
        </table>

        <p>
          <a href="pilots" class="btn">Manage pilots</a>
        </p>
      </div>
    </div>
  </body>
</html>
