.GraphicLayerSwitcher {
  position: absolute;
  top: 5px;
  right: 5px;
  text-decoration: none;
  width: 100%;
  z-index: 1050;
}

.GraphicLayerSwitcher .current {
  float: right;
  background: #fff;
  color: #000;
  opacity: 0.5;
  height: 30px;
  width: 30px;
  text-align: right;
  white-space: nowrap;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.GraphicLayerSwitcher .current img {
  padding: 2px;
  width: 26px;
  height: 26px;
}

.GraphicLayerSwitcher .current:hover {
  opacity: 1;
}

.GraphicLayerSwitcher .box {
  display: none;
}

.GraphicLayerSwitcher .active {
  font-weight: bold;
}

.GraphicLayerSwitcher .base,
.GraphicLayerSwitcher .overlay {
  background: #000; /* fallback for old browsers */
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 3px 5px 3px 3px;
  float: right;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.GraphicLayerSwitcher .box img {
  width: 100px;
  height: 50px;
  padding: 3px 8px 3px 2px;
}

.GraphicLayerSwitcher .box a {
  white-space: nowrap;
  color: #fff;
}

.GraphicLayerSwitcher .overlay {
  margin-right: 10px;
}

