.form-login {
  min-width: 300px;
  padding: 0 20px;
  margin-bottom: inherit;
}

.form-login div {
  margin: 10px 0;
}

.form-login .btn {
  margin: 0;
}

.form-login #remember {
  margin-top: 5px;
}

.form-login hr {
  margin: 8px 0;
}

.form-login a {
  padding-left: 0;
  padding-right: 0;
}
