/* Override some defaults */
html, body {
  background-color: #eee;
}
body {
  /* 40px to make the container go all the way to the bottom of the topbar */
  padding-top: 40px;
}
.container > footer p {
  /* center align it with the container */
  text-align: center;
  margin-top: 10px;
  font-size: 85%;
}

/* The white background content wrapper */
.content {
  background-color: #fff;
  padding: 20px;
  /* negative indent the amount of the padding to maintain the grid system */
  margin: 0 -20px;
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
          box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

/* Page header tweaks */
.page-header {
  background-color: #f5f5f5;
  padding: 20px 20px 10px;
  margin: -20px -20px 20px;
  position: relative;
}

.page-header-tabs {
  position: absolute;
  bottom: 0;
  right: 5px;
}

.page-header-tabs .nav-tabs {
  margin-bottom: 0;
  border-bottom: 0;
}

.content {
  min-height: 500px;
}

small, .small {
  font-size: 85%;
}

.large {
  font-size: 115%;
}

/* Give a quick and non-cross-browser friendly divider */
ul li[class*="span"] {
  margin-left: 0 !important;
  padding-left: 19px;
  border-left: 1px solid #eee;
}

.topbar .btn {
  border: 0;
}

.navbar .badge {
  line-height: inherit;
}

input[type="file"] {
  background-color: initial;
}

textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.well > form {
  margin-bottom: 0px;
}

.well > form > .actions {
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.numeric, td.numeric, th.numeric {
  text-align:right;
}

#flight-table .date, #flight-table .times {
  white-space: nowrap;
}

table .show {
  white-space: nowrap;
  text-align: right;
  display: table-cell;
}

#flight-table .num_comments {
  width: 0px;
  vertical-align: middle;
}

.footer {
  text-align: center;
  font-size: smaller;
  margin-top: 5px;
}

.footer a {
  color: #333;
}

.footer a:hover {
  text-decoration: none;
}

.right th {
  text-align: right;
  padding-right: 0.5em;
}

.pin {
  cursor: pointer;
}

.table .progress {
  margin-bottom: inherit;
}

.navbar .brand {
  padding-left: 40px;
  margin-left: -40px;
}

.navbar .logo {
  float: left;
  padding: 6px 7px 0px 0px;
}

.skylines-white {
  color: #ffffff;
}

.skylines-blue {
  color: #008eda;
}

.skylines-black {
  color: #000000;
}

.dropdown-menu form {
  padding: 10px 20px;
  margin-bottom: inherit;
}

.dropdown-menu form .btn {
  margin: 0px;
}

.dropdown-menu form .actions {
  margin-bottom: 15px;
}

.dropdown-menu form #remember {
  margin-top: 5px;
}

.dropdown-menu form hr {
  margin: 8px 0;
}

.dropdown-menu form a {
  padding-left: 0px;
  padding-right: 0px;
}

.alert-floating {
  position: relative;
  top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

a.no-link {
  color: inherit;
  text-decoration: none;
}

.tooltip {
  z-index: 2000;
}

table.vmiddle td {
  vertical-align: middle;
}

.table input, .table select {
  margin: 0px;
}

.modal form, .modal .form-actions {
  margin: 0;
}

.pagination-condensed {
  margin: 0;
}

.pagination-condensed a {
  line-height: 22px;
}

.table tr.selected td, .table tr.selected:hover td {
  background-color: #eee !important;
}

.tooltip {
  /*
   * The tooltips in the flight table are broken otherwise because
   * of the "table .show" rule that changes this setting.
   */
  white-space: normal;
}

/* Map info popup */
.InfoBox {
  position: absolute;
  z-index: 999;
  white-space: nowrap;
  text-align: center;
  pointer-events: none;
}

.InfoBox div {
  background: #000; /* fallback for old browsers */
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  -moz-border-radius: 4px;
  border-radius: 4px;
  margin-top: 5px;
}

.InfoBox a {
  color: #fff;
}

.InfoBox .near,
.InfoBox .location {
  padding: 0 3px;
}

.InfoBox .location table {
  border-style: hidden;
  width: 100%;
}

.InfoBox .location table td,
.InfoBox .location table th {
  border-left: 1px dotted white;
  border-right: 1px dotted white;
  padding: 0 0.4em;
}

.InfoBox .location table .airspace_name,
.InfoBox .location table .airspace_base,
.InfoBox .location table .airspace_top,
.InfoBox .location table .wave_name {
  text-align: left;
}

.InfoBox .info-item {
  pointer-events: auto;
}

#map_canvas .plane_marker {
  position: absolute;
  min-height: 1em;
  display: inline-block;
}

.box {
  border: 1px solid #ddd;

  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;

  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.075);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.075);
  box-shadow: 0 1px 2px rgba(0,0,0,.075);

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  margin-bottom: 20px;
  padding: 20px;
}

.box form {
  margin-bottom: 0;
}

.box .form-horizontal {
  margin-bottom: -18px;
}

#about p.lead {
  margin-bottom: 10px;
}

#about .social-buttons .btn-group {
  float: right;
}

#about .social-buttons .btn {
  width: 13px;
}

#about .banner {
  margin: 12px -20px;
}

#about h2 {
  margin: 10px 0;
}

#about h2 [class^="icon-"]:before {
  width: 1.2em;
  text-align: center;
}

#about h2 a {
  color: black;
  text-decoration: none;
}

#about h2 a:hover {
  color: #666;
}

#about h2 small {
  font-size: 14px;
}

#about p {
  text-align: justify;
}

.icon-small {
  font-size: 85%;
}
