/* Override some defaults */
html, body {
  background-color: #eee;
}
body {
  padding-top: 40px; /* 40px to make the container go all the way to the bottom of the topbar */
}
.container > footer p {
  text-align: center; /* center align it with the container */
  margin-top: 10px;
  font-size: 85%;
}

/* The white background content wrapper */
.content {
  background-color: #fff;
  padding: 20px;
  margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
          box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

/* Page header tweaks */
.page-header {
  background-color: #f5f5f5;
  padding: 20px 20px 10px;
  margin: -20px -20px 20px;
}

/* Styles you shouldn't keep as they are for displaying this base example only */
.content {
  min-height: 500px;
}

small, .small {
  font-size: 85%;
}

.large {
  font-size: 115%;
}

/* Give a quick and non-cross-browser friendly divider */
ul li[class*="span"] {
  margin-left: 0 !important;
  padding-left: 19px;
  border-left: 1px solid #eee;
}

.topbar .btn {
  border: 0;
}

.navbar .badge {
  line-height: inherit;
}

input[type="file"] {
  background-color: initial;
}

textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.well > form {
  margin-bottom: 0px;
}

.well > form > .actions {
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.numeric, td.numeric, th.numeric {
  text-align:right;
}

#flight-table .date {
  white-space: nowrap;
}

table .show {
  white-space: nowrap;
  text-align: right;
}

#flight-table .num_comments {
  width: 0px;
  vertical-align: middle;
}

#map_canvas {
  outline: none;
}

#map_canvas img {
  max-width: inherit;
}

.footer {
  text-align: center;
  font-size: smaller;
}

.right th {
  text-align: right;
  padding-right: 0.5em;
}

.pin {
  cursor: pointer;
}

.table .progress {
  margin-bottom: inherit;
}

.navbar .brand {
  padding-left: 40px;
  margin-left: -40px;
}

.navbar .logo {
  float: left;
  padding: 6px 7px 0px 0px;
}

.skylines-white {
  color: #ffffff;
}

.skylines-blue {
  color: #008eda;
}

.skylines-black {
  color: #000000;
}

.dropdown-menu form {
  padding: 10px 20px;
  margin-bottom: inherit;
}

.dropdown-menu form .btn {
  margin: 0px;
}

.dropdown-menu form .actions {
  margin-bottom: 15px;
}

.dropdown-menu form #remember {
  margin-top: 5px;
}

.dropdown-menu form hr {
  margin: 8px 0;
}

.dropdown-menu form a {
  padding-left: 0px;
  padding-right: 0px;
}

.alert-floating {
  position: relative;
  top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

a.no-link {
  color: inherit;
  text-decoration: none;
}

.olControlAttribution {
  background: white;
  opacity: 0.7;
  bottom: 0 !important;
  right: 0 !important;
  padding: 1px 5px;
  border-top-left-radius: 4px;
}

.olFullscreen {
  background-color: #fff;
}

.olFullscreen .olControlAttribution {
  bottom: 125pt !important;
}

.olFullscreen .olControlScaleLine {
  bottom: 125pt !important;
}

.tooltip {
  z-index: 2000;
}

table.vmiddle td {
  vertical-align: middle;
}

.table input, .table select {
  margin: 0px;
}

.modal form, .modal .form-actions {
  margin: 0;
}

.pagination-condensed {
  margin: 0;
}

.pagination-condensed a {
  line-height: 22px;
}

#map_canvas {
	margin-bottom: 5px !important;
}

#map_canvas.olFullscreen {
	margin-bottom: 0px !important;
}

.table tr.selected td, .table tr.selected:hover td {
  background-color: #eee !important;
}

.tooltip {
  /*
   * The tooltips in the flight table are broken otherwise because
   * of the "table .show" rule that changes this setting.
   */
  white-space: normal;
}
