table .numeric {
  text-align:right;
}

table .date, table .times {
  white-space: nowrap;
}

.table-condensed .column-buttons {
  padding-top: 4px;
  padding-bottom: 4px;
}

.table .column-buttons .btn {
  margin: -5px 0;
}

.table-condensed .column-buttons .btn {
  margin: -3px 0;
}

#flight-table .column-buttons {
  white-space: nowrap;
  text-align: right;
}

#flight-table .num_comments {
  width: 0px;
  vertical-align: middle;
}

.right th {
  text-align: right;
  padding-right: 0.5em;
}

.table .progress {
  margin-bottom: inherit;
}

table.vmiddle td {
  vertical-align: middle;
}

.table input, .table select {
  margin: 0px;
  width: 100%;
}

.table tr.selected td, .table tr.selected:hover td {
  background-color: #eee !important;
}
