<@nav.item ...attributes>
  {{#@nav.link-to @target}}
    <span class="visible-sm-inline-block" title={{@title}}>{{svg-jar @icon class="fa-svg large"}}</span>
    {{svg-jar @icon class="fa-svg fixed-width visible-xs-inline-block"}}
    <span class="hidden-sm">{{@title}}</span>
  {{/@nav.link-to}}
</@nav.item>