<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      py:strip="">

  <py:match path="head" once="true">
    <head py:attrs="select('@*')">
      ${select('*')}
      <py:if test="h.not_included_yet()">
      <script type="text/javascript" src="/static/flot/jquery.flot.js"></script>
      <script type="text/javascript" src="/static/flot/jquery.flot.time.js"></script>
      <script type="text/javascript" src="/static/flot/jquery.flot.crosshair.js"></script>
      <script type="text/javascript" src="/static/flot/jquery.flot.resize.js"></script>
      <script type="text/javascript" src="/static/flot-marks/jquery.flot.marks.0.1.js"></script>
      <script language="javascript" type="text/javascript" src="/static/flot/excanvas.min.js"></script>
      </py:if>
    </head>
  </py:match>

</html>
