<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      py:strip="">

  <py:match path="head" once="true">
    <head py:attrs="select('@*')">
      ${select('*')}
      <py:if test="h.not_included_yet()">
      <link href="/css/OpenLayers.css" rel="stylesheet" type="text/css" />
      <link py:if="request.identity and request.identity['user'].eye_candy"
            href="/css/eye_candy/OpenLayers.css" rel="stylesheet" type="text/css" />
      <link href="/css/SimpleLayerSwitcher.css" rel="stylesheet" type="text/css" />
    
      <script type="text/javascript" src="/js/OpenLayers/OpenLayers.js"></script>
      <script type="text/javascript" src="/js/OpenLayers/SimpleLayerSwitcher.js"></script>
      </py:if>
    </head>
  </py:match>

</html>
