<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      py:strip="">

  <py:match path="head" once="true">
    <head py:attrs="select('@*')">
      ${select('*')}
      <py:if test="h.not_included_yet()">
      <py:for each="url in g.assets['css-openlayers'].urls()">
        <link href="${url}" rel="stylesheet" type="text/css" />
      </py:for>

      <py:for each="url in g.assets['js-openlayers'].urls()">
        <script type="text/javascript" src="${url}"></script>
      </py:for>

      <link py:if="request.identity and request.identity['user'].eye_candy"
            href="/css/eye_candy/OpenLayers.css" rel="stylesheet" type="text/css" />
      </py:if>
    </head>
  </py:match>

</html>
