<?python
from tg.i18n import ugettext as _

page = 'tracking'
title = _('Live Tracking')
?>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:i18n="http://genshi.edgewall.org/i18n">
  <xi:include href="../master/page.html" />

  <head>
  </head>

  <body>
    <h3>What is it?</h3>
    <p>
      SkyLines Live Tracking can be used to let others take part on your
      journeys while you're flying. It uses a very light-weight protocol that
      only transmits the necessary data and due to that it can also work in
      areas/altitudes where the reception isn't very good. To give you an
      example: A flight of 10 hours only uses about 340 KB of traffic when the
      positions are transmitted every 5 seconds!
    </p>

    <h3>Clients</h3>
    <ul>
      <li i18n:msg="xcsoar"><b>XCSoar:</b><br/>available starting with <a
      href="http://www.xcsoar.org/download/latest.html">XCSoar 6.4</a>
      (<a href="https://play.google.com/store/apps/details?id=org.xcsoar" target="_blank">Google Play</a>).
      Instructions are below.</li>
      <li i18n:msg="gaggle"><b>Gaggle:</b><br/>now available in the current version of Gaggle
      (<a href="https://play.google.com/store/apps/details?id=com.geeksville.gaggle" target="_blank">Google Play</a>)</li>
      <li><b>Butterfly iGlide:</b><br/>planned</li>
    </ul>

    <h3>Live Tracking Key</h3>
    <py:if test="user is not None">
    <p>
      Your Live Tracking key is: <span class="label label-info">${user.tracking_key_hex}</span>
    </p>

    <p>
      <a href="/users/${user.id}/tracking_register" class="btn btn-mini">Generate new key</a>
      <a href="/tracking/${user.id}" class="btn btn-mini">Your Live Tracks</a>
    </p>
    </py:if>
    <py:if test="user is None">
    <p i18n:msg="personal_tracking_key">
      You have to <a href="/login">login</a> to see you own personal Live Tracking key.
    </p>
    </py:if>

    <h3>XCSoar</h3>
    <p i18n:msg="xcsoar_tracking_instructions">
      In <a href="http://www.xcsoar.org" target="_blank">XCSoar</a>, open
      the <em>Setup System</em> dialog, click on <em>Setup</em> and
      then <em>Tracking</em>.  Turn SkyLines tracking on, and enter your
      Live Tracking key.
    </p>

  </body>
</html>
