{% from "macros/flags.jinja" import insert_flag with context %}
{% from "macros/datetime.jinja" import insert_timeago, timeago_script with context %}
{% from "macros/links.jinja" import user_link %}

{% extends "base-page.jinja" %}
{% set active_page = "tracking" %}


{% block title %}{% trans %}Live Tracking{% endtrans %}{% endblock %}


{% block scripts -%}
{{ super() }}
{{ timeago_script() }}
{%- endblock %}


{% block content -%}
<table id="flight-table" class="table table-striped">
  <thead>
    <tr>
      <th class="date">{% trans %}Last fix{% endtrans %}</th>
      <th>{% trans %}Pilot{% endtrans %}</th>
      <th>{% trans %}Nearest Airport{% endtrans %}</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for track, airport, distance in tracks -%}
    <tr>
      <td class="date">{{ insert_timeago(track.time) }}</td>
      <td>{{ user_link(track.pilot) }}</td>
      <td>
        {% if airport -%}
        {{ insert_flag(airport.country_code) }} {{ airport|e }} ({{ h.format_distance(distance) }})
        {%- endif %}
      </td>
      <td nowrap="nowrap" class="show">
        <a href="/tracking/{{ track.pilot_id }}/" class="btn btn-mini">Show</a>
      </td>
    </tr>
    {%- endfor %}
  </tbody>
</table>

<a href="/tracking/info" class="btn"><i class="icon-question-sign"></i> {% trans %}How to use Live Tracking?{% endtrans %}</a>
{%- endblock %}
