<?python
page = 'tracking'
title = 'Live Tracking'
?>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master/page.html" />

  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" py:if="False"/>
  </head>

  <body>
    <table id="flight-table" class="table table-striped">
      <thead>
        <tr>
          <th class="date">Last fix</th>
          <th>Pilot</th>
        </tr>
      </thead>
      <tbody>
        <tr py:for="time, pilot in tracks">
          <td class="date">
            <span py:replace="h.format_datetime(time)">
              2012-05-21
            </span>
          </td>
          <td>
            <a py:content="pilot" href="/users/${pilot.user_id}">
              Pilot Name
            </a>
          </td>
          <td nowrap="nowrap">
            <a href="/tracking/${pilot.user_id}/" class="btn btn-mini">Show</a>
          </td>
        </tr>
      </tbody>
    </table>

    <a href="/tracking/info" class="btn"><i class="icon-question-sign"></i> How to use Live Tracking?</a>
  </body>
</html>
