<?python
from skylines.lib.units import format_distance

page = 'tracking'
title = 'Live Tracking'
?>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master/page.html" />

  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" py:if="False"/>

    <script type="text/javascript" src="/static/jquery/jquery.timeago.js"></script>
    <script type="text/javascript">
      jQuery(document).ready(function() {
        jQuery("abbr.timeago").timeago();
      });
    </script>
  </head>

  <body>
    <table id="flight-table" class="table table-striped">
      <thead>
        <tr>
          <th class="date">Last fix</th>
          <th>Pilot</th>
          <th>Nearest Airport</th>
        </tr>
      </thead>
      <tbody>
        <tr py:for="track, airport, distance in tracks">
          <td class="date">
            ${insert_timeago(track.time)}
          </td>
          <td>
            <a py:content="track.pilot" href="/users/${track.pilot_id}">
              Pilot Name
            </a>
          </td>
          <td>
            ${insert_flag(airport.country_code)}
            <span py:replace="airport">
              Nearest Airport
            </span>
            (${format_distance(distance)})
          </td>
          <td nowrap="nowrap" class="show">
            <a href="/tracking/${track.pilot_id}/" class="btn btn-mini">Show</a>
          </td>
        </tr>
      </tbody>
    </table>

    <a href="/tracking/info" class="btn"><i class="icon-question-sign"></i> How to use Live Tracking?</a>
  </body>
</html>
