<?python
page = 'tracking'
title = 'Live Tracking'

tagline = 'of'
tagline_link = '/users/{}/'.format(pilot.id)
tagline_link_text = pilot
?>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master/fullscreen.html" />
  <xi:include href="../headers/openlayers.html" />
  <xi:include href="../headers/flot.html" />
  <xi:include href="../headers/jquery/cookie.html" />
  <xi:include href="../snippets/tooltip.html" />

<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" py:if="False"/>

  <script type="text/javascript" src="/js/general.js"></script>
  <script type="text/javascript" src="/js/map.js"></script>
  <script type="text/javascript" src="/js/flight.js"></script>
  <script type="text/javascript" src="/js/tracking.js"></script>

  <script type="text/javascript">
    /* <![CDATA[ */
    $(function() {
      initOpenLayers("map_canvas",
                     "${config.get('skylines.map.airspace_tile_url', '')}");
      initFlightLayer();
      initFlot($("#barogram"));
      /* ]]> */

      <py:if test="trace">
        addFlight(${pilot.id},
          ${h.json.dumps(trace.encoded.points)},
          ${h.json.dumps(trace.encoded.levels)},
          ${trace.fixes.numLevels},
          ${h.json.dumps(trace.barogram_t)},
          ${h.json.dumps(trace.barogram_h)},
          ${h.json.dumps(trace.enl)},
          ${h.json.dumps(trace.zoom_levels)}
        );
      </py:if>

      <py:if test="defined('other_pilots')">
        <py:for each="pilot, trace in other_pilots">
          addFlight(${pilot.id},
            ${h.json.dumps(trace.encoded.points)},
            ${h.json.dumps(trace.encoded.levels)},
            ${trace.fixes.numLevels},
            ${h.json.dumps(trace.barogram_t)},
            ${h.json.dumps(trace.barogram_h)},
            ${h.json.dumps(trace.enl)},
            ${h.json.dumps(trace.zoom_levels)}
          );
        </py:for>
      </py:if>
      /* <![CDATA[ */

      var factor = $("#barogram")[0].offsetHeight / map.getSize().h;
      var zoomExtent = getAllFlightsBounds().clone().scale(1.1);
      zoomExtent.bottom -= zoomExtent.getHeight() * factor * 3/2;

      map.zoomToExtent(zoomExtent);

      hoverMap();

      $.getScript("http://maps.google.com/maps/api/js?v=3.7&sensor=false&callback=addGoogleLayer");
      addBingLayers("${config.get('skylines.bing.api_key', 'null')}");
      addReliefLayer();

      setInterval(function() {
          updateFlightsFromJSON();
        },
        15*1000 // update flight track every 15 seconds
      );
    });
    /* ]]> */
  </script>

  <style>
    body { height: 100%; margin: 0; padding: 0 }
  </style>
</head>

  <body>
    <div py:if="trace or (defined('other_pilots') and other_pilots)" py:strip="True">
      <div id="map_canvas" class="olFullscreen" style="position: absolute; top: 40px; bottom: 0; width:100%;"></div>
      <div style="position: absolute; bottom: 0; width:100%; background-color: white; opacity: 0.8;">
        <table id="fix-data" class="table table-condensed"></table>
        <div id="barogram" style="width:100%; height:100pt;"></div>
      </div>
    </div>
    <div py:if="not trace and (not defined('other_pilots') or not other_pilots)">
      <div style="height:50pt;"/>
      <p>There is no live track of this pilot currently.</p>
    </div>
  </body>
</html>
