{% from "macros/flags.jinja" import insert_flag with context %}
{% from "macros/datetime.jinja" import insert_timeago with context %}
{% from "macros/links.jinja" import user_link, club_link %}

{% extends "base-page.jinja" %}
{% set active_page = "tracking" %}


{% block title -%}
{% trans pilot=user_link(pilot) -%}
Live Tracking <small>of {{ pilot }}</small>
{%- endtrans %}
{%- endblock %}


{%- block styles %}
{{ super() }}

{% if trace -%}
  {% for url in g.assets['openlayers_css'].urls() -%}
  <link href="{{ url }}" rel="stylesheet" type="text/css" />
  {%- endfor %}

  {%- if request.identity and request.identity['user'].eye_candy -%}
  <link href="/css/eye_candy/OpenLayers.css" rel="stylesheet" type="text/css" />
  {%- endif %}
{%- endif %}
{%- endblock %}


{%- block scripts %}
{{ super() }}

{% if trace -%}
  {% for url in g.assets['openlayers_js'].urls() -%}
  <script type="text/javascript" src="{{ url }}"></script>
  {%- endfor %}

  {% for url in g.assets['flot_js'].urls() -%}
  <script type="text/javascript" src="{{ url }}"></script>
  {%- endfor %}
{%- endif %}

{% for url in g.assets['flight_js'].urls() -%}
<script type="text/javascript" src="{{ url }}"></script>
{%- endfor %}

{% for url in g.assets['tracking_js'].urls() -%}
<script type="text/javascript" src="{{ url }}"></script>
{%- endfor %}

{% if trace -%}
<script type="text/javascript">
  $(function() {
    slUnits.init({{ h.json.dumps(h.get_setting_name('distance_unit')) }},
                 {{ h.json.dumps(h.get_setting_name('speed_unit')) }},
                 {{ h.json.dumps(h.get_setting_name('lift_unit')) }},
                 {{ h.json.dumps(h.get_setting_name('altitude_unit')) }});

    initOpenLayers("map_canvas",
                   "{{ config.get('skylines.map.tile_url', '') }}");
    initFlightLayer();
    initBaro($("#barogram"));

    // initiate tracking mode
    default_time = -1;
    setTime(default_time);

    addFlight({{ pilot.id }},
      {{ h.json.dumps(trace.encoded.points) }},
      {{ h.json.dumps(trace.encoded.levels) }},
      {{ trace.num_levels }},
      {{ h.json.dumps(trace.barogram_t) }},
      {{ h.json.dumps(trace.barogram_h) }},
      {{ h.json.dumps(trace.enl) }},
      {{ h.json.dumps(trace.zoom_levels) }},
      null,
      {{ h.json.dumps(trace.barogram_t) }},
      {{ h.json.dumps(trace.elevations) }}
    );

    {% if other_pilots -%}
    {% for pilot, trace in other_pilots -%}
    addFlight({{ pilot.id }},
      {{ h.json.dumps(trace.encoded.points) }},
      {{ h.json.dumps(trace.encoded.levels) }},
      {{ trace.num_levels }},
      {{ h.json.dumps(trace.barogram_t) }},
      {{ h.json.dumps(trace.barogram_h) }},
      {{ h.json.dumps(trace.enl) }},
      {{ h.json.dumps(trace.zoom_levels) }},
      null,
      {{ h.json.dumps(trace.barogram_t) }},
      {{ h.json.dumps(trace.elevations) }}
    );
    {%- endfor %}
    {%- endif %}

    map.zoomToExtent(flights.getBounds().scale(1.02));

    hoverMap();

    $.getScript("http://maps.google.com/maps/api/js?v=3.7&sensor=false&callback=addGoogleLayer");
    addBingLayers("{{ config.get('skylines.bing.api_key', 'null') }}");
    addReliefLayer();

    // update flight track every 15 seconds
    setInterval(function() {
      updateFlightsFromJSON();
    }, 15*1000);

    initInfoBox({flight_info: false, location_info: true});
  });
</script>
{%- endif %}
{%- endblock %}


{% block content -%}
<div class="row">
  <div class="span4">
    <table class="table">
      <tbody>
        <tr>
          <th>{% trans %}Pilot{% endtrans %}</th>
          <td>{{ user_link(pilot) }}</td>
        </tr>

        {% if pilot.club -%}
        <tr>
          <th>{% trans %}Club{% endtrans %}</th>
          <td>{{ club_link(pilot.club) }}</td>
        </tr>
        {%- endif %}

        {% if pilot.tracking_delay > 0 -%}
        <tr>
          <th><span rel="tooltip" title="{{ _('This pilot chose to delay the display of his live tracks.') }}">{% trans %}Delay{% endtrans %}</span></th>

          <td>
            {{ ungettext('%u minute', '%u minutes', pilot.tracking_delay)|format(pilot.tracking_delay) }}

            {%- if pilot.is_readable(request.identity) -%}
            <span rel="tooltip" title="{{ _('The live tracking delay is ignored because of your account privileges.') }}">({% trans %}ignored{% endtrans %})</span>
            {%- endif %}
          </td>
        </tr>
        {%- endif %}
      </tbody>
    </table>

    {% if trace -%}
    <p>
      <a href="map" class="btn">
        <i class="icon-fullscreen icon-large"></i> {% trans %}Full-screen map{% endtrans %}
      </a>
    </p>
    {%- endif %}

    {% if request.identity and request.identity['user'] == pilot -%}
    <p><a href="/tracking/info" class="btn btn-mini">{% trans %}Your Live Tracking settings{% endtrans %}</a></p>
    {%- endif %}
  </div>

  <div class="span8">
    {% if trace or other_pilots -%}
    <div id="map_canvas" style="width:100%; height:400pt;"></div>
    <div id="barogram" style="width:100%; height:120pt;"></div>
    <table id="fix-data" class="table table-condensed"></table>
    {%- else -%}
      {% trans %}There is no live track of this pilot currently.{% endtrans %}
    {%- endif %}
  </div>
</div>
{%- endblock %}
