<?python
from tg.i18n import ugettext as _, ungettext

page = 'tracking'
title = _('Live Tracking')

tagline = 'of'
tagline_link = '/users/{}/'.format(pilot.id)
tagline_link_text = pilot
?>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master/page.html" />
  <xi:include href="../headers/openlayers.html" />
  <xi:include href="../headers/flot.html" />
  <xi:include href="../snippets/tooltip.html" />

<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" py:if="False"/>

  <py:for each="url in g.assets['js-flight'].urls()">
    <script type="text/javascript" src="${url}"></script>
  </py:for>
  <py:for each="url in g.assets['js-tracking'].urls()">
    <script type="text/javascript" src="${url}"></script>
  </py:for>

  <script type="text/javascript">
    /* <![CDATA[ */
    $(function() {
      initUnits(${h.json.dumps(h.get_setting_name('distance_unit'))},
                ${h.json.dumps(h.get_setting_name('speed_unit'))},
                ${h.json.dumps(h.get_setting_name('lift_unit'))},
                ${h.json.dumps(h.get_setting_name('altitude_unit'))});

      initOpenLayers("map_canvas",
                     "${config.get('skylines.map.airspace_tile_url', '')}");
      initFlightLayer();
      initFlot($("#barogram"))

      // initiate tracking mode
      default_time = -1;
      setTime(default_time);
      /* ]]> */

      <py:if test="trace">
        addFlight(${pilot.id},
          ${h.json.dumps(trace.encoded.points)},
          ${h.json.dumps(trace.encoded.levels)},
          ${trace.fixes.numLevels},
          ${h.json.dumps(trace.barogram_t)},
          ${h.json.dumps(trace.barogram_h)},
          ${h.json.dumps(trace.enl)},
          ${h.json.dumps(trace.zoom_levels)}
        );
      </py:if>

      <py:if test="defined('other_pilots')">
        <py:for each="pilot, trace in other_pilots">
          addFlight(${pilot.id},
            ${h.json.dumps(trace.encoded.points)},
            ${h.json.dumps(trace.encoded.levels)},
            ${trace.fixes.numLevels},
            ${h.json.dumps(trace.barogram_t)},
            ${h.json.dumps(trace.barogram_h)},
            ${h.json.dumps(trace.enl)},
            ${h.json.dumps(trace.zoom_levels)}
          );
        </py:for>
      </py:if>
      /* <![CDATA[ */

      map.zoomToExtent(getAllFlightsBounds().scale(1.1));

      hoverMap();

      $.getScript("http://maps.google.com/maps/api/js?v=3.7&sensor=false&callback=addGoogleLayer");
      addBingLayers("${config.get('skylines.bing.api_key', 'null')}");
      addReliefLayer();

      setInterval(function() {
          updateFlightsFromJSON();
        },
        15*1000 // update flight track every 15 seconds
      );
    });
    /* ]]> */
  </script>
</head>

  <body>
    <div class="row">
      <div class="span4">
        <table class="table">
          <tbody>
            <tr>
              <th>Pilot</th>
              <td>
                <a py:if="pilot" py:content="pilot" href="/users/${pilot.id}/">
                  Pilot Name
                </a>
              </td>
            </tr>
            <tr py:if="pilot.club">
              <th>Club</th>
              <td>
                <a py:content="pilot.club" href="/clubs/${pilot.club_id}/">
                  Club Name
                </a>
              </td>
            </tr>
            <tr py:if="pilot.tracking_delay > 0">
              <th>
                <span rel="tooltip" title="This pilot chose to delay the display of his live tracks.">Delay</span>
              </th>

              <td>
                <span py:replace="ungettext('%u minute', '%u minutes', pilot.tracking_delay) % pilot.tracking_delay">
                  10 minutes
                </span>

                <span py:if="pilot.is_readable(request.identity)" rel="tooltip"
                      title="The live tracking delay is ignored because of your account privileges.">
                  (ignored)
                </span>
              </td>
            </tr>
          </tbody>
        </table>

        <p>
          <a py:if="trace" href="map" class="btn">
            <i class="icon-fullscreen icon-large"></i> Full-screen map
          </a>
        </p>

        <p py:if="request.identity and request.identity['user'] == pilot">
          <a href="/tracking/info" class="btn btn-mini">Your Live Tracking settings</a>
        </p>
      </div>

      <div class="span8" py:if="trace or (defined('other_pilots') and other_pilots)">
        <div id="map_canvas" style="width:100%; height:400pt;"></div>
        <div id="barogram" style="width:100%; height:120pt;"></div>
        <table id="fix-data" class="table table-condensed"></table>
      </div>

      <div class="span8" py:if="not trace and (not defined('other_pilots') or not other_pilots)">
        There is no live track of this pilot currently.
      </div>
    </div>
  </body>
</html>
