{% extends "base-form.jinja" %}
{% set active_page = "flights" %}
{% set use_ember = true %}

{% from "macros/form.jinja" import render_field %}

{% block title %}{% trans %}Select Pilot{% endtrans %}{% endblock %}

{% block form -%}
<div data-component="change-pilot-form" data-attrs='{
  "flightId": {{ g.flight.id|tojson }},
  "flight": {{ flight|tojson }},
  "clubMembers": {{ club_members|tojson }}
}'><br>Loading...<br><br></div>
{%- endblock %}
