{% extends "base-form.jinja" %}
{% set active_page = "flights" %}
{% set use_ember = true %}

{% from "macros/form.jinja" import render_field %}

{% block title %}{% trans %}Select Aircraft{% endtrans %}{% endblock %}

{% block form -%}
<div data-component="change-aircraft-form" data-attrs='{
  "flightId": {{ g.flight.id|tojson }},
  "models": {{ models|tojson }},
  "modelId": {{ model_id|tojson }},
  "registration": {{ registration|tojson }},
  "competitionId": {{ competition_id|tojson }}
}'></div>
{%- endblock %}
