{% from "macros/flags.jinja" import insert_flag with context %}
{% from "macros/datetime.jinja" import insert_timeago with context %}
{% from "macros/links.jinja" import user_link, club_link, airport_link %}

{%- macro render_details_table(flight) %}
<table class="table table-flight-details" id="flight-details-table" itemscope="" itemtype="https://schema.org/SportsEvent">
  <meta itemprop="url" content="/flights/{{ flight.id }}" />
  <tbody>
    <tr>
      <th>{% trans %}Pilot{% endtrans %}</th>
      <td class="column-buttons">
        {%- if flight.is_writable(g.current_user) %}
        <a href="{{ url_for('.change_pilot') }}" class="btn btn-default btn-sm pull-right">
          <i class="icon-pencil icon-small"></i> {% trans %}Change{% endtrans %}
        </a>
        {%- endif %}

        {% if flight.pilot or flight.pilot_name -%}
        <span itemprop="performer" itemscope="" itemtype="https://schema.org/Person">
          {% if flight.pilot -%}
          <meta itemprop="url" content="{{ url_for('user.index', user_id=flight.pilot_id) }}" />
          {{ user_link(flight.pilot, ' itemprop="name"') }}
          {%- else -%}
          {{ flight.pilot_name|e }}
          {%- endif %}
        </span>
        {%- endif %}

        {%- if (flight.pilot or flight.pilot_name) and (flight.co_pilot or flight.co_pilot_name) %}<br/>{% endif -%}

        {% if flight.co_pilot or flight.co_pilot_name -%}
        <span itemprop="performer" itemscope="" itemtype="https://schema.org/Person">
          {% if flight.co_pilot -%}
          <meta itemprop="url" content="{{ url_for('user.index', user_id=flight.co_pilot_id) }}" />
          {{ user_link(flight.co_pilot, ' itemprop="name"') }}
          {%- else -%}
          {{ flight.co_pilot_name|e }}
          {%- endif %}
        </span>
        {%- endif %}

        {%- if not (flight.pilot or flight.pilot_name or flight.co_pilot or flight.co_pilot_name) %}
        [unspecified]
        {%- endif %}
      </td>
    </tr>

    {%- if flight.date_local %}
    <tr>
      <th>{% trans %}Date{% endtrans %}</th>
      <td>
        <a href="{{ url_for('flights.date', date=(flight.date_local).strftime('%Y-%m-%d')) }}">
          {{ h.format_date(flight.date_local) }}
        </a>
      </td>
    </tr>
    {%- endif %}

    {%- if flight.takeoff_time %}
    <tr>
      <meta itemprop="startDate" content="{{ h.isoformat_utc(flight.takeoff_time) }}" />
      <th>{% trans %}Take-off{% endtrans %}</th>
      <td>
        {% if flight.takeoff_airport -%}
        {{ insert_flag(flight.takeoff_airport.country_code, 'float:right;margin:3px') }}
        {% trans airport=airport_link(flight.takeoff_airport), time=h.format_time(flight.takeoff_time) -%}
        {{ airport }}<br /> at {{ time }}
        {%- endtrans %}
        {%- else %}
        {{ h.format_time(flight.takeoff_time) }}
        {%- endif %}
      </td>
    </tr>
    {%- endif %}

    {%- if flight.landing_time %}
    <tr>
      <meta itemprop="endDate" content="{{ h.isoformat_utc(flight.landing_time) }}" />
      <th>{% trans %}Landing{% endtrans %}</th>
      <td>
        {% if flight.landing_airport -%}
        {{ insert_flag(flight.landing_airport.country_code, 'float:right;margin:3px') }}
        {% trans airport=airport_link(flight.landing_airport), time=h.format_time(flight.landing_time) -%}
        {{ airport }}<br /> at {{ time }}
        {%- endtrans %}
        {%- else %}
        {{ h.format_time(flight.landing_time) }}
        {%- endif %}
      </td>
    </tr>
    {%- endif %}

    {%- if flight.duration %}
    <tr>
      <th>{% trans %}Duration{% endtrans %}</th>
      <td>{{ _('%(hours)s hours', hours=flight.duration) }}</td>
    </tr>
    {%- endif %}

    <tr>
      <th>{% trans %}Aircraft{% endtrans %}</th>
      <td class="column-buttons">
        {%- if flight.is_writable(g.current_user) %}
        <a href="{{ url_for('.change_aircraft') }}" class="btn btn-default btn-sm pull-right">
          <i class="icon-pencil icon-small"></i> {% trans %}Change{% endtrans %}
        </a>
        {%- endif %}

        {%- if flight.model_id %}
        <span rel="tooltip" title="{{ _('Handicap') ~ ': ' ~ flight.model.dmst_index }}">{{ flight.model|e }}</span>
        {%- elif flight.igc_file.model -%}
        [{{ flight.igc_file.model|e }}]
        {%- else -%}
        {% trans %}Unknown{% endtrans %}
        {%- endif %}

        <small><br/>

        {%- if flight.registration %}
          {{ flight.registration|e }}
        {%- elif flight.igc_file.registration %}
          {{ flight.igc_file.registration|e }}
        {%- endif %}

        {%- if flight.competition_id %}
          &ndash; {{ flight.competition_id|e }}
        {%- elif flight.igc_file.competition_id %}
          &ndash; {{ flight.igc_file.competition_id|e }}
        {%- endif %}

        </small>
      </td>
    </tr>

    <tr>
      <th>{% trans %}Score{% endtrans %}</th>
      <td>
        {{ _('%(points)s pt', points=h.format_decimal(flight.index_score, format='0.0')) }}
        <small><br/>
        {%- if flight.olc_classic_distance %}
        <span title="{% trans %}OLC Distance{% endtrans %}">
          <span style="COLOR:#ff2c73"><i class="icon-resize-horizontal"></i></span> {{ h.format_distance(flight.olc_classic_distance, 1) }}{% if flight.olc_triangle_distance %},{% endif %}
        </span>
        {%- endif %}
        {%- if flight.olc_triangle_distance %}
        <span title="{% trans %}FAI Triangle Distance{% endtrans %}">
          <span style="COLOR:#9f14ff"><i class="icon-play icon-rotate-270"></i></span> {{ h.format_distance(flight.olc_triangle_distance, 1) }}
        </span>
        {%- endif %}
        </small>
      </td>
    </tr>

    {%- if flight.speed %}
    <tr>
      <th>{% trans %}Speed{% endtrans %}</th>
      <td>{{ h.format_speed(flight.speed) }}</td>
    </tr>
    {%- endif %}

    {%- if flight.club %}
    <tr>
      <th>{% trans %}Club{% endtrans %}</th>
      <td itemprop="performer" itemscope="" itemtype="https://schema.org/SportsTeam">
        <meta itemprop="url" content="/clubs/{{ flight.club_id }}" />
        {{ club_link(flight.club, ' itemprop="name"') }}
      </td>
    </tr>
    {%- endif %}

    <tr>
      <th>{% trans %}Uploaded{% endtrans %}</th>
      <td>
        {% trans upload_time=insert_timeago(flight.time_created), uploader=flight.igc_file.owner|e -%}
        {{ upload_time }}<br/> by {{ uploader }}
        {%- endtrans %}
      </td>
    </tr>

    {% if flight.may_delete(g.current_user) %}
    <tr>
      <th>{% trans %}Actions{% endtrans %}</th>
      <td>
        <a data-toggle="modal" data-target="#modal" href="{{ url_for('.delete') }}?embedded" class="btn btn-default btn-sm">
          <i class="icon-remove icon-small"></i> {% trans %}Delete{% endtrans %}
        </a>

        {% if flight.is_writable(g.current_user) and not flight.is_rankable() %}
        <a data-toggle="modal" data-target="#modal" href="{{ url_for('.publish') }}?embedded" class="btn btn-success btn-sm">
          <i class="icon-globe icon-small"></i> {% trans %}Publish{% endtrans %}
        </a>
        {% endif %}
      </td>
    </tr>
    {% endif %}
  </tbody>
</table>
{%- endmacro %}
