{% from "macros/flags.jinja" import insert_flag with context %}
{% from "macros/links.jinja" import user_link, airport_link %}
{% from 'macros/sorter.jinja' import sorter with context %}

{% macro render_flights_table(flights, omitted_columns = []) -%}
<table id="flight-table" class="table table-striped table-condensed">
  <thead>
    <tr>
      {%- if 'date' not in omitted_columns %}
        <th class="date sorting">{{ sorter('flights', _('Date'), 'date', dict(**g.paginators['flights'].args())) }}</th>
      {% endif %}
      {%- if 'score' not in omitted_columns %}
        <th class="numeric sorting">{{ sorter('flights', _('Score'), 'score', dict(**g.paginators['flights'].args())) }}</th>
      {% endif %}
      {%- if 'pilot' not in omitted_columns %}
        <th class="pilot sorting">{{ sorter('flights', _('Pilot'), 'pilot', dict(**g.paginators['flights'].args())) }}</th>
      {% endif %}
      {%- if 'distance' not in omitted_columns %}
        <th class="numeric distance sorting">{{ sorter('flights', _('Distance'), 'distance', dict(**g.paginators['flights'].args())) }}</th>
      {% endif %}
      {%- if 'takeoff_airport' not in omitted_columns %}
        <th class="airport sorting">{{ sorter('flights', _('Airport'), 'airport', dict(**g.paginators['flights'].args())) }}</th>
      {% endif %}
      {%- if 'club' not in omitted_columns %}
        <th class="club sorting hidden-sm hidden-xs">{{ sorter('flights', _('Club'), 'club', dict(**g.paginators['flights'].args())) }}</th>
      {% endif %}
      {%- if 'aircraft' not in omitted_columns %}
        <th class="aircraft sorting hidden-xs">{{ sorter('flights', _('Aircraft'), 'aircraft', dict(**g.paginators['flights'].args())) }}</th>
      {% endif %}
      {%- if 'times' not in omitted_columns %}
        <th class="times sorting hidden-xs">{{ sorter('flights', _('Time'), 'time', dict(**g.paginators['flights'].args())) }}</th>
      {% endif %}
      {%- if 'link' not in omitted_columns %}<th class="column-buttons"></th>{% endif %}
      {%- if 'num_comments' not in omitted_columns %}<th class="num_comments hidden-xs"></th>{% endif %}
    </tr>
  </thead>
  <tbody>
    {% for flight, num_comments in flights -%}
    {% if flight.is_rankable() %}
    <tr>
    {% else %}
    <tr class="not_published">
    {% endif %}
      {% if 'date' not in omitted_columns -%}
      <td class="date">
        {% if flight.date_local -%}
        <span title="{{ flight.date_local.strftime('%d.%m.%Y') }}">
          {{ h.format_date(flight.date_local) }}
        </span>
        {%- endif %}
      </td>
      {%- endif %}

      {% if 'score' not in omitted_columns -%}
      <td class="numeric">{{ h.format_decimal(flight.index_score, format='0') }}</td>
      {%- endif %}

      {% if 'pilot' not in omitted_columns -%}
      <td class="pilot">
        {% if flight.pilot -%}
        {{ user_link(flight.pilot) }}
        {%- elif flight.pilot_name -%}
        {{ flight.pilot_name|e }}
        {%- endif %}

        {%- if (flight.pilot or flight.pilot_name) and (flight.co_pilot or flight.co_pilot_name) %}<br/>{% endif -%}

        {% if flight.co_pilot -%}
        {{ user_link(flight.co_pilot) }}
        {%- elif flight.co_pilot_name -%}
        {{ flight.co_pilot_name|e }}
        {%- endif %}

        {%- if not (flight.pilot or flight.pilot_name or flight.co_pilot or flight.co_pilot_name) %}
        [{{ flight.igc_file.owner|e }}]
        {%- endif %}
      </td>
      {%- endif %}

      {% if 'distance' not in omitted_columns -%}
      <td class="numeric">
        {% if flight.olc_classic_distance -%}
        {{ h.format_distance(flight.olc_classic_distance) }}
        {%- endif %}
      </td>
      {%- endif %}

      {% if 'takeoff_airport' not in omitted_columns -%}
      <td class="airport">
        {% if flight.takeoff_airport -%}
        {{ insert_flag(flight.takeoff_airport.country_code) }}
        {{ airport_link(flight.takeoff_airport) }}
        {%- endif %}
      </td>
      {%- endif %}

      {% if 'club' not in omitted_columns -%}
      <td class="club hidden-sm hidden-xs">
        {% if flight.club -%}
        <a href="{{ url_for('club.index', club_id=flight.club_id) }}">{{ h.truncate(flight.club.name, 25)|e }}</a>
        {%- endif %}
      </td>
      {%- endif %}

      {% if 'aircraft' not in omitted_columns -%}
      <td class="aircraft hidden-xs">
        <span rel="tooltip" title="{{ flight.registration|e or flight.igc_file.registration|e or _('Unknown') }}">
          {% if flight.model -%}
          {{ flight.model|e }}
          {%- elif flight.igc_file.model %}
          [{{ flight.igc_file.model|e }}]
          {%- endif %}
        </span>
      </td>
      {%- endif %}

      {% if 'times' not in omitted_columns -%}
      <td class="times hidden-xs">
        {% if flight.takeoff_time and flight.landing_time -%}
        {{ flight.takeoff_time.strftime('%H:%M') }}-{{ flight.landing_time.strftime('%H:%M') }}
        {%- endif %}
      </td>
      {%- endif %}

      {% if 'link' not in omitted_columns -%}
      <td class="column-buttons">
        <a href="{{ url_for('flight.index', flight_id=flight.id) }}" class="btn btn-default btn-sm">{% trans %}Show{% endtrans %}</a>
        <a class="pin no-link" style="visibility: hidden" rel="tooltip-pin">{{ flight.id }}</a>
      </td>
      {%- endif %}

      {% if 'num_comments' not in omitted_columns -%}
      <td class="num_comments hidden-xs">
        {% if num_comments > 0 -%}
        <i class="icon-comments-alt" title="{{ ngettext('%(num)d comment', '%(num)d comments', num_comments)|format(num=num_comments) }}"></i>
        {% endif %}
      </td>
      {%- endif %}
    </tr>
    {%- endfor %}
  </tbody>
</table>
{%- endmacro %}
