{% from "flights/flights-table.jinja" import render_flights_table with context %}
{% from "macros/links.jinja" import user_link, club_link %}

{% from 'macros/pager.jinja' import pager, pager_script, pager_shortcut_script, pager_status with context %}
{% from 'macros/sorter.jinja' import sorter_script with context %}


{% set partial = 'partial' in request.args %}

{% if not partial %}

{% extends "base-page.jinja" %}
{% set active_page = "flights" %}


{% block title -%}
{% if pilot -%}
  {% trans pilot=user_link(pilot) -%}
    Flights <small>of {{ pilot }}</small>
  {%- endtrans %}
{%- elif club %}
  {% trans club=club_link(club) -%}
    Flights <small>of {{ club }}</small>
  {%- endtrans %}
{%- elif airport %}
  {% trans airport=airport.name|e -%}
    Flights <small>from {{ airport }}</small>
  {%- endtrans %}
{%- elif date %}
  {% trans date=h.format_date(date) -%}
    Flights <small>on {{ date }}</small>
  {%- endtrans %}
{%- else %}
  {% trans %}Flights{% endtrans -%}
{%- endif %}
{%- endblock %}


{% block styles -%}
{{ super() }}
{%- endblock %}
{%- endif %}

{% block content -%}
{% if not partial %}
{% include "flights/nav.jinja" with context %}

<div id="partial">
{% endif %}

{%- set omitted_columns = [] %}
{%- if date %}{% do omitted_columns.append('date') %}{% endif %}
{%- if club or pilot %}{% do omitted_columns.append('club') %}{% endif %}
{%- if airport %}{% do omitted_columns.append('takeoff_airport') %}{% endif %}
{%- if tab == 'all' %}{% do omitted_columns.append('times') %}{% endif %}
{%- if tab == 'unassigned' %}{% do omitted_columns.append('pilot') %}{% endif %}

{% with page=g.paginators['flights'] -%}
<div id="page-position"
     data-page-prev="{{ h.max(page.first_page, page.page - 1) }}"
     data-page-current="{{ page.page }}"
     data-page-next="{{ h.min(page.last_page, page.page + 1) }}"></div>
{% endwith %}

<div class="row">
  <div class="col-sm-6">
    {{ pager_status('flights') }}
  </div>
  <div class="col-sm-6">
    <div class="pull-right">
      {{ pager('flights', dict(**g.sorters['flights'].args())) }}
    </div>
  </div>
</div>

{{ render_flights_table(flights, omitted_columns) }}

<div class="row">
  <div class="col-sm-6">
    {{ pager_status('flights') }}
  </div>
  <div class="col-sm-6">
    <div class="pull-right">
      {{ pager('flights', dict(**g.sorters['flights'].args())) }}
    </div>
  </div>
</div>

{% if not partial %}
</div>
{% endif %}
{%- endblock %}


{% block scripts -%}
{% if not partial %}
{{ super() }}

<script>
$(function() {
    $('#datepicker').datepicker({
      weekStart: 1
    })
    .on('changeDate', function(e) {
      window.location.href = "/flights/date/" + e.date.getFullYear() + "-" +
        pad(e.date.getMonth()+1, 2) + "-" + pad(e.date.getDate(), 2);
    });

    showPinnedFlightsLink();
  });
</script>
{%- endif %}

<script>
$(function() {
  var pinnedFlights = getPinnedFlights();

  var flightTable = $('#flight-table');

  flightTable.find("[rel=tooltip]").tooltip();
  flightTable.find("[rel=tooltip-pin]").tooltip({
    placement: 'left',
    title: 'Activate this to show the flight on top of other flights on the map'
  });
 
  flightTable.find(".pin").each(function() {
    var sfid = parseInt($(this).text());
    if ($.inArray(sfid, pinnedFlights) >= 0) {
      $(this).html("<i class='icon-star'></i>");
      $(this).css("visibility", "visible");
      $(this).addClass("pinned");
    } else {
      $(this).html("<i class='icon-star-empty'></i>");
    }

    $(this).find("i").click(function() {
      if ($(this).parent(".pin").hasClass("pinned")) {
        unpinFlight(sfid);
        $(this).addClass("icon-star-empty");
        $(this).removeClass("icon-star");
        $(this).parent(".pin").removeClass("pinned");
      } else {
        pinFlight(sfid);
        $(this).addClass("icon-star");
        $(this).removeClass("icon-star-empty");
        $(this).parent(".pin").addClass("pinned");
      }
    });
  });
 
  flightTable.find('tr').hover(function(e) {
    if (e.type == "mouseenter") {
      $(this).find(".pin").each(function() {
        $(this).css("visibility", "visible");
      });
    } else if (e.type == "mouseleave") {
      $(this).find(".pin").each(function() {
        if (!$(this).hasClass("pinned"))
          $(this).css("visibility", "hidden");
      });
    }
  });
});
</script>

{% if not partial %}
{{ pager_shortcut_script('flights', dict(**g.sorters['flights'].args())) }}
{%- endif %}

{{ pager_script() }}
{{ sorter_script() }}
{%- endblock %}


{% if not partial %}
{% block title_right -%}
<a href="{{ url_for('upload.index') }}" class="btn btn-success">
  <i class="icon-upload-alt"></i> {{ _('Upload flight') }}
</a>
{%- endblock %}
{%- endif %}
