{% extends "base-fullscreen.jinja" %}
{% set active_page = "flights" %}


{% from 'flights/meta-tags.jinja' import flight_meta_tags with context %}
{% from 'flights/macros.jinja' import flight_title with context %}
{% from 'flights/details-table.jinja' import render_details_table with context %}
{% from 'flights/wingman-table.jinja' import render_wingman_table with context %}
{% from 'flights/phases-table.jinja' import render_circling_performance, render_cruise_performance,
                                            render_leg_statistics, render_phases_condensed with context %}


{% block title -%}{{ flight_title(flight) }}{%- endblock %}


{%- block head %}
{{ super() }}
{{ flight_meta_tags(flight) }}
{%- endblock %}


{%- block styles %}
{{ super() }}

{% assets 'openlayers_css' -%}
<link href="{{ ASSET_URL }}" rel="stylesheet" type="text/css" />
{%- endassets %}
{%- endblock %}


{%- block scripts %}
{{ super() }}

{% assets 'openlayers_js' -%}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{%- endassets %}

{% assets 'flot_js' -%}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{%- endassets %}

{% assets 'flight_js' -%}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{%- endassets %}

<script type="text/javascript">
  $(function() {
    var flight_display = null;
    var sidebar = $('#sidebar').sidebar();

    $("#barogram_panel").resize(function() {
      var height = $("#barogram_panel").height() + 10;
      sidebar.css('bottom', height);
      $(".ol-scale-line").css('bottom', height);
      $(".ol-attribution").css('bottom', height);
    });

    sidebar.on('content', function (e, args) {
      if (args.id == 'tab-stats-legs') {
        phase_highlighter.addTable($('#leg-table-olc_plus-classic'));
        phase_highlighter.addTable($('#leg-table-olc_plus-triangle'));
      } else if (args.id == 'tab-stats-phases') {
        phase_highlighter.addTable($('#phases-table'));
      } else if (args.id == 'tab-wingmen') {
        var wingmanTable = $('#wingman-table');

        wingmanTable.find('tbody').find('tr').each(function(index, row) {
          $(this).on('click', function() {
            if (!flight_display) return;

            var sfid = $(this).data('sfid');
            if (flight_display.getFlights().has(sfid)) {
              flight_display.getFlights().remove(sfid);
              unpinFlight(sfid);
            } else {
              flight_display.addFlightFromJSON("/flights/" + sfid + "/json");
              pinFlight(sfid);
            }
          });
        });

        wingmanTable.find('[rel=popover]').popover({
          html: true,
          container: '#fullscreen-content',
          title: 'Periods',
          placement: 'right',
          trigger: 'hover',
          template: popover_template
        });

        wingmanTable.find('[rel=tooltip]').tooltip();
      }
    });

    var url = getShareUrl('{{ request.url }}');
    var content =
        '<div style="text-align:center">' +
        '<input value="' + url + '" type="text" class="form-control" style="margin-bottom:9px">' +
        '<a href="https://www.facebook.com/share.php?u=' + url + '" target="_blank" class="btn btn-default btn-xs"><i class="icon-facebook"> Share</i></a> ' +
        '<a href="https://plus.google.com/share?url=' + url + '" target="_blank" class="btn btn-default btn-xs"><i class="icon-google-plus"> Share</i></a> ' +
        '<a href="https://twitter.com/share?url=' + url + '" target="_blank" class="btn btn-default btn-xs"><i class="icon-twitter"> Tweet</i></a> ' +
        '</div>';

    var popover_template = '<div class="popover" style="white-space: nowrap; z-index: 5000;">' +
                             '<div class="arrow"></div>' +
                             '<h3 class="popover-title"></h3>' +
                             '<div class="popover-content"></div>' +
                           '</div>';

    $(".btn-share").popover({
      trigger: 'click',
      container: '#fullscreen-content',
      content: content,
      title: '{{ _('Spread the word') }}',
      placement: 'bottom',
      html: true,
      template: popover_template
    });

    if (!isCanvasSupported()) {
      $("#map_canvas").html('<b>Your browser is too old to display this map.<br />' +
                            'Please update to a current version.</b>');
      return;
    }

    slUnits.init({{ h.json.dumps(h.get_setting_name('distance_unit')) }},
                 {{ h.json.dumps(h.get_setting_name('speed_unit')) }},
                 {{ h.json.dumps(h.get_setting_name('lift_unit')) }},
                 {{ h.json.dumps(h.get_setting_name('altitude_unit')) }});

    var sl_map =
      new slMap("map_canvas",
                "{{ config.get('SKYLINES_MAP_TILE_URL') }}",
                { {% if 'baselayer' in request.args %}'base_layer': '{{ request.args['baselayer'] }}',{% endif %}{% if 'overlays' in request.args %}'overlay_layers': '{{ request.args['overlays'] }}',{% endif %} });

    var map = sl_map.getMap();

    sl_map.addBingLayers("{{ config.get('SKYLINES_BING_API_KEY', 'null') }}");
    sl_map.addMapboxLayer("{{ config.get('SKYLINES_MAPBOX_API_KEY', 'null') }}");

    flight_display = slFlightDisplay(sl_map.getMap(), $("#fix-data"), $("#barogram"));
    flight_display.addFlightFromJSON("/flights/{{ flight.id }}/json?{{ config.get('SKYLINES_CACHE_BUSTER', '') }}",false);

    {% if other_flights -%}
    {% for flight in other_flights -%}
    flight_display.addFlightFromJSON("/flights/{{ flight.id }}/json?{{ config.get('SKYLINES_CACHE_BUSTER', '') }}");
    {%- endfor %}
    {%- endif %}

    var getPadding = function() { return [20, 20, $("#barogram_panel").height() + 20, sidebar.width() + 20]; };
    var extent = flight_display.getFlights().getBounds();
    map.getView().fit(extent, map.getSize(), {padding: getPadding()});

    var pinnedFlights = getPinnedFlights();
    for (i in pinnedFlights)
      if (pinnedFlights[i] != {{ flight.id }})
        flight_display.addFlightFromJSON("/flights/" + pinnedFlights[i] + "/json");

    pinButton($("#pinned"), {{ flight.id }});

    slMapClickHandler(map, flight_display, {
      flight_info: true,
      location_info: true,
      api_url: "{{ config.get('SKYLINES_API_URL') }}"
    });

    var phase_highlighter = slPhaseHighlighter(sl_map,
                                               flight_display.getBaro(),
                                               flight_display.getFlights(),
                                               getPadding);

    var fullscreen_button = new FullscreenButton($("#fullscreen-content"));
    map.addControl(fullscreen_button);

    if (window.location.hash &&
        sidebar.find('li > a[href="#' + window.location.hash.substring(1) + '"]').length != 0) {
      sidebar.open(window.location.hash.substring(1));
    }

    $('#flight-details-table').find('[rel=tooltip]').tooltip();
  });
</script>
{%- endblock %}


{%- block content %}
<div id="fullscreen-content" class="olFullscreen">
<div id="sidebar" class="sidebar">
<!-- Nav tabs -->
  <ul class="sidebar-tabs" role="tablist">
    <li class="active">
      <a href="#tab-overview" title="{{ _('Overview') }}" role="tab">
        <i class="icon-info icon-large"></i>
      </a>
    </li>
    <li>
      <a href="#tab-comments" title="{{ _('Comments') }}" role="tab">
        <i class="icon-comments-alt icon-large"></i>
        {% if flight.comments[0] -%}
        ({{ flight.comments|count }})
        {%- endif %}
      </a>
    </li>
    <li>
      <a href="#tab-stats-total" title="{{ _('Total') }}" role="tab">
        <i class="icon-bar-chart icon-large"></i> {% trans %}Total{% endtrans %}
      </a>
    </li>
    <li>
      <a href="#tab-stats-legs" title="{{ _('Leg Statistics') }}" role="tab">
        <i class="icon-resize-horizontal icon-large"></i> {% trans %}Legs{% endtrans %}
      </a>
    </li>

    {%- if flight.has_phases %}
    <li>
      <a href="#tab-stats-phases" title="{{ _('Phase Statistics') }}" role="tab">
        <i class="icon-step-forward icon-large"></i> {% trans %}Phase Statistics{% endtrans %}
      </a>
    </li>
    {%- endif %}

    <li>
      <a href="#tab-wingmen" title="{{ _('Wingmen') }}" role="tab">
        <i class="icon-group icon-large"></i>
      </a>
    </li>
  </ul>
<!-- Tab panes -->
  <div class="sidebar-content">
    <div class="sidebar-pane active" id="tab-overview">
      <h3>{% trans %}Overview{% endtrans %}
        <a href="#" class="btn btn-default btn-share btn-sm pull-right" style="margin-top: 5px; margin-right: 28px;">
          <i class="icon-share-alt icon-small"></i> Share
        </a>
      </h3>
      <div class="sidebar-pane-content">
      {{ render_details_table(flight) }}

        <p>
          <a href="{{ url_for('files.index', filename=flight.igc_file.filename) }}" title="{{ flight.igc_file.filename }}" class="btn btn-default">
            <i class="icon-download-alt icon-large"></i> IGC
          </a>

          <span id="pinned" rel="tooltip" title="{{ _('Activate this to show the flight on top of other flights on the map') }}"></span>
        </p>
      </div>
    </div>
    <div class="sidebar-pane" id="tab-comments">
      <h3><i class="icon-comments-alt"></i> {% trans %}Comments{% endtrans %}</h3>
      <div class="sidebar-pane-content">
        {{ comments|safe }}
      </div>
    </div>
    <div class="sidebar-pane" id="tab-stats-total">
      <h3>{% trans %}Statistics{% endtrans %}</h3>
      <div class="sidebar-pane-content">
        <h4>{% trans %}Circling performance{% endtrans %}</h4>
        {{ render_circling_performance(flight) }}

        <h4>{% trans %}Cruise performance{% endtrans %}</h4>
        {{ render_cruise_performance(flight) }}
      </div>
    </div>
    <div class="sidebar-pane" id="tab-stats-legs">
      <h3>{% trans %}Legs{% endtrans %}</h3>
      <div class="sidebar-pane-content">
        <h4>{% trans %}Distance{% endtrans %}</h4>
        {{ render_leg_statistics(flight, 'olc_plus', 'classic') }}

        <h4>{% trans %}Triangle{% endtrans %}</h4>
        {{ render_leg_statistics(flight, 'olc_plus', 'triangle') }}
      </div>
    </div>

    {%- if flight.has_phases %}
    <div class="sidebar-pane" id="tab-stats-phases">
      <h3>{% trans %}Phase Statistics{% endtrans %}</h3>
      <div class="sidebar-pane-content">
        <div class="table-responsive">
          {{ render_phases_condensed(flight) }}
        </div>
      </div>
    </div>
    {%- endif %}

    <div class="sidebar-pane" id="tab-wingmen">
      <h3>{% trans %}Wingmen{% endtrans %}</h3>
      <div class="sidebar-pane-content">
        {{ render_wingman_table(near_flights) }}
      </div>
    </div>
  </div>
</div>

<div id="map_canvas" class="olFullscreen sidebar-map"></div>
<div id="barogram_panel" class="map-bottom-panel map-overlay">
    <div style="overflow: auto; max-height: 115px">
        <table id="fix-data" class="table table-condensed"></table>
    </div>
    <div id="barogram" style="width:100%; height:133px;"></div>
</div>

<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-hidden="true" style="display:none"></div>
</div>
{%- endblock %}
