{% extends "base-fullscreen.jinja" %}
{% set active_page = "flights" %}
{% set use_ember = true %}
{% set openlayers = true %}


{% from 'flights/meta-tags.jinja' import flight_meta_tags with context %}
{% from 'flights/macros.jinja' import flight_title with context %}


{% block title -%}{{ flight_title(flight) }}{%- endblock %}


{%- block head %}
{{ super() }}
{{ flight_meta_tags(flight) }}
{%- endblock %}


{%- block content %}
<div id="fullscreen-content" class="olFullscreen" data-component='flight-page' data-attrs='{
  "ids": {{ ids|tojson }},
  "flight": {{ flight_json|tojson }},
  "comments":{{ comments|tojson }},
  "performance": {{ performance|tojson }},
  "legs": {{ contest_legs|tojson }},
  "phases": {{ phases|tojson }},
  "nearFlights": {{ near_flights|tojson }}
}'></div>
{%- endblock %}
