{% from "macros/links.jinja" import airport_link %}

{% set my_pilot = g.current_user %}
{% set my_club = my_pilot and my_pilot.club %}

<ul class="nav nav-pills">
  <li{% if tab == 'all' %} class="active"{% endif %}>
    <a href="{{ url_for('.all') }}">{% trans %}All Flights{% endtrans %}</a>
  </li>

  {% if date -%}
  <li>
    <a href="{{ url_for('.date', date=(date - h.datetime.timedelta(days=1)).strftime('%Y-%m-%d')) }}">
      &nbsp;<i class="icon-arrow-left"></i>&nbsp;
    </a>
  </li>
  {%- endif %}

  <li{% if tab == 'date' or tab == 'latest' %} class="active"{% endif %}>
    <a href="{{ url_for('.latest') }}">
      <span class="date">
        {% if date and date != h.datetime.date.today() -%}
        {{ h.format_date(date) }}
        {%- else %}
        {% trans %}Today{% endtrans %}
        {%- endif %}
      </span>
      &nbsp;<span id="datepicker" data-date="{% if date %}{{ date.isoformat() }}{% endif %}" data-date-format="yyyy-mm-dd"><i class="icon-th"></i></span>
    </a>
  </li>

  {% if date -%}
  <li>
    <a href="{{ url_for('.date', date=(date + h.datetime.timedelta(days=1)).strftime('%Y-%m-%d')) }}">
      &nbsp;<i class="icon-arrow-right"></i>&nbsp;
    </a>
  </li>
  {%- endif %}

  {% if airport -%}
  <li class="active">{{ airport_link(airport) }}</li>
  {%- endif %}

  {% if club -%}
  <li class="active"><a href="{{ url_for('.club', id=club.id) }}">{{ club|e }}</a></li>
  {%- endif %}

  {% if my_club and my_club != club -%}
  <li><a href="{{ url_for('.club', id=my_club.id) }}">{{ my_club|e }}</a></li>
  {%- endif %}

  {% if pilot -%}
  <li class="active"><a href="{{ url_for('.pilot', id=pilot.id) }}">{{ pilot|e }}</a></li>
  {%- endif %}

  {% if my_pilot and my_pilot != pilot -%}
  <li><a href="{{ url_for('.pilot', id=my_pilot.id) }}">{{ my_pilot|e }}</a></li>
  {%- endif %}

  {% if my_pilot -%}
  <li{% if tab == 'unassigned' %} class="active"{% endif %}>
    <a href="{{ url_for('.unassigned') }}">{% trans %}Unassigned Flights{% endtrans %}</a>
  </li>
  {%- endif %}

  <li id="pinned-flights-link" style="display: none;"{% if tab == 'pinned' %} class="active"{% endif %}>
    <a href="{{ url_for('.pinned') }}">{% trans %}Pinned Flights{% endtrans %}</a>
  </li>
</ul>
