{% from "macros/pilot.jinja" import pilot_name %}

{% macro render_overview_table(flights) -%}
<div class="row">
  <div class="col-sm-6 col-md-6">
    <table class="table">
       <tbody>
       {% if 'largest' in flights -%}
         {% set flight = flights['largest'] %}
         <tr>
           <th>{% trans %}Furthest flight{% endtrans %}</th>
           <td>{{ h.format_distance(flight.olc_classic_distance) }}</td>
           <td>{{ pilot_name(flight) }}</td>
           <td class="column-buttons">
             <div class="pull-right">
               <a href="{{ url_for('flight.index', flight_id=flight.id) }}" class="btn btn-default btn-sm">Show</a>
             </div>
           </td>
         </tr>
       {%- endif %}

       {% if 'longest' in flights -%}
         {% set flight = flights['longest'] %}
         <tr>
           <th>{% trans %}Longest flight{% endtrans %}</th>
           <td>{{ flight.duration }}</td>
           <td>{{ pilot_name(flight) }}</td>
           <td class="column-buttons">
             <div class="pull-right">
               <a href="{{ url_for('flight.index', flight_id=flight.id) }}" class="btn btn-default btn-sm">Show</a>
             </div>
           </td>
         </tr>
       {%- endif %}

       {% if 'total_distance' in overview -%}
         <tr>
           <th>{% trans %}Total distance{% endtrans %}</th>
           <td colspan="3">{{ h.format_distance(overview['total_distance']) }}</td>
         </tr>
       {%- endif %}
      </tbody>
    </table>
  </div>

  <div class="col-sm-6 col-md-6">

{% if tab == 'date' or tab == 'latest' -%}
{% set image_url = url_for('dyn_images.overview', type='date', value=date) %}
{%- elif tab == 'pilot' %}
{% set image_url = url_for('dyn_images.overview', type='pilot', value=pilot.id) %}
{%- elif tab == 'airport' %}
{% set image_url = url_for('dyn_images.overview', type='airport', value=airport.id) %}
{%- elif tab == 'club' %}
{% set image_url = url_for('dyn_images.overview', type='club', value=club.id) %}
{%- elif tab == 'pinned' %}
{% set image_url = url_for('dyn_images.overview', type='pinned', value=0) %}
{%- elif tab == 'all' %}
{% set image_url = url_for('dyn_images.overview', type='all', value=0) %}
{%- endif %}

    <img src="{{ image_url }}" width="400" height="500" />
  </div>
</div>
{%- endmacro %}
