{% extends "base-page.jinja" %}
{% set active_page = "flights" %}


{% from 'flights/meta-tags.jinja' import flight_meta_tags with context %}
{% from 'flights/details-table.jinja' import render_details_table with context %}
{% from 'flights/wingman-table.jinja' import render_wingman_table with context %}
{% from 'flights/phases-table.jinja' import render_circling_performance, render_cruise_performance,
                                            render_leg_statistics, render_phases with context %}
{% from 'flights/macros.jinja' import flight_title with context %}
{% from 'macros/datetime.jinja' import timeago_script with context %}
{% from 'macros/links.jinja' import user_link %}


{% block title -%}{{ flight_title(flight) }}{%- endblock %}


{%- block head %}
{{ super() }}
{{ flight_meta_tags(flight) }}
{%- endblock %}


{%- block styles %}
{{ super() }}

{% if trace -%}
  {% assets 'openlayers_css' -%}
  <link href="{{ ASSET_URL }}" rel="stylesheet" type="text/css" />
  {%- endassets %}
{%- endif %}
{%- endblock %}


{%- block scripts %}
{{ super() }}

{% if trace -%}
  {% assets 'openlayers_js' -%}
  <script type="text/javascript" src="{{ ASSET_URL }}"></script>
  {%- endassets %}

  {% assets 'flot_js' -%}
  <script type="text/javascript" src="{{ ASSET_URL }}"></script>
  {%- endassets %}
{%- endif %}

{% assets 'flight_js' -%}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{%- endassets %}

{{ timeago_script() }}

{% if trace -%}
<script type="text/javascript">
  $(function() {
    slUnits.init({{ h.json.dumps(h.get_setting_name('distance_unit')) }},
                 {{ h.json.dumps(h.get_setting_name('speed_unit')) }},
                 {{ h.json.dumps(h.get_setting_name('lift_unit')) }},
                 {{ h.json.dumps(h.get_setting_name('altitude_unit')) }});

    initOpenLayers("map_canvas",
                   "{{ config.get('SKYLINES_MAP_TILE_URL') }}",
                   { {% if 'baselayer' in request.args %}'base_layer': '{{ request.args['baselayer'] }}',{% endif %}{% if 'overlays' in request.args %}'overlay_layers': '{{ request.args['overlays'] }}',{% endif %} });
    initFlightLayer();
    initBaro($("#barogram"));

    addFlightFromJSON("/flights/{{ flight.id }}/json?{{ config.get('SKYLINES_CACHE_BUSTER', '') }}",false);

    {% if other_flights -%}
    {% for flight, trace in other_flights if trace -%}
    addFlightFromJSON("/flights/{{ flight.id }}/json?{{ config.get('SKYLINES_CACHE_BUSTER', '') }}");
    {%- endfor %}
    {%- endif %}

    map.zoomToExtent(flights.getBounds().scale(1.02));

    hoverMap();

    var pinnedFlights = getPinnedFlights();
    for (i in pinnedFlights)
      if (pinnedFlights[i] != {{ flight.id }})
        addFlightFromJSON("/flights/" + pinnedFlights[i] + "/json");

    pinButton($("#pinned"), {{ flight.id }});

    $.getScript("https://maps.google.com/maps/api/js?v=3.7&sensor=false&callback=addGoogleLayer");
    addBingLayers("{{ config.get('SKYLINES_BING_API_KEY', 'null') }}");
    addReliefLayer();

    initInfoBox({flight_info: true, location_info: true});

    $('#wingman-table').find('tbody').find('tr').each(function(index, row) {
      $(this).on('click', function() {
        var sfid = $(this).data('sfid');
        if (flights.has(sfid)) {
          removeFlight(sfid);
          unpinFlight(sfid);
        } else {
          addFlightFromJSON("/flights/" + sfid + "/json");
          pinFlight(sfid);
        }
      });
    });

    $('#wingman-table').find('[rel=popover]').popover({
      html: true,
      title: 'Periods',
      placement: 'right',
      trigger: 'hover',
      template: '<div class="popover" style="white-space: nowrap;">' +
                   '<div class="arrow"></div>' +
                   '<h3 class="popover-title"></h3>' +
                   '<div class="popover-content"></div>' +
                '</div>'
    });

    $('#wingman-table').find('[rel=tooltip]').tooltip();
    $('#flight-details-table').find('[rel=tooltip]').tooltip();
  });
</script>
{%- endif %}

<script type="text/javascript">
  /* <![CDATA[ */
  $(function() {
    var url = getShareUrl('{{ request.url }}');
    var content =
        '<div style="text-align:center">' +
        '<input value="' + url + '" type="text" class="form-control" style="margin-bottom:9px">' +
        '<a href="http://www.facebook.com/share.php?u=' + url + '" target="_blank" class="btn btn-default btn-xs"><i class="icon-facebook"> Share</i></a> ' +
        '<a href="https://plus.google.com/share?url=' + url + '" target="_blank" class="btn btn-default btn-xs"><i class="icon-google-plus"> Share</i></a> ' +
        '<a href="http://twitter.com/share?url=' + url + '" target="_blank" class="btn btn-default btn-xs"><i class="icon-twitter"> Tweet</i></a> ' +
        '</div>';

    $(".btn-share").popover({
      trigger: 'click',
      content: content,
      title: '{{ _('Spread the word') }}',
      placement: 'bottom',
      html: true
    });

    $('#detailed-stats').on('shown.bs.collapse', function () {
      addPhasesLayer();
      initPhasesTable($('#phases-table'));
      $('html, body').animate({scrollTop: $("#detailed-stats").offset().top-100}, 200);
    });
  });
  /* ]]> */
</script>
{%- endblock %}


{% block title_right -%}
<a href="#" class="btn btn-default btn-share">
  <i class="icon-share-alt icon-small"></i> Share
</a>
<a href="{{ url_for('files.index', filename=flight.igc_file.filename) }}" title="{{ flight.igc_file.filename }}" class="btn btn-default">
  <i class="icon-download-alt"></i> IGC
</a>
{%- endblock %}


{%- block content %}
<div class="row">
  <div class="col-md-4">
    <div class="tabbable">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#tab-overview" data-toggle="tab">{{ _('Overview') }}</a></li>
        <li>
          <a href="#tab-comments" title="{{ _('Comments') }}" data-toggle="tab">
            <i class="icon-comments-alt icon-large"></i>
            {% if flight.comments[0] -%}
            ({{ flight.comments|count }})
            {%- endif %}
          </a>
        </li>
        <li class="dropdown">
          <a href="#" title="{{ _('Statistics') }}" class="dropdown-toggle" data-toggle="dropdown">
            <i class="icon-bar-chart icon-large"></i> <span class="caret"></span>
          </a>

          <ul class="dropdown-menu" role="menu">
            <li>
              <a href="#tab-stats-total" title="{{ _('Total') }}" data-toggle="tab">
                <i class="icon-plane icon-large"></i> {% trans %}Total{% endtrans %}
              </a>
            </li>
            <li>
              <a href="#tab-stats-legs" title="{{ _('Leg Statistics') }}" data-toggle="tab">
                <i class="icon-resize-horizontal icon-large"></i> {% trans %}Legs{% endtrans %}
              </a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#tab-wingman" title="{{ _('Wingmen') }}" data-toggle="tab">
            <i class="icon-group icon-large"></i>
          </a>
        </li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="tab-overview">
          {{ render_details_table(flight) }}

          <p>
            {%- if trace %}
            <a href="{{ url_for('.map_', baselayer=request.args.get('baselayer'), overlays=request.args.get('overlays')) }}" class="btn btn-default"><i class="icon-fullscreen icon-large"></i> {% trans %}Full-screen map{% endtrans %}</a>
            {%- endif %}

            <span id="pinned" rel="tooltip" title="{{ _('Activate this to show the flight on top of other flights on the map') }}"></span>
          </p>
        </div>

        <div class="tab-pane" id="tab-comments">
          <h3><i class="icon-comments-alt"></i> {% trans %}Comments{% endtrans %}</h3>
          <table class="table">
            {%- for comment in flight.comments %}
            <tr>
              <td>
                {%- if comment.user %}
                <span style="float:left">
                  {{ user_link(comment.user) }}:&nbsp;
                </span>
                {%- endif %}

                {{ h.markdown.convert(comment.text)|safe }}
              </td>
            </tr>
            {%- else %}
            <tr>
              <td><em>{% trans %}No comments yet.{% endtrans %}</em></td>
            </tr>
            {%- endfor %}

            {%- if g.current_user %}
            <tr>
              <td>
                <form action="add_comment" method="POST">
                  <textarea name="text" class="form-control"></textarea><br/>
                  <input type="submit" value="{{ _('Add comment') }}" class="btn btn-primary"/>
                </form>
              </td>
            </tr>
            {%- endif %}
          </table>
        </div>

        <div class="tab-pane" id="tab-stats-total">
          <h3>{% trans %}Circling performance{% endtrans %}</h3>
          {{ render_circling_performance(flight) }}

          <h3>{% trans %}Cruise performance{% endtrans %}</h3>
          {{ render_cruise_performance(flight) }}

          {%- if flight.has_phases %}
          <p><a class='btn btn-default' data-toggle="collapse" data-target="#detailed-stats">
            <i class='icon-info-sign icon-large'></i> {% trans %}Detailed statistics{% endtrans %}
          </a></p>
          {%- endif %}
        </div>

        <div class="tab-pane" id="tab-stats-legs">
          <h3>{% trans %}Distance{% endtrans %}</h3>
          {{ render_leg_statistics(flight, 'olc_plus', 'classic') }}

          <h3>{% trans %}Triangle{% endtrans %}</h3>
          {{ render_leg_statistics(flight, 'olc_plus', 'triangle') }}
        </div>

        <div class="tab-pane" id="tab-wingman">
          <h3>{% trans %}Wingmen{% endtrans %}</h3>
          {{ render_wingman_table(near_flights) }}
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-8">
    {%- if trace %}
    <div id="map_canvas" style="width:100%; height:400pt;"></div>
    <div id="barogram" style="width:100%; height:120pt; margin-top: 5px"></div>
    <table id="fix-data" class="table table-condensed"></table>
    {%- else %}
      {% trans %}An error occurred while decoding this flight.{% endtrans %}
    {%- endif %}
  </div>
</div>

<div id="detailed-stats" class="collapse out">
  <hr />
  <div class="row">
    <div class="col-md-12">
      <h3>{% trans %}Phases{% endtrans %}</h3>
      <div class="table-responsive">
        {{ render_phases(flight) }}
      </div>
    </div>
  </div>
</div>
{%- endblock %}
