{% from 'macros/links.jinja' import user_link %}

{% macro render_wingman_table(near_flights) -%}
<table id="wingman-table" class="table table-condensed" itemscope="" itemtype="https://schema.org/SportsEvent">
  <thead>
    <tr>
      <th class="color-stripe"></th>
      <th>{% trans %}Aircraft{% endtrans %}</th>
      <th>{% trans %}Pilot{% endtrans %}</th>
      <th>First / Last</th>
    </tr>
  </thead>
  <tbody>
    {% for key, near_flight in near_flights.iteritems() -%}
    <tr data-sfid="{{ near_flight['flight'].id }}">
      <td class="color-stripe"></td>
      <td>
        {%- if near_flight['flight'].model_id %}
        <span rel="tooltip" title="{{ _('Handicap') ~ ': ' ~ near_flight['flight'].model.dmst_index }}">{{ near_flight['flight'].model|e }}</span>
        {%- elif near_flight['flight'].igc_file.model -%}
        [{{ near_flight['flight'].igc_file.model|e }}]
        {%- else -%}
        {% trans %}Unknown{% endtrans %}
        {%- endif %}
        <small><br />
          {%- if near_flight['flight'].registration %}
            {{ near_flight['flight'].registration|e }}
          {%- elif near_flight['flight'].igc_file.registration %}
            {{ near_flight['flight'].igc_file.registration|e }}
          {%- endif %}

          {%- if near_flight['flight'].competition_id %}
            &ndash; {{ near_flight['flight'].competition_id|e }}
          {%- elif near_flight['flight'].igc_file.competition_id %}
            &ndash; {{ near_flight['flight'].igc_file.competition_id|e }}
          {%- endif %}
        </small>
      </td>
      <td>
        {% if near_flight['flight'].pilot or near_flight['flight'].pilot_name -%}
        <span itemprop="performer" itemscope="" itemtype="https://schema.org/Person">
          {% if near_flight['flight'].pilot -%}
          <meta itemprop="url" content="{{ url_for('user.index', user_id=near_flight['flight'].pilot_id) }}" />
          {{ user_link(near_flight['flight'].pilot, ' itemprop="name"') }}
          {%- else -%}
          {{ near_flight['flight'].pilot_name|e }}
          {%- endif %}
        </span>
        {%- endif %}

        {%- if (near_flight['flight'].pilot or near_flight['flight'].pilot_name) and (near_flight['flight'].co_pilot or near_flight['flight'].co_pilot_name) %}<br/>{% endif -%}

        {% if near_flight['flight'].co_pilot or near_flight['flight'].co_pilot_name -%}
        <span itemprop="performer" itemscope="" itemtype="https://schema.org/Person">
          {% if near_flight['flight'].co_pilot -%}
          <meta itemprop="url" content="{{ url_for('user.index', user_id=near_flight['flight'].co_pilot_id) }}" />
          {{ user_link(near_flight['flight'].co_pilot, ' itemprop="name"') }}
          {%- else -%}
          {{ near_flight['flight'].co_pilot_name|e }}
          {%- endif %}
        </span>
        {%- endif %}

        {%- if not (near_flight['flight'].pilot or near_flight['flight'].pilot_name or near_flight['flight'].co_pilot or near_flight['flight'].co_pilot_name) %}
        [unspecified]
        {%- endif %}
      </td>
      <td rel="popover" data-content="<table>
        {% for times in near_flight['times'] -%}
          <tr>
            <td style='text-align: right;'>{{ h.format_time(times['start']) }}</td>
            <td>-</td>
            <td>{{ h.format_time(times['end']) }}</td>
          </tr>
        {%- endfor %}</table>">
          {{ h.format_time(near_flight['times'][0]['start']) }}<br />
          {{ h.format_time(near_flight['times'][-1]['end']) }}
      </td>
    </tr>
    {%- endfor %}
  </tbody>
</table>
{%- endmacro %}
