#about {
  .social-buttons .btn-group {
    float: right;
  }

  .social-buttons .btn {
    width: 40px;
  }

  h2 {
    font-size: 22px;

    .fa {
      width: 1.2em;
      text-align: center;
    }

    a {
      color: inherit;
      text-decoration: none;

      &:hover {
        color: #666;
      }
    }

    small {
      font-size: 13px;
    }
  }

  p {
    text-align: justify;
  }

  .banner div {
    padding: 0;
  }
}
