.FullscreenButton {
  z-index: 1006 !important;

  position: absolute;
  top: 88px;
  right: 12px;
  padding-left: 4px;

  width: 32px;
  height: 32px;

  font-size: 26px;
  line-height: 30px;

  background: white;
  background: rgba(255,255,255,0.7);
  border: 1px solid #bbb;
  border-radius: 4px;
  box-shadow: 0 0 8px rgba(50,50,50,0.3);

  cursor: pointer;
}

.FullscreenButton:hover {
  background: white;
}
