@import 'ember-power-select/themes/bootstrap';
@import 'ember-power-select';

.ember-power-select-trigger {
  height: 34px;
  padding: 6px 12px;
  line-height: 1.428571429;
  cursor: default;
}

.has-success .ember-power-select-trigger {
  border-color: #468847;
}

.has-success .ember-power-select-trigger:focus {
  border-color: #356635;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 6px #7aba7b;
}

.has-error .ember-power-select-trigger {
  border-color: #b94a48;
}

.has-error .ember-power-select-trigger:focus {
  border-color: #953b39;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 6px #d59392;
}
