@font-face {
  font-family: 'Ubuntu';
  src: local('Ubuntu Light'), local('Ubuntu-Light'), url('../font/ubuntu-l.eot');
  src: local('Ubuntu Light'), local('Ubuntu-Light'),
       url('../font/ubuntu-l.eot?#iefix') format('embedded-opentype'),
       url('../font/ubuntu-l.woff') format('woff'),
       url('../font/ubuntu-l.ttf') format('truetype'),
       url('../font/ubuntu-l.svg#UbuntuLight') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu';
  src: local('Ubuntu Bold'), local('Ubuntu-Bold'), url('../font/ubuntu-b.eot');
  src: local('Ubuntu Bold'), local('Ubuntu-Bold'),
       url('../font/ubuntu-b.eot?#iefix') format('embedded-opentype'),
       url('../font/ubuntu-b.woff') format('woff'),
       url('../font/ubuntu-b.ttf') format('truetype'),
       url('../font/ubuntu-b.svg#UbuntuBold') format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu';
  src: local('Ubuntu'), url('../font/ubuntu-r.eot');
  src: local('Ubuntu'),
       url('../font/ubuntu-r.eot?#iefix') format('embedded-opentype'),
       url('../font/ubuntu-r.woff') format('woff'),
       url('../font/ubuntu-r.ttf') format('truetype'),
       url('../font/ubuntu-r.svg#UbuntuRegular') format('svg');
  font-weight: 400;
  font-style: normal;
}
