<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="layout.html" />
  <xi:include href="../snippets/flags.html" />

  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" py:if="False"/>
    <title>Top 20</title>
  </head>

  <body>
    <table class="table table-striped">
      <thead>
        <th class="numeric">#</th>
        <th>Name</th>
        <th class="numeric">Flights</th>
        <th class="numeric">Total Score</th>
      </thead>
      <tbody>
        <tr py:for="airport,count,total,rank in result">
          <td class="numeric">${rank}</td>
          <td>
            ${insert_flag(airport.country_code)}
            <a py:if="airport.id" py:content="airport.name" href="/flights/airport/${airport.id}">
              Airport Name
            </a>
          </td>
          <td class="numeric">${count}</td>
          <td class="numeric">${total} pt</td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
