{% from 'macros/pager.jinja' import pager, pager_script with context %}


{% set partial = 'partial' in request.params %}

{% if not partial %}
{% extends "base-page.jinja" %}

{% set header_tabs = [
    (h.url('/ranking/clubs', params=dict(year=year)), 'clubs', _('Clubs')),
    (h.url('/ranking/pilots', params=dict(year=year)), 'pilots', _('Pilots')),
    (h.url('/ranking/airports', params=dict(year=year)), 'airports', _('Airports')),
] %}

{% set active_page = "ranking" %}

{% block title %}{% trans %}Ranking{% endtrans %}{% endblock %}
{%- endif %}

{% macro ranking() -%}
<div class="row">
  <div class="span6">
    <ul class="nav nav-pills">
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
          {% if year is number -%}
          {{ _('Season %(year)s')|format(year=year) }}
          {%- else -%}
          {{ _('All time') }}
          {%- endif %}
          <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <li{% if not year %} class="active"{% endif %}><a href="?year=all">{{ _('All time') }}</a></li>
          <li class="divider"></li>
          {% for _year in range(current_year, current_year - 5, -1) -%}
          <li{% if year == _year %} class="active"{% endif %}><a href="?year={{ _year }}">{{ _year }}</a></li>
          {%- endfor %}
        </ul>
      </li>
    </ul>
  </div>
  <div class="span6">
    <div class="pull-right">
      {{ pager('result', dict(year=year)) }}
    </div>
  </div>
</div>

{% block ranking %}{% endblock %}

<div class="row">
  <div class="span12">
    <div class="pull-right">
      {{ pager('result', dict(year=year)) }}
    </div>
  </div>
</div>

{%- endmacro %}

{% block scripts -%}
{% if not partial %}{{ super() }}{%- endif %}
{{ pager_script() }}
{%- endblock %}

{% block content -%}
{% if partial %}{{ ranking() }}{% else %}<div id="partial">{{ ranking() }}</div>{% endif %}
{%- endblock %}
