<?python
from tg.i18n import ugettext as _

page = 'ranking'
title = _('Ranking')
?>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="../snippets/pager.html" />

  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" py:if="False"/>
    <title py:if="False">Top 20</title>
  </head>

<py:match path="body" once="true">
  <body py:attrs="select('@*')">
    <div id="partial">
    <div class="row">
      <div class="span6">
        <ul class="nav nav-pills">
          <li class="${h.string_if('active', defined('tab') and tab == 'clubs')}"><a href="clubs">Clubs</a></li>
          <li class="${h.string_if('active', defined('tab') and tab == 'pilots')}"><a href="pilots">Pilots</a></li>
          <li class="${h.string_if('active', defined('tab') and tab == 'airports')}"><a href="airports">Airports</a></li>
        </ul>
      </div>
      <div class="span6">
        <div class="pull-right">
          ${pager('result')}
        </div>
      </div>
    </div>

    ${select('*|text()')}

    <div class="row">
      <div class="span12">
        <div class="pull-right">
          ${pager('result')}
        </div>
      </div>
    </div>
    </div>
  </body>
</py:match>

<xi:include href="../master/page.html" py:if="'partial' not in request.params" />
<xi:include href="../snippets/pager-partial.html" />

</html>
