{% from "macros/links.jinja" import user_link, club_link %}

{% extends "ranking/layout.jinja" %}

{% block ranking -%}
<table class="table table-striped">
  <thead>
    <th class="numeric">#</th>
    <th>{% trans %}Name{% endtrans %}</th>
    <th>{% trans %}Club{% endtrans %}</th>
    <th class="numeric">{% trans %}Flights{% endtrans %}</th>
    <th class="numeric">{% trans %}Total Score{% endtrans %}</th>
  </thead>
  <tbody>
    {% for pilot, count, total, rank in result -%}
    <tr>
      <td class="numeric">{{ rank }}</td>
      <td>{{ user_link(pilot) }}</td>
      <td>{% if pilot.club_id %}{{ club_link(pilot.club) }}{% endif %}</td>
      <td class="numeric">{{ count }}</td>
      <td class="numeric">{{ _('%(points)s pt', points=total) }}</td>
    </tr>
    {%- else -%}
    <tr>
      <td colspan="5">{% trans %}No pilots found.{% endtrans %}</td>
    </tr>
    {%- endfor %}
  </tbody>
</table>
{%- endblock %}
