<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master/page.html" />

  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" py:if="False"/>
    <title>Settings</title>
  </head>

  <body>
    <div class="row">
      <div class="well span8 offset2">
        <table class="table">
          <tr>
            <th>Login</th>
            <td py:content="user.user_name">Foo</td>
          </tr>
          <tr>
            <th>EMail</th>
            <td py:content="user.email_address">Foo</td>
          </tr>
          <tr>
            <th>Full name</th>
            <td py:content="user.display_name">Foo</td>
          </tr>
          <tr>
            <th>Club</th>
            <td>
              <a py:if="user.club" py:content="user.club.name" href="/clubs/${user.club.id}/">Foo</a>
              <span py:if="not user.club" py:strip="True">None</span>
              <a href="change_club" class="btn btn-mini">Change</a>
            </td>
          </tr>
          <tr>
            <th>Live Tracking</th>
            <td>
              <span py:if="user.tracking_key" py:strip="True">
                Yes
                <a href="tracking_info" class="btn btn-mini">More Information</a>
                <a href="/tracking/${user.user_id}" class="btn btn-mini">Your Live Tracks</a>
              </span>
              <span py:if="not user.tracking_key" py:strip="True">
                Not registered
                <a href="tracking_register" class="btn btn-mini">Register now</a>
              </span>
            </td>
          </tr>
          <tr py:if="request.identity and 'manage' in request.identity['permissions']">
            <th>Groups</th>
            <td>
              <ul>
                <li py:for="group in user.groups" py:content="group">Group name</li>
              </ul>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </body>
</html>
