{% set embedded = 'embedded' in request.values %}

{% if not embedded -%}
{% extends "base-page.jinja" %}
{% block title %}{{ title }}{% endblock %}
{%- endif %}


{% block content -%}
{% if embedded -%}

<div class="modal-dialog">
  <form action="{{ action }}" method="post">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">{{ title }}</h4>
      </div>
      <div class="modal-body">
        <label class="large">{{ question }}</label>
      </div>
      <div class="modal-footer">
        <input type="submit" value="{{ _('Yes') }}" class="btn btn-primary"/>
        <button type="button" class="btn btn-default" data-dismiss="modal">{% trans %}No{% endtrans %}</button>
      </div>
    </div>
  </form>
</div>

{%- else -%}

<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <form action="{{ action }}" method="post">
      <label class="large">{{ question }}</label>
      <div>
        <input type="submit" value="{{ _('Yes') }}" class="btn btn-primary"/>
        <a href="{{ cancel }}" class="btn btn-default">{% trans %}No{% endtrans %}</a>
      </div>
    </form>
  </div>
</div>

{%- endif %}
{%- endblock %}
