{% extends "base-page-FLASK.jinja" %}

{% block title %}{{ title }}{% endblock %}

{% block scripts -%}
{{ super() }}
{% if include_script %}{% include include_script with context %}{% endif %}
{%- endblock %}

{% block content -%}
<div class="row">
  <div class="box span8 offset2">
    {{ form(values) }}
    {% if include_after %}{% include include_after with context %}{% endif %}
  </div>
</div>
{%- endblock %}
