<BasePage>
  <div class="page-header">
    <h1>
      {{t "imprint"}}
    </h1>
  </div>

  <div class="row">
    <div class="col-md-12">
      {{markdown model.content}}
    </div>
  </div>
</BasePage>