<BasePage>
  <div class="page-header">
    <h1>
      {{t "license"}}
    </h1>
  </div>

  <div class="row">
    <div class="col-md-12">
      <pre>{{model.content}}</pre>
    </div>
  </div>
</BasePage>