{% extends "base.jinja" %}
{% from 'topbar.jinja' import topbar with context %}

{% block body -%}
{{ topbar(active_page) }}

<div id="ember-application">
    {% block content %}{% endblock %}
</div>
{%- endblock %}
