<!doctype html>
<html>
<head>
    {%- block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    {% if use_ember %}
      <meta name="skylines-locale" content="{{ g.active_locale }}">
      {% if g.current_user %}
        <meta name="skylines-user" content="{{ g.current_user.id }}||{{ g.current_user.name|e }}">
        {% if g.current_user.club %}
          <meta name="skylines-club" content="{{ g.current_user.club.id }}||{{ g.current_user.club|e }}">
        {% endif %}

        <meta name="skylines-distance-unit" content="{{ h.get_setting_name('distance_unit') }}">
        <meta name="skylines-speed-unit" content="{{ h.get_setting_name('speed_unit') }}">
        <meta name="skylines-lift-unit" content="{{ h.get_setting_name('lift_unit') }}">
        <meta name="skylines-altitude-unit" content="{{ h.get_setting_name('altitude_unit') }}">
      {% endif %}
    {% endif %}

    {% if not use_ember %}
      <title>{% filter striptags %}{% block title %}{% endblock %}{% if self.title() %} - {% endif %}SkyLines{% endfilter %}</title>
    {% endif %}

    <link rel='shortcut icon' href='/favicon.ico' type='image/x-icon' />
    <link rel='shortcut' href='/favicon.png' type='image/png' />

    {% block styles -%}
    {%- assets 'ember_vendor_css' %}
      <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}"/>
    {%- endassets %}
    {%- assets 'ember_app_css' %}
      <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}"/>
    {%- endassets %}
    {%- endblock %}

    {%- endblock %}
</head>
<body>
{%- block body %}{% endblock %}

{% block scripts -%}

{%- assets 'all_js' %}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{%- endassets %}

<script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=Intl.~locale.en,Intl.~locale.de&unknown=polyfill"></script>

{%- assets 'ember_vendor_js' %}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{%- endassets %}

{%- assets 'ember_app_js' %}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{%- endassets %}

{%- endblock %}
</body>
</html>
