<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <link rel='shortcut icon' href='/favicon.ico' type='image/x-icon' />
  <link rel='shortcut' href='/favicon.png' type='image/png' />

  {% for link in assets.link %}
    <link rel="{{ link.rel }}" href="{{ link.href }}"/>
  {% endfor %}
</head>
<body>
{% for script in assets.script %}
  <script src="{{ script.src }}"></script>
{% endfor %}
</body>
</html>
