{% extends "base-form.jinja" %}
{% set active_page = "login" %}

{% from "macros/form.jinja" import render_field %}

{% block title %}{% trans %}Login{% endtrans %}{% endblock %}

{% block form -%}
<form method="POST" action="{{ url_for('login', next=next) }}" role="form" class="form-login">
  {{ form.hidden_tag() }}
  {{ render_field(form.email_address) }}
  {{ render_field(form.password) }}
  {{ render_field(form.remember_me) }}
  <div class="form-group">
    <input class="form-control btn btn-primary" value="{{ _('Login') }}" type="submit"/>
  </div>

  <hr/>

  <div>
    <a href="{{ url_for('users.recover') }}">{% trans %}Forgot password?{% endtrans %}</a>
  </div>

  <div>
    <a href="{{ url_for('users.new') }}">{% trans %}Don't have an account?{% endtrans %}</a>
  </div>
</form>
{%- endblock %}
