{% from "macros/flags.jinja" import insert_flag with context %}
{% from "macros/form.jinja" import render_field %}

{% macro topbar(active_page) -%}
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        {{ _topbar_content(active_page) }}
    </div>
</div>
{%- endmacro %}

{% macro _topbar_content(active_page) -%}
<div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="{{ url_for('index') }}">
        <img src="/images/logo.png" class="logo" /> <span class="skylines-blue">Sky</span><span class="skylines-white">Lines</span>
    </a>
</div>

<div class="collapse navbar-collapse navbar-ex1-collapse">
    <div data-component="nav-bar-menu" data-attrs='{"activePage":{{ active_page|tojson }}}'></div>

    <form action="{{ url_for('search.index') }}" class="navbar-form navbar-left navbar-search visible-lg" role="search">
        <div class="form-group">
            <input type="text" name="text" value="{{ (search_text or '')|e }}" placeholder="{{ _('Search') }}" class="form-control">
        </div>
    </form>

    <div data-component="nav-bar-menu-right" data-attrs='{"activePage":{{ active_page|tojson }}}'></div>

    <ul class="nav navbar-nav navbar-right">
        <li{% if active_page == 'upload' %} class="active"{% endif %}>
            <a href="{{ url_for('upload.index') }}" title="{{ _('Upload flight') }}">
              <i class="icon-upload-alt icon-large hidden-xs"></i>
              <i class="icon-upload-alt icon-fixed-width visible-xs"></i>
              <span class="visible-xs">{{ _('Upload flight') }}</span>
            </a>
        </li>

        {% if g.current_user -%}
          {{ _notification_item(active_page) }}
        {%- endif %}
    </ul>
</div>
{%- endmacro %}

{%- macro _notification_item(active_page) -%}
<li{% if active_page == 'notifications' %} class="active"{% endif %}>
    <a href="{{ url_for('notifications.index') }}" title="{{ _('Notifications') }}">
        <span class="visible-xs">{{ _('Notifications') }}&nbsp;&nbsp;</span>
        <span data-component="notifications-badge"></span>
    </a>
</li>
{%- endmacro %}

