{% from "users/users-table.jinja" import render_users_table with context %}
{% from "macros/links.jinja" import club_link %}

{% extends "base-page.jinja" %}

{% block title -%}
{% trans club=club_link(club) -%}
Members <small>of {{ club }}</small>
{%- endtrans %}
{%- endblock %}

{% block body_attributes -%} itemscope="SportsTeam" itemtype="http://schema.org/SportsTeam"{%- endblock %}

{% block content -%}
<meta itemprop="name" content="{{ club|e }}" />
<meta itemprop="url" content="/clubs/{{ club.id }}" />

{{ render_users_table(users, False) }}
{%- endblock %}
