<div id="fullscreen-content" class="olFullscreen">
  {{flight-page
    ids=ids
    flight=model.flight
    comments=model.comments
    performance=model.performance
    legs=model.contest_legs
    phases=model.phases
    nearFlights=model.near_flights}}
</div>