{% from "macros/links.jinja" import club_link %}
{% from 'macros/sorter.jinja' import sorter with context %}

{% extends "ranking/layout.jinja" %}

{% block ranking -%}
<table class="table table-striped">
  <thead>
    <th class="numeric sorting">
      {{ sorter('sorter', '#', 'rank', dict(year=year, **g.paginators['result'].args())) }}
    </th>
    <th>{% trans %}Name{% endtrans %}</th>
    <th class="numeric sorting">
      {{ sorter('sorter', _('Flights'), 'count', dict(year=year, **g.paginators['result'].args())) }}
    </th>
    <th class="numeric sorting">
      {{ sorter('sorter', _('Total Score'), 'total', dict(year=year, **g.paginators['result'].args())) }}
    </th>
  </thead>
  <tbody>
    {% for club, count, total, rank in result -%}
    <tr>
      <td class="numeric">{{ rank }}</td>
      <td>{{ club_link(club) }}</td>
      <td class="numeric">{{ count }}</td>
      <td class="numeric">{{ _('%(points)s pt', points=h.format_decimal(total, format='0.0')) }}</td>
    </tr>
    {%- else -%}
    <tr>
      <td colspan="4">{% trans %}No clubs found.{% endtrans %}</td>
    </tr>
    {%- endfor %}
  </tbody>
</table>
{%- endblock %}
