{% from 'macros/pager.jinja' import pager, pager_script, pager_shortcut_script with context %}
{% from 'macros/sorter.jinja' import sorter_script with context %}


{% set partial = 'partial' in request.args %}

{% if not partial %}
{% extends "base-page.jinja" %}

{% set header_tabs = [
    (url_for('.clubs', year=year), 'clubs', _('Clubs')),
    (url_for('.pilots', year=year), 'pilots', _('Pilots')),
    (url_for('.airports', year=year), 'airports', _('Airports')),
] %}

{% set active_page = "ranking" %}

{% block title %}{% trans %}Ranking{% endtrans %}{% endblock %}
{%- endif %}

{% macro ranking() -%}
<div class="row">
  <div class="col-sm-6">
    <ul class="nav nav-pills">
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
          {% if year is number -%}
          {{ _('Season %(year)s', year=year) }}
          {%- else -%}
          {{ _('All time') }}
          {%- endif %}
          <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <li{% if not year %} class="active"{% endif %}><a href="?year=all">{{ _('All time') }}</a></li>
          <li class="divider"></li>
          {% for _year in range(current_year, current_year - 5, -1) -%}
          <li{% if year == _year %} class="active"{% endif %}><a href="?year={{ _year }}">{{ _year }}</a></li>
          {%- endfor %}
        </ul>
      </li>
    </ul>
  </div>
  <div class="col-sm-6">
    <div class="pull-right">
      {{ pager('result', dict(year=year, **g.sorters['sorter'].args())) }}
    </div>
  </div>
</div>

{% block ranking %}{% endblock %}

<div class="row">
  <div class="col-sm-12">
    <div class="pull-right">
      {{ pager('result', dict(year=year, **g.sorters['sorter'].args())) }}
    </div>
  </div>
</div>

{% with page=g.paginators['result'] -%}
<div id="page-position"
     data-page-prev="{{ h.max(page.first_page, page.page - 1) }}"
     data-page-current="{{ page.page }}"
     data-page-next="{{ h.min(page.last_page, page.page + 1) }}"></div>
{% endwith %}


{%- endmacro %}

{% block scripts -%}
{% if not partial %}
{{ super() }}
{{ pager_shortcut_script('result', dict(year=year, **g.sorters['sorter'].args())) }}
{%- endif %}
{{ pager_script() }}
{{ sorter_script() }}
{%- endblock %}

{% block content -%}
{% if partial %}{{ ranking() }}{% else %}<div id="partial">{{ ranking() }}</div>{% endif %}
{%- endblock %}
