.table-events {
  margin: 18px 0;
}

.table-events .icon {
  width: 30px;
  text-align: center;
  font-size: 200%;
  padding-right: 0;
}

.table-events .badge {
  margin-right: 10px;
}

.table-events a {
  color: inherit;
}

.list-subevents {
    font-size: 85%;
    list-style: none;
    padding: 0;
}

.list-subevents li:before {
    padding: 0.5em;
    content: "▶";
}

.list-subevents li.unread:before {
    color: #f0ad4e;
}
