.olControlAttribution {
  background: white;
  opacity: 0.7;
  bottom: 0 !important;
  right: 0 !important;
  padding: 1px 5px;
  border-top-left-radius: 4px;
}

.olFullscreen {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #fff;
}

.olFullscreen .olControlAttribution {
  bottom: 125pt !important;
}

.olFullscreen .olControlScaleLine {
  bottom: 125pt !important;
}

.olMap .plane_marker {
  position: absolute;
  min-height: 1em;
}
