.panel {
  position: relative;
}

.panel > form {
  padding-top: 12px;
}

.panel-body > form:last-child > .form-group:last-child {
  margin-bottom: 0;
}

.panel-body > :last-child,
.panel-body > div:last-child > :last-child {
  margin-bottom: 0;
}

.panel-help-icon {
  position: absolute;
  right: 5pt;
  top: 0px;
  font-size: 20pt;
}

.panel-help-icon > a {
  color: #aaa;
  text-decoration: none;
}

.panel-help-icon > a:hover {
  color: #666;
}

.panel-separator {
  padding: 10px 15px;
  background-color: rgb(245, 245, 245);
  border-top: 1px solid rgb(221, 221, 221);
  border-bottom: 1px solid rgb(221, 221, 221);
}

.panel-subtitle {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 16px;
    font-weight: normal;
}
