.navbar-search input {
  color: #bbb;
  background-color: #626262;
  border: 1px solid #333;
}

.navbar-search input:focus {
  color: #666;
  background-color: white;
}

.search-results .column-icon {
  width: 1px;
  text-align: center;
}

.search-results .column-type {
  width: 70px;
}
