{% extends "base-fullscreen.jinja" %}
{% set active_page = "task" %}


{% block title -%}Task{%- endblock %}


{%- block head %}
{{ super() }}
{%- endblock %}


{%- block styles %}
{{ super() }}

{% assets 'openlayers_css' -%}
<link href="{{ ASSET_URL }}" rel="stylesheet" type="text/css" />
{%- endassets %}
{%- endblock %}


{%- block scripts %}
{{ super() }}

{% assets 'openlayers_js' -%}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{%- endassets %}

{% assets 'task_js' -%}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{%- endassets %}

<script type="text/javascript">
  $(function() {
    var sidebar = $('#sidebar').sidebar();

    if (window.location.hash &&
        sidebar.find('li > a[href="#' + window.location.hash.substring(1) + '"]').length != 0) {
      sidebar.open(window.location.hash.substring(1));
    }

    if (!isCanvasSupported()) {
      $("#map_canvas").html('<b>Your browser is too old to display this map.<br />' +
                            'Please update to a current version.</b>');
      return;
    }

    slUnits.init({{ h.json.dumps(h.get_setting_name('distance_unit')) }},
                 {{ h.json.dumps(h.get_setting_name('speed_unit')) }},
                 {{ h.json.dumps(h.get_setting_name('lift_unit')) }},
                 {{ h.json.dumps(h.get_setting_name('altitude_unit')) }});

    var sl_map =
      new slMap("map_canvas",
                "{{ config.get('SKYLINES_MAP_TILE_URL') }}",
                { {% if 'baselayer' in request.args %}'base_layer': '{{ request.args['baselayer'] }}',{% endif %}{% if 'overlays' in request.args %}'overlay_layers': '{{ request.args['overlays'] }}',{% endif %} });

    var map = sl_map.getMap();

    sl_map.addBingLayers("{{ config.get('SKYLINES_BING_API_KEY', 'null') }}");
    sl_map.addMapboxLayer("{{ config.get('SKYLINES_MAPBOX_API_KEY', 'null') }}");

    var fullscreen_button = new FullscreenButton($("#fullscreen-content"));
    map.addControl(fullscreen_button);

    var sl_task_planner = new slTaskPlanner(sl_map, $('#tab-overview .sidebar-pane-content'));
  });
</script>
{%- endblock %}


{%- block content %}
<div id="fullscreen-content" class="olFullscreen">
<div id="sidebar" class="sidebar">
<!-- Nav tabs -->
  <ul class="sidebar-tabs" role="tablist">
    <li class="active">
      <a href="#tab-overview" title="{{ _('Overview') }}" role="tab">
        <i class="icon-info icon-large"></i>
      </a>
    </li>
  </ul>
<!-- Tab panes -->
  <div class="sidebar-content">
    <div class="sidebar-pane active" id="tab-overview">
      <h3>{% trans %}Overview{% endtrans %}
      </h3>
      <div class="sidebar-pane-content">
        Overview
        <hr>
        Waypoints
      </div>
    </div>
  </div>
</div>

<div id="map_canvas" class="olFullscreen sidebar-map"></div>

<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-hidden="true" style="display:none"></div>
</div>
{%- endblock %}
