<div class="container">
  <div class="content">
    <div class="page-header">
      <h1>{{t "live-tracking"}}</h1>
    </div>

    <div class="row">
      <div class="col-md-12">
        <p>Loading...</p>

        <a href="/tracking/info" class="btn btn-default"><i class="icon-question-sign"></i> {{t "how-to-use-live-tracking"}}</a>
      </div>
    </div>
  </div>

  <p class="footer">
    &copy; <a href="/about/team">{{t "the-skylines-team"}}</a> -
    <a href="/about/imprint">{{t "imprint"}}</a>
  </p>
</div>
