<BasePage>
  <div class="page-header">
    <h1>{{t "live-tracking"}}</h1>
  </div>

  <div class="row">
    <div class="col-md-12">
      <p>{{t "loading"}}</p>

      <LinkTo @route="tracking.info" class="btn btn-default">{{fa-icon "question-circle"}} {{t "how-to-use-live-tracking"}}</LinkTo>
    </div>
  </div>
</BasePage>