<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      py:strip="">

  <xi:include href="../headers/jquery/timeago.html" />

  <py:match path="head" once="true">
    <head py:attrs="select('@*')">
      ${select('*')}
      <script>$(function() { $("abbr.timeago").timeago(); });</script>
    </head>
  </py:match>

  <abbr py:def="insert_timeago(dt)"
        class="timeago"
        title="${h.isoformat_utc(dt)}"
        rel="tooltip">${h.format_datetime(dt)} UTC</abbr>

  <abbr py:def="insert_timeago_date(dt)"
        class="timeago"
        title="${h.isoformat_utc(dt)}"
        rel="tooltip">${h.format_date(dt)}</abbr>
</html>
