<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      py:strip="">

  <xi:include href="../headers/flash.html" />
  
  <py:def function="insert_flash_message(floating)">
    <?python
      flash = h.flash.pop_payload()
      flash_class = 'alert'
      
      if flash and flash['status'] == 'ok':
          flash_class = flash_class + ' alert-info'
      elif flash and flash['status'] == 'error':
          flash_class = flash_class + ' alert-error'
      
      if floating:
          flash_class = flash_class + ' alert-floating'
    ?>

    <div py:if="flash" class="${flash_class}">
      <button class="close" data-dismiss="alert">×</button>
      <strong py:if="flash['status'] == 'warning'">Warning!</strong>
      <strong py:if="flash['status'] == 'error'">Error!</strong>
      ${flash.message}
    </div>
  </py:def>
</html>
