<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      py:strip="">

  <py:match path="head" once="true">
    <head py:attrs="select('@*')">
      ${select('*')}
      <script py:if="h.not_included_yet()">
      /* <![CDATA[ */
      $(function() {
         $(".pagination a").click(function() {
           if (this.href.indexOf('#', this.href.length - 1) === -1)
             $("#partial").load(this.href + (this.href.indexOf('?') != -1 ? "&" : "?") + "partial");
           return false;
         });
      });
      /* ]]> */
      </script>
    </head>
  </py:match>

</html>
